	<!-- open-for-bidding -->
	<div class="tab-pane active" id="open-for-bidding">
		<table class='table' data-toggle="table" data-sort-name="stargazers_count" data-sort-order="desc" data-search="true" data-show-refresh="true" data-pagination="true">
		<thead>
			<tr class='active'>
				<th data-width="37%" data-sortable="true">Name</th>
				<th data-width="12%" data-sortable="true">Bids</th>
				<th data-width="12%" data-sortable="true">Averagre Price</th>
				<th data-width="12%" data-sortable="true">Time Remaining</th>
				<th data-width="12%" data-sortable="true">Status</th>
				<th data-width="12%">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><a href="" title="竞标名称">竞标名称</a></td>
				<td>
					<a href="" title="">10</a>
				</td>
				<td>0 USD</td>
				<td>6days 7h</td>
				<td>
					<span class=''>Waiting for bids</span>
				</td>
				<td>
					<a href="javascript:;" class='action action_add' data-projectId='51065' data-projectActon='111'>Add</a>
					<!-- 暂时不考虑 -->
					<!-- <a href="" class="action">Promote</a>  -->
					<!-- <a href="connection.html?projectacton=112&projectid=51065" class="action" data-projectId='51065' data-projectActon='112'>Invite</a> -->
					<a href="" class='action action_112' data-projectId='51065' data-projectActon='112'>Invite</a>
					<a href="publish-quick-result.html?projectacton=113&projectid=51065#pubResault-list" class="action" data-projectId='51065' data-projectActon='113'>Select</a>
					<a href="javascript:;" class='action action_cancel' data-projectId='51065' data-projectActon='114'>Cancel</a>
				</td>
			</tr>			
			<tr>
				<td><a href="" title="竞标名称">竞标名称</a></td>
				<td><a href="" title="">10</a></td>
				<td>10 USD</td>
				<td>0</td>
				<td>
					<span class=''>Proposal Selecting</span>
				</td>
				<td>
					<a href="publish-quick-result.html?projectacton=121&projectid=51066#pubResault-list" class="action" data-projectId='51066' data-projectActon='121'>Select</a>
					<a href="javascript:;" class='action action_122' data-projectId='51066' data-projectActon='122'>Extend</a>
					<a href="javascript:;" class='action action_cancel' data-projectId='51066' data-projectActon='123'>Cancel</a>
				</td>
			</tr>
		</tbody>
		</table>
	</div>
	<!-- open -for-bidding 交互 -->

	<!-- add 操作 -->
		<div class="open-waiting-add" id='open-waiting-add' style='display: none;padding: 10px;padding-bottom: 0'>
			<div class="form-group">
				<!-- <textarea name="" class='form-control' id='js_111_content' rows='5' cols="100"></textarea> -->
				
				<wordcount v-bind:total-count='totalCount' :cols-num='colsNum' :words-count-id='wordsCountId'></wordcount>
				<p class='description'>
					注1：最大输入字符不能超过1000
				</p>
			</div>
		</div>
	<!-- add end -->
	<!-- open -for-bidding 交互 end-->
	<!-- invite -->
	<div class='open-waiting-invite' id="open-waiting-invite">
		<div class="invite-content clearfix">
			<div class="invite-friends">
				<h4 class='invite-title'>好友列表</h4>
				<ul class='firends-item-warp'>
				
				<li v-if='loadingMsg'>{{loadingMsg}}</li>
					<template v-for='item in friendsList' v-if='firnedsList.length'>
						<li class='firends-item' v-if='item.status === "0"'>
							<label for="{{item.userid}}" ><input id="{{item.userid}}" type="checkbox" class="" value="{{ item.userid }}" @click='aaa($event,$index)'> <span>{{item.username}}</span></label>
						</li>
					</template>
				</ul>
			</div>

			<div class='invite-board'>
			<h4 class='invite-title'>邀请好友（最多五位）</h4>
				<ul class='invite-box-warp'>
					<template v-for='item in friendsList'>
						<li class='firends-item' v-if='item.status === "1"'>
							<label for="{{item.userid}}"><input id="{{item.userid}}" type="checkbox" class="" value="{{ item.userid }}"  @click='bbb($index)'> <span>{{item.username}}</span></label>
						</li>
					</template>
				</ul>
			</div>
		</div>
	</div>
	<!-- invite end -->
	<!-- open-for-bidding end -->