<!-- head.html -->
<% include ../publicTpl/head.html %>
<!-- head.html end-->
	
<body>
<!-- header.html -->
<% include ../publicTpl/header.html %>
<!-- header.html end-->
	
<section class='com-main'>
	<div class="container b-main">
		<div class="row">
		<article class="b-top">
			<div class="col-md-6">
				<div class="b-top-media b-top-media--1">
					<figure class='b-top-media-figure hoverImg'>
						<a href="" title="">
							<img src="./img/blog/blog-1.jpg" alt="" width="100%" class='media-img'>
							<h3 class='b-top-media-title'>Is Your Product Covered by EU Toy Safety Directive?</h3>								
						</a>
						<span class='hotTags hotTags--hot b-top-media-hotTags'>HOT</span>
					</figure>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row" style='margin-left: 0;margin-right: 0'>
					<div class="col-md-6">
						<div class="b-top-media b-top-media--2">
							<figure class='b-top-media-figure hoverImg'>
								<a href="" title="">
									<img src="./img/blog/blog-2.jpg" alt="" width="100%">
									<h3 class='b-top-media-title'>Is Your Product Covered by EU Toy Safety Directive?</h3>		
								</a>
								<span class='hotTags hotTags--hot b-top-media-hotTags'>HOT</span>
							</figure>
						</div>
					</div>
					<div class="col-md-6">
						<div class="b-top-media b-top-media--2">
							<figure class='b-top-media-figure hoverImg'>
								<a href="" title="">
									<img src="./img/blog/blog-3.jpg" alt="" width="100%">
									<h3 class='b-top-media-title'>Is Your Product Covered by EU Toy Safety Directive?</h3>		
								</a>
								<span class='hotTags hotTags--hot b-top-media-hotTags'>HOT</span>
							</figure>
						</div>
					</div>
					<div class="col-md-6">
						<div class="b-top-media b-top-media--2">
							<figure class='b-top-media-figure hoverImg'>
								<a href="" title="">
									<img src="./img/blog/blog-4.jpg" alt="" width="100%">
									<h3 class='b-top-media-title'>Is Your Product Covered by EU Toy Safety Directive?</h3>		
								</a>
								<span class='hotTags hotTags--new b-top-media-hotTags'>NEW</span>
							</figure>
						</div>
					</div>
					<div class="col-md-6">
						<div class="b-top-media b-top-media--2">
							<figure class='b-top-media-figure hoverImg'>
								<a href="" title="">
									<img src="./img/blog/blog-5.jpg" alt="" width="100%">
									<h3 class='b-top-media-title'>Is Your Product Covered by EU Toy Safety Directive?</h3>	
								</a>
								<span class='hotTags hotTags--new b-top-media-hotTags'>NEW</span>
							</figure>
						</div>
					</div>							
				</div>				
			</div>				
		</article>	
		</div>	
		<!-- 新闻主体 -->
		<div class="row">
		<div class="b-content">
			<article class="col-md-9">
				<div class='b-content-section b-content-section--last'>
					<ul class="tabs-bar tabs-arrow mb-20">
						<li class="active"><a href="">LATEST</a></li>
						<li><a href="">RECOMMEND</a></li>
						<li><a href="">HOT</a></li>
					</ul>
					<!-- <div class='divider'></div> -->
					<!-- 组件 blogList -->
					<ul class='b-list'>
						<li class='b-list-media'>
							<article class='row'>
								<div class="col-md-4">
									<div class='b-list-media-img hoverImg'>
										<img src="./img/blog/article-1.jpg" alt="">
									</div>
								</div>
								<div class='col-md-8 b-list-media-content'>
									<h3 class='b-list-media-title'>
										<a href="" title="">How To Decide Whether You Need To Submit a SVHC Notification to ECHA?</a>
									</h3>
									<div class="author clearfix">
										<strong class='author-name-warp'> 
										<a href="" title="" class='author-name'>
										<img src="./img/index/servers/13.jpg" height="18" width="18" alt="">
										CIRS</a>		
										</strong> | <time datetime="2011-01-12">2015-10-20</time>	
									</div>
									<p class='b-list-media-brief'>Recently, an EU importer contacted CIRS for a question about whether they should notify SCCP and DEHP to ECHA. CIRS expert clarify their several questions in detail an EU importer contacted CIRS for a question about ....</p>
									<div class="meta-info">
										<ul class='meta-info-list-ul clearfix'>
											<li class='meta-info-list-li pull-left'>
												<span class='fa fa-tags'></span>
												<a href="" title="" class='label label-hotTags'>GHS</a>
												<a href="" title="" class='label label-hotTags'>Chemical</a>
											</li>
											<li class='meta-info-list-li pull-right'><span class='fa fa-commenting'>200</span></li>
											<li class='meta-info-list-li pull-right'>
												<span class='fa fa-eye'>100</span>
											</li>
										</ul>
									</div>
								</div>
							</article>
						</li>
						<li class='b-list-media'>
							<article class='row'>
								<div class="col-md-4">
									<div class='b-list-media-img hoverImg'>
										<img src="./img/blog/article-1.jpg" alt="">
									</div>
								</div>
								<div class='col-md-8 b-list-media-content'>
									<h3 class='b-list-media-title'>
										<a href="" title="">How To Decide Whether You Need To Submit a SVHC Notification to ECHA?</a>
									</h3>
									<div class="author clearfix">
										<strong class='author-name-warp'> 
										<a href="" title="" class='author-name'>
										<img src="./img/index/servers/13.jpg" height="18" width="18" alt="">
										CIRS</a>		
										</strong> | <time datetime="2011-01-12">2015-10-20</time>	
									</div>
									<p class='b-list-media-brief'>Recently, an EU importer contacted CIRS for a question about whether they should notify SCCP and DEHP to ECHA. CIRS expert clarify their several questions in detail an EU importer contacted CIRS for a question about ....</p>
									<div class="meta-info">
										<ul class='meta-info-list-ul clearfix'>
											<li class='meta-info-list-li pull-left'>
												<span class='fa fa-tags'></span>
												<a href="" title="" class='label label-hotTags'>GHS</a>
												<a href="" title="" class='label label-hotTags'>Chemical</a>
											</li>
											<li class='meta-info-list-li pull-right'><span class='fa fa-commenting'>200</span></li>
											<li class='meta-info-list-li pull-right'>
												<span class='fa fa-eye'>100</span>
											</li>
										</ul>
									</div>
								</div>

							</article>

						</li>
					</ul>
					<nav class='text-center'>
							<ul class="pagination">
								<li class="disabled">
									<a href="#" aria-label="Previous">
										<span>&lt; Previous</span>
									</a>
								</li>
								<li class="active">
									<a href="#">1</a>
								</li>
								<li>
									<a href="#">2</a>
								</li>
								<li>
									<a href="#">3</a>
								</li>
								<li>
									<a href="#">4</a>
								</li>
								<li>
									<a href="#">5</a>
								</li>
								<li>
									<a href="#" aria-label="Next">
										<span>Next &gt;</span>
									</a>
								</li>
							</ul>
						</nav>						
					<!-- 组件 blogList -->
				</div>
			</article>
			<aside class="col-md-3">

						<section class='b-aside-section b-aside-section--tags'>
							<h2 class='b-aside-section-title'>Hot Tags</h2>
							
							<ul class='clearfix'>
								<li><a href="" title="" class='label label-hotTags'>GHS</a></li>
								<li><a href="" title="" class='label label-hotTags'>Chemical</a></li>
								<li><a href="" title="" class='label label-hotTags'>News</a></li>
								<li><a href="" title="" class='label label-hotTags'>GHS</a></li>
								<li><a href="" title="" class='label label-hotTags'>Chemical</a></li>
								<li><a href="" title="" class='label label-hotTags'>News</a></li>
								<li><a href="" title="" class='label label-hotTags'>GHS</a></li>
								<li><a href="" title="" class='label label-hotTags'>Chemical</a></li>
								<li><a href="" title="" class='label label-hotTags'>News</a></li>
								<li><a href="" title="" class='label label-hotTags'>GHS</a></li>
								<li><a href="" title="" class='label label-hotTags'>Chemical</a></li>
								<li><a href="" title="" class='label label-hotTags'>News</a></li>
							</ul>
						</section>
						<section class='b-aside-section b-aside-section--hots'>
							<h2 class='b-aside-section-title'>Popular Authors</h2> 
							<div class="b-aside-section-body">
								<dl class='clearfix'>
									<dt class='pull-left b-aside-section-left'>
										<a href="" title="">
											<img src="./img/index/servers/3.jpg"alt="" width='32px' height="32px">
										</a>
									</dt>
									<dd class='pull-left b-aside-section-right'>
										<a href='' data-id="6000" class="aw-user-name">Aaron Su</a>
										<p class="signature"></p>
										<p><b>88</b> articles , <b>141</b> thumbs</p>

									</dd>
								</dl>
								<dl class='clearfix'>
									<dt class='pull-left b-aside-section-left'>
										<a href="" title="">
											<img src="./img/index/servers/5.jpg"alt="" width='32px' height="32px">
										</a>
									</dt>
									<dd class='pull-left b-aside-section-right'>
										<a href='' data-id="6000" class="aw-user-name">Steve Jobs</a>
										<p class="signature"></p>
										<p><b>28</b> articles , <b>61</b> thumbs</p>

									</dd>
								</dl>
								<dl class='clearfix'>
									<dt class='pull-left b-aside-section-left'>
										<a href="" title="">
											<img src="./img/index/servers/6.jpg"alt="" width='32px' height="32px">
										</a>
									</dt>
									<dd class='pull-left b-aside-section-right'>
										<a href='' data-id="6000" class="aw-user-name">Jack Li</a>
										<p class="signature"></p>
										<p><b>12</b> articles , <b>133</b> thumbs</p>

									</dd>
								</dl>
								<dl class='clearfix'>
									<dt class='pull-left b-aside-section-left'>
										<a href="" title="">
											<img src="./img/index/servers/7.jpg"alt="" width='32px' height="32px">
										</a>
									</dt>
									<dd class='pull-left b-aside-section-right'>
										<a href='' data-id="6000" class="aw-user-name">Mary</a>
										<p class="signature"></p>
										<p><b>18</b> articles , <b>21</b> thumbs</p>

									</dd>
								</dl>

							</div>
							<div class="b-aside-section-footer">
								<a href="http://zhuangbi.me/people/" class="interest-m">more authors...</a>
							</div>

													
						</section>
						<section class="ad">
							<img src="./img/blog/ad-2.jpg" alt="" width="100%">
						</section>
						<section class="ad">
							<img src="./img/blog/ad-1.jpg" alt="" width="100%">
						</section>
			</aside>				
		</div>				
		</div>
	</div>
		<!-- 新闻主体 -->

</section>

<!-- footer.html -->
<% include ../publicTpl/footer.html %>
<!-- footer.html end-->

<!-- hover时调入 -->
	<div class='modal modal-author' style='display: none;'>
		<div class="modal-header">
			<a href="" title="" class='img'>
				<img src="./img/index/servers/13.jpg" height="50" width="50" alt="">
			</a>
			<p class='title'>
				<a href="" title="">CIRS</a>
				<i></i>
			</p>
			<p>
				<span>Articles: 81</span>&nbsp;&nbsp;&nbsp;&nbsp;
				<span><i class="fa fa-thumbs-o-up"></i> 81</span>
			</p>
		</div>
		<div class="modal-body">
			<p>Nanjing CIRS is a well-known enterprise.</p>
		</div>
		<div class="modal-footer">
			<span>
				<a class="" href='javascript:;'><i class="fa fa-envelope-o"></i> direct message</a>&nbsp;&nbsp;&nbsp;&nbsp;
			</span>
			<a class="btn btn-normal btn-primay pull-right"><span>follow</span> <em>|</em> <b>20</b></a>
		</div>
	</div>
</body>
</html>