<!-- head.html -->
<% include ../publicTpl/head.html %>
<!-- head.html end-->

<body>
<!-- header.html -->
<% include ../publicTpl/header.html %>
<!-- header.html end-->

<section class='com-main'>
	<!-- 面包屑 -->
	<div class="container">
		<ol class="breadcrumb">
		  <li><a href="#">Aricle</a></li>
		  <li class="active">Interpretations of the New Administrative Measure of Food Production License

</li>
		</ol>
	</div>
	<!-- 新闻主体 -->
	<div class="b-main">
		<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class='b-page-content'>
					<article id='page' class='b-page-content-item'>
						<section class='page-tags'>
							<a href="" title="" class='label label-hotTags label-tags label-tags-arrow'>GHS</a>
							<a href="" title="" class='label label-hotTags label-tags label-tags-arrow'>Chemical</a>
						</section>	
						<h1 class='page-title'> Interpretations of the New Administrative Measure of Food Production License </h1>
						<aside class="page-author">
							<strong><a href="" title="">Jimmy Wales</a></strong>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
							<time datetime="2011-01-12">January 12th, 2011</time>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
							<span><i class="fa fa-eye"></i> 30000 </span>
						</aside>
						<div class="divider"></div>
						<div class="page-content">
							<p>
								The new Food Safety Law stipulates that in China, food production license is mandatory before starting the food production. On 1 October 2015, the new Administrative Measure of Food Production License has come into force, dietary supplement, foods for special medical purpose, and food additives are all included into the scope of food production license application. 
							</p>
							<p>
								In order to make main responsibility explicit, the information below will be written in the new food production license: the manufacturer’s name, social credit code, legal representative, residence address, production address, food category, license number, expiry date, the daily supervision institution, the daily supervisor, complaints telephone, issuing authority, issuer, issuing date, QR code and other information.
							</p>
							<h3>Who can apply for the food production license?</h3>
							<p>The business license is necessary before the application. Enterprise legal person, partnership enterprise, individual proprietorship enterprise, and individual industrial and commercial households can apply for the food production license. And the applicant must be the person stated in the business license.</p>
							<table class='table'>
								<caption>table title and/or explanatory text</caption>
								<thead>
									<tr>
										<th>header</th>
										<th>header</th>
										<th>header</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>data</td>
										<td>data</td>
										<td>data</td>
									</tr>
									<tr>
										<td>data</td>
										<td>data</td>
										<td>data</td>
									</tr>
									<tr>
										<td>data</td>
										<td>data</td>
										<td>data</td>
									</tr>
								</tbody>
							</table>
						</div>
					</article>	
						<!-- <aside class="page-related">
							<h4>Related Articles</h4>
							<a href="" title="">Chinese Are Working Hard, But Are They Working Smart? </a>
							<a href="" title="">5 Ways China’s State-Owned Enterprises Are Adapting to the Downturn</a>
						</aside>  -->
						
					<aside class='page-share b-page-content-item'>
						<div class="page-share-support">
							<a href="" title="" class='btn btn-warning'>
								<span class='fa fa-heart-o'></span> Like | 
								<span class='like-it'>664</span>
							</a>
							<a href="" title="" class='btn btn-success'>
								<span class='fa fa-share'></span> Share | 
								<span class='like-it'>1200</span>
							</a>
							<a href="" title="" class='btn btn-primary-outline pull-right'>
								 Comment
							</a>
						</div>
					</aside>
					
					<div id="comment" class='b-page-content-item'>
						<section class='comment--hot'>
                           <h4 class='comment-title'>Hot Comments</h4>
							<ul class='comment-list'>
								<li class='clearfix'>
									<div class="comment-author-img pull-left">
										<a href="" title="" target="_blank">
										<img width="48" height="48" src="http://3.im.guokr.com/yceUpHgmk-5b9p4OefDtuDBq-y_7oOMGZniwQq_qFaOgAAAAoAAAAEpQ.jpg?imageView2/1/w/48/h/48">
										</a>
									</div>
									<div class="comment-author-content">
										
										<a class="author" href="" target="_blank">Jimmy Wales</a>
										<time datetime="2015-10-05 23:10" class='pull-right'>January 12th, 2011</time>
										<div class="comment-author-comment"><p>Virtually none whatsoever, in the same sense that Marxist theories generally have virtually no impact whatsoever in any practical endeavor.</p></div>
										<span class="comment-do">
											<span class="gsplit" style="display: inline; "></span>Followed
											[<span class="cmt-do-num">41</span>]&nbsp;&nbsp;
											<a href=''>Comment</a>
										</span>
									</div>
								</li>
								<li class='clearfix'>
									<div class="comment-author-img pull-left">
										<a href="" title="" target="_blank">
										<img width="48" height="48" src="http://2.im.guokr.com/SfPFIbE65YLtzs3nS4TvHVlmMmEfoq5h7UelZNxBmCugAAAAoAAAAEpQ.jpg?imageView2/1/w/48/h/48">
										</a>
									</div>
									<div class="comment-author-content">											
										<a class="author" href="" target="_blank">Aaron Su</a>
										<time datetime="2015-10-05 23:10" class='pull-right'>January 12th, 2011</time>
										<div class="comment-author-comment">
										<blockquote>Quote<a href="http://www.guokr.com/n/%E8%A5%BF%E6%9F%9A%E5%91%B3%E4%BB%AC/" target="_blank"> @Jimmy Wales </a> words：Art is the second most expensive part part of modern games. It should represent roughly half of the production costs. It depends, depending on the game though: voice overs can be expensive too - in particular if the studio hires famous Hollywood actors.</blockquote>
										<p>Nowadays, on average, the marketing costs account for a  half of an AAA's game budget. It can vary a lot: on Call of Duty: Modern Warfare 2, the marketing budget was 3 times the production cost (~$150 million).</p></div>
										<span class="comment-do">
											<a href=''>Follow</a>
											[<span class="cmt-do-num">41</span>]&nbsp;&nbsp;
											<a href="javascript:void 0;">Comment</a>
										</span>
									</div>
								</li>									
							</ul>
						</section>
						<section class='comment-submit'>
							<h4>Your comments</h4>
							<textarea name="" class='form-control'></textarea>
							<a href="" title="" class='btn btn-primary'>submit</a>
						</section>	
					</div>	
										
				</div>
			</div>

			<!-- 右侧栏 -->
			<div class="col-md-4">

			<!-- 作者信息 -->
				<section class='b-aside-section b-page-author'>
					<div class="author-info  clearfix">
						<a class="author-pic pull-left" href="http://www.guokr.com/i/2063560525/">
							<img src="http://1.im.guokr.com/-Cf0ffrJ--pI1CYukAwXj680YX-PwLRGkR6iQh3J-SegAAAAygAAAFBO.png?imageView2/1/w/160/h/160" class='img-round' width="100%" >
						</a>
						<div class="author-intro pull-left">
							<h4 class="author">
								<a href="" title="Jimmy Wales">Jimmy Wales</a>
							</h4>									
							<p class="author-introduction" title="">Freelance game designer and apple CEO</p>
							<a href="" title="" class='btn btn-primary'><span>follow</span> <em>|</em> <b>20</b></a>
						</div>
					</div>
				</section>

				<!-- 作者相关文章 -->
				<section class='b-aside-section b-page-related'>
					<h4 class="b-aside-section-title">Other articles of the author</h4>	
					<ul class="b-related-article">
						<li>
							<a href="http://www.guokr.com/article/440818/" target="_blank" data-gaevent="article_same_author:v1.1.1.1:article">Official Interpretation of the New Food Safety Law in China</a>
						</li>
						<li>
							<a href="http://www.guokr.com/article/440746/" target="_blank" data-gaevent="article_same_author:v1.1.1.1:article">Taiwan Chemical Substance Inventory (TCSI) has been Updated by MOL</a>
						</li>
						<li>
							<a href="http://www.guokr.com/article/440723/" target="_blank" data-gaevent="article_same_author:v1.1.1.1:article">The Guidance of Formula Registration of Infant Formula Milk Powder under CFDA</a>
						</li>
						<li>
							<a href="http://www.guokr.com/article/440623/" target="_blank" data-gaevent="article_same_author:v1.1.1.1:article">New Filing System of Imported Food Importer and Exporter</a>
						</li>
						<li>
							<a href="http://www.guokr.com/article/440611/" target="_blank" data-gaevent="article_same_author:v1.1.1.1:article">The Construction Progress and Highlights of Food-Related Product Standard System in China</a>
						</li>
					</ul>
				</section>				
			</div>						
		</div>

		</div>
	</div>
		<!-- 新闻主体 -->
</section>

<!-- footer.html -->
<% include ../publicTpl/footer.html %>
<!-- footer.html end-->

</body>
</html>