<!-- head.html -->
<% include ../publicTpl/head.html %>
<!-- head.html end-->

<body>
<!-- header.html -->
<% include ../publicTpl/header.html %>
<!-- header.html end-->

<!-- /header -->
<section class='com-main'>
<div class="container container-bookmark">
	<ol class="breadcrumb">
		<li>
			<a href="#">Projects</a>
		</li>
		<li class="active">Bookmarked Projects and Questions
		</li>
	</ol>
	<h1 class='com-title-h1'>Bookmarked Projects and Questions</h1>
	<div class='bookmark-section'>
		<table class="table table-bordered table-hover ">
			<thead>
				<tr class='active'>
					<th>项目</th>
					<th>竞标/作品</th>
					<th>开始时间</th>
					<th>结束时间</th>
					<th>价格 (USD)</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan="5">No Projects or Questions found</td>
				</tr>
			</tbody>
		</table>
		<p>
			show 0 to 0 of 0 cntries
		</p>		
	</div>

</div>
</section>

<!-- 页脚部分 -->
<!-- footer.html -->
<% include ../publicTpl/footer.html %>
<!-- footer.html end-->
</body>
</html>