<!-- head.html -->
<% include ./publicTpl/head.html %>
<!-- head.html end-->
<body>
	<!-- header.html -->
	<% include ./publicTpl/header.html %>
	<!-- header.html end-->
	<!-- /header -->
	<section class='com-main'>
		<div class="container section">
			<dl class='pull-left' style='width: 200px'>
				<dt>用户模块</dt>
				<dd>
				<ul>
					<li><a href="register.html" target='_blank'>注册页</a></li>
					
					<li>
						<a href="login.html" title="" target='_blank'>登录</a>
					</li>
					<li>
						<a href="dashboard.html" title="" target='_blank'>控制面板（dashboard）</a>
					</li>
					<li><a href="setting.html" target='_blank'>设置页</a></li>
					<li>
						<a href="membership.html" title="" target='_blank'>会员费用</a>
					</li>
					<li>
						<a href="notice.html" title="" target='_blank'>通知</a>
					</li>
					<li>
						<a href="phone-verify.html" title="" target='_blank'>手机验证</a>
					</li>
					<li>
						<a href="mail-verify.html" title="" target='_blank'>邮箱验证</a>
					</li>
					<li>
						<a href="id-verification.html" title="" target='_blank'>身份验证</a>
					</li>
					<li>
						<a href="profile.html" title="" target='_blank'>个人简历</a>
					</li>
				</ul>
				</dd>
			</dl>
			<dl class='pull-left' style='width: 200px'>
				<dt>项目模块</dt>
				<dd>
				<ul>
					<li>
						<a href="publish-quick.html" title="" target='_blank'>快速项目发布页</a>
					</li>
					<li>
						<a href="publish-quick-result.html" title="" target='_blank'>快速项目详细页</a>
					</li>
					
					<li>
						<a href="publish-ask.html" title="" target='_blank'>问答项目发布页</a>
					</li>
					<li>
						<a href="publish-ask-result.html" title="" target='_blank'>问答项目详细页</a>
					</li>
					
					<li>
						<a href="publish-order.html" title="" target='_blank'>项目订单页</a>
					</li>	
					<li>
						<a href="list-projects.html" title="" target='_blank'>搜索（项目）</a>
					</li>
					<li>
						<a href="list-providers.html" title="" target='_blank'>搜索（咨询师）</a>
					</li>
					<li>
						<a href="list-questions.html" title="" target='_blank'>搜索（问题）</a>
					</li>
					<li>
						<a href="list-blogs.html" title="" target='_blank'>搜索（博客备用）</a>
					</li>
					<li>
						<a href="project-manage.html" title="" target='_blank'>项目管理</a>
					</li>
					<li>
						<a href="draft.html" target="_blank">草稿</a>
					</li>
					<li><a href="bookmark.html" target="_blank">标签页（收藏项目）</a></li>
				
				</ul>
				</dd>
			</dl>
			<dl class='pull-left' style='width: 200px'>
				<dt>财务模块</dt>
				<dd>
				<ul>
					<li><a href="top-up.html" target='_blank'>存款页</a></li>
					<li><a href="withdraw-mail.html" target='_blank'>取款（验证邮箱）</a></li>
					<li><a href="withdraw-phone.html" target='_blank'>取款（验证手机）</a></li>
					<li><a href="withdraw.html" target='_blank'>取款页</a></li>
					<li>
						<a href="arbitration.html" title="" target='_blank'>争论</a>
					</li>
				</ul>
				</dd>
			</dl>
			<dl class='pull-left' style='width: 200px'>
				<dt>帮助模块</dt>
				<dd>
				<ul>
					<li>
						<a href="help.html" title="" target='_blank'>帮助首页</a>
					</li>
					<li>
						<a href="agreement.html" title="" target='_blank'>用户协议</a>
					</li>
					<li>
						<a href="faqs.html" title="" target='_blank'>常见问题</a>
					</li>
					<li>
						<a href="faqs-result.html" title="" target='_blank'>常见问题（搜索结果）</a>
					</li>
					<li>
						<a href="feedback.html" title="" target='_blank'>反馈</a>
					</li>
					<li>
						<a href="fees.html" title="" target='_blank'>费用</a>
					</li>
					<li>
						<a href="guidance.html" title="" target='_blank'>用户指导</a>
					</li>
					<li><a href="works.html" target='_blank'>how it works</a></li>
				</ul>
				</dd>
			</dl>
			
			<dl class='pull-left' style='width: 200px'>
				<dt>博客模块</dt>
				<dd>
				<ul>
					<li>
						<a href="blog.html" title="" target='_blank'>博客</a>
					</li>
					<li>
						<a href="blog_page.html" title="" target='_blank'>博客内页</a>
					</li>
				</ul>
				</dd>
			</dl>
			<dl class='pull-left' style='width: 200px'>
				<dt>社交模块</dt>
				<dd>
				<ul>
					<li>
						<a href="connection.html" title="" target='_blank'>联系</a>
					</li>
				</ul>
				</dd>
			</dl>
			<dl class='pull-left' style='width: 200px'>
				<dt>其他</dt>
				<dd>
				<ul>
					<li>
						<a href="index.html" title="" target='_blank'>首页</a>
					</li>
					
				</ul>
				</dd>
			</dl>
			<ul>
			</ul>
		</div>
	</section>
	<!-- 页脚部分 -->
	<!-- footer.html -->
	<% include ./publicTpl/footer.html %>
	<!-- footer.html end-->
</body>
</html>