<!-- head.html -->
<% include ./publicTpl/head.html %>
<!-- head.html end-->

<body>
<!-- header.html -->
<% include ./publicTpl/header.html %>
<!-- header.html end-->

<!-- /header -->
<section class='com-main'>
	<div class="container container-connect">
		<header class='connect-header clearfix'>
			<div class='connect-header-icon pull-left'>
				<i class="fa fa-users fa-lg"></i>
			</div>
			<div class='connect-header-title pull-left'>
				<h1>Connections</h1>
				<p>A healthy professional life starts with healthy relationships</p>
			</div>
			<div class='pull-right'>
				<a href="" class='btn btn-primary'><i class="fa fa-user-plus"></i></a>
			</div>
		</header>
		<section class='connect-content'>
			<form action="" class="form-inline connect-form clearfix">
				<div class="form-group" style='margin-right:10px'>
					<label for="">Sort by: </label>
					<select name="" id="" class="form-control">
						<option value="">Recent Conversation</option>
						<option value="">Last Name</option>
						<option value="">First Name</option>
						<option value="">New</option>
					</select>
				</div>
				<div class="form-group">
					<label for="">Filter by: </label>
					<select name="" id="" class="form-control">
						<option value="">All Contacts</option>
						<option value="">Skill</option>
					</select>
				</div>
				<div class="form-group pull-right">
					<input type="text" class='form-control'>
					<button type='button' class='btn btn-primary'>Search</button>
				</div>
			</form>
			<div class="connect-list-action">
				<label class="c-input c-checkbox" style='margin-right:20px'>
				  <input type="checkbox">
				  <span class="c-indicator"></span>
				 	 Seclect All
				</label>
				<button type='button' class="btn btn-primary btn-sm"><i class="fa fa-envelope-o"></i> message all</button>
				<button type='button' class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i> remove all</button>	
			</div>
			<div class="connect-list">
				<ul>
					<li class='connect-list-section'>
						<label class="c-input c-checkbox pull-left" style='margin-right:20px'>
						  <input type="checkbox">
						  <span class="c-indicator"></span>
						</label>
						<a href="" class='pull-left'>
							<img src="./img/index/servers/11.jpg" height="70" width="70" alt="">
						</a>
						<div class="body pull-left">
						  <h3 class="name"><a href="">Michelle Huan</a></h3>
						  <p class="headline">
						    <a class="title">Chemical regulatory compliance consultant</a> at <a class="company">Nanjing CIRS</a>
						  </p>
						  <a class="location">Nanjing City, China</a>
						  <P class='skill'>
						  Skills : 
						  	<span class="label label-default">GHS</span>
						  	<span class="label label-default">Chemical</span>
						  </P>
						</div>
						<div class="pull-right">
							<button type='button' class="btn btn-primary btn-sm"><i class="fa fa-envelope-o"></i> message</button>
							<button type='button' class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i> remove</button>	
						</div>
					</li>
					<li class='connect-list-section'>
						<label class="c-input c-checkbox pull-left" style='margin-right:20px'>
						  <input type="checkbox">
						  <span class="c-indicator"></span>
						</label>
						<a href="" class='pull-left'>
							<img src="./img/index/servers/11.jpg" height="70" width="70" alt="">
						</a>
						<div class="body pull-left">
						  <h3 class="name"><a href="">Michelle Huan</a></h3>
						  <p class="headline">
						    <a class="title">Chemical regulatory compliance consultant</a> at <a class="company">Nanjing CIRS</a>
						  </p>
						  <a class="location">Nanjing City, China</a>
						  <P class='skill'>
						  Skills : 
						  	<span class="label label-default">GHS</span>
						  	<span class="label label-default">Chemical</span>
						  </P>
						</div>
						<div class="pull-right">
							<button type='button' class="btn btn-primary btn-sm"><i class="fa fa-envelope-o"></i> message</button>
							<button type='button' class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i> remove</button>	
						</div>
					</li>
				</ul>
			</div>
		</section>
	</div>
</section>

<!-- 页脚部分 -->
<!-- footer.html -->
<% include ./publicTpl/footer.html %>
<!-- footer.html end-->
</body>
</html>