<!-- head.html -->
<% include ../publicTpl/head.html %>
<!-- head.html end-->

<body>
<!-- header.html -->
<% include ../publicTpl/header.html %>
<!-- header.html end-->

<!-- /header -->
<section class='com-main'>
<div class="container container-home">
	<div class="col-md-9">
	<header class="row home-heading section">
		<div class="col-md-12 home-heading-section">
			<div class="row row--no-padding">
				<div class="col-md-5">
					<div class="home-name clearfix">
						<div class="home-img pull-left">
							<a href=""><img src="./img/index/servers/1.jpg" alt="" class='img-round' width="100px"></a>
						</div>
						<div class="home-call pull-left">
							<div class='home-call-name-warp'>
								<a href="" title="" class='home-call-name'>Aaron Su</a>
								<p class="home-call-position">
									GHS Author
								</p>
								<p class='home-call-des'>
									<a href="" class='link'>Base User</a>
									<a href="" class='btn btn-success btn-sm'>Update</a>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="home-history">
						<!-- <div class="btn-group text-right">
							<a href="" class='btn btn-secondary'>雇主</a>
							<a href="" class='btn btn-secondary'>威客</a>
						</div> -->
						<div class="btn-group" data-toggle="buttons">
						  <label class="btn btn-secondary active">
						    <input type="radio" name="options" id="option1" autocomplete="off" checked>雇主
						  </label>
						  <label class="btn btn-secondary">
						    <input type="radio" name="options" id="option2" autocomplete="off">威客
						  </label>
						</div>
						<div class="history-content">
							<ul class='history-content-item history-content-employer' style='display:none'>
								<li><span>10</span> 项目发布</li>
								<li><span>7</span> 问题提问</li>
							</ul>
							<ul class='history-content-item history-content-provider'>
								<li>
									<span>9</span> 投标项目
								</li>
								<li>
									<span>10</span>问题回答
								</li>
							</ul>
						</div>
						
					</div>
				</div>
				<div class="col-md-3">
					<div class="home-score clearfix">					
						<p class='home-score-item'>
							<span class='left'>4.98</span> <span class='right score-stars'><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></span>
						</p>
						<p>
						<a href='' class='home-score-item'>
							<span class='left'>93</span> <span class='right'>Reviews</span>
						</a>	
						</p>
						<!-- <p>
							<span class="home-score-price">$ 
	                            <span style="background-color: transparent;">0</span><sup>.00</sup><span class="price-unit"> USD/hr</span>
	                        </span>
						</p> -->
					</div>
				</div>
			</div>			
		</div>	
	</header>
	<section class="row home-post">
		<div class="col-md-6">
			<a href="" class='home-post-item post'><i class="fa fa-pencil-square-o "></i> Post a Project</a>
		</div>
		<div class="col-md-6 ">
			<a href="" class='home-post-item ask'><i class="fa fa-hand-paper-o"></i> Ask a Question</a>
		</div>
	</section>
	<section class="row section home-push">
		<div class="col-md-12">
			<h2 class='home-section-title'>项目推送</h2>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class='panel-title'>Projects</h3>
				</div>
				<div class="panel-body">
					<ul class='home-push-list'>
						<li class='home-push-item'>
							<h3  class="home-push-title">
								<a href="">Expert Joomla Web Developer - CiviCRM a Plus!</a>
							</h3>
							<p>
								<span class="label label-primary">GHS</span> - <span class="label label-info">SDS</span>
							</p>
							<p class='home-push-state'>
								<span> $ 100,000 USD </span> |
								<span> 5 days left </span> |
								<span>
									<a href=""> 15 bids </a>
								</span>
							</p>
							<div class='text-right'>
								<a href="" class='btn btn-info-outline'>detail</a>
								<a href="" class='btn btn-link'>skip</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class='panel-title'>Questions</h3>
				</div>
				<div class="panel-body">
					<ul class='home-push-list'>
						<li class='home-push-item'>
							<h3  class="home-push-title">
								<a href="">Expert Joomla Web Developer - CiviCRM a Plus!</a>
							</h3>
							<p>
								<span class="label label-primary">GHS</span> - <span class="label label-info">SDS</span>
							</p>
							<p class='home-push-state'>
								<span> $ 100,000 USD </span> |
								<span> 5 days left </span> |
								<span>
									<a href=""> 15 bids </a>
								</span>
							</p>
							<div class='text-right'>
								<a href="" class='btn btn-info-outline'>detail</a>
								<a href="" class='btn btn-link'>skip</a>

							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section class='row section'>
		<div class="col-md-12">
			<h2 class='home-section-title'>新消息</h2>
		</div>
	</section>
	</div>
	<div class="col-md-3">
		<div class="section">
			<div class="home-heading-section">
			<div class="home-ibox">
				<div class="content clearfix">
					<dl class="dl-horizontal--short">
						<dt>BALANCE</dt>
						<dd><span class="balance-value">$ 3,120.00</span></dd>
					</dl>
					<div class='home-money text-center' style='padding-top:10px'>
						<a href="" class='btn btn-link btn-block'>Transaction History</a>
						<br>
						<a href="" title="" class='btn  btn-primary-outline btn-sm'>Withdraw</a>
						<a href="" title="" class='btn  btn-primary btn-sm'>Top-up</a>
					</div>						
				</div>
			</div>				
		</div>
		</div>
	</div>

</div>
</section>

<!-- 页脚部分 -->
<!-- footer.html -->
<% include ../publicTpl/footer.html %>
<!-- footer.html end-->
</body>
</html>