<!-- head.html -->
<% include ../publicTpl/head.html %>
<!-- head.html end-->

<body>
<!-- header.html -->
<% include ../publicTpl/header.html %>
<!-- header.html end-->

<!-- /header -->
<section class='com-main'>
<div class="container container-home">
	<div class="row">
		<div class="col-md-8">
		<header class="row home-heading">
			<div class="col-md-7 home-heading-section">
				<div class="home-name clearfix">
					<div class="home-img pull-left">
						<a href=""><img src="./img/index/servers/1.jpg" alt="" class='img-round' width="110px"></a>
					</div>
					<div class="home-call pull">
						<div class='home-call-name-warp'>
							<a href="" title="" class='home-call-name'>Aaron Su <img src="https://cdn3.f-cdn.com/img/flags/png/us.png"></a>
							<p class="home-call-position">
								GHS Author
							</p>
							<div class='home-call-account'>
								<a href="" class='home-call-des'>Base User </a>
								<a href="" class='btn btn-success-outline btn-sm'>Update Account</a>
							</div>						
							<div class="home-call-profile">
								<div class="progress ">
								  <div class="progress-bar progress-bar-success progress-bar-striped" style="width: 60%;">
								   	<a href="profile.html" class='progress-info'>完善个人信息 60%</a>
								  </div>
								</div> 
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-5 home-heading-section">
				<div class="home-history">
					<div class="text-right">
						<div class="btn-group" data-toggle="buttons">
					  <label class="btn btn-secondary active">
					    <input type="radio" name="options" id="option1" autocomplete="off" checked>雇主
					  </label>
					  <label class="btn btn-secondary">
					    <input type="radio" name="options" id="option2" autocomplete="off">威客
					  </label>
					</div>
					</div>
					
					<div class="history-content">
						<ul class='history-content-item history-content-employer' style='display:none'>
							<li><span>10</span> 项目发布</li>
							<li><span>7</span> 问题提问</li>
						</ul>
						<ul class='history-content-item history-content-provider'>
							<li>
								<span class='pull-left '>投标项目</span> <span class='pull-right right'>10</span>
							</li>
							<li>
								<span class='pull-left '>问题回答</span> <span class='pull-right right'>10</span>
							</li>
						</ul>
					</div>
					
				</div>
			</div>	
		</header>
		<section class="row home-post">
			<div class="col-md-6">
				<a href="publish-quick.html" class='home-post-item post'><i class="fa fa-pencil-square-o "></i> Post a Project</a>
			</div>
			<div class="col-md-6 ">
				<a href="publish-ask.html" class='home-post-item ask'><i class="fa fa-hand-paper-o"></i> Ask a Question</a>
			</div>
		</section>
		<section class="row home-push">
			<div class="col-md-12">
				<h2 class='home-section-title'>项目推送</h2>
			</div>
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class='panel-title'>Projects</h3>
					</div>
					<div class="panel-body">
						<ul class='home-push-list'>
							<li class='home-push-item'>
								<h3  class="home-push-title">
									<a href="">Expert Joomla Web Developer - CiviCRM a Plus!</a>
								</h3>
								<p>
									<span class="label label-primary">GHS</span> - <span class="label label-info">SDS</span>
								</p>
								<p class='home-push-state'>
									<span> $ 100,000 USD </span> |
									<span> 5 days left </span> |
									<span>
										<a href=""> 15 bids </a>
									</span>
								</p>
								<div class='text-right'>
									<a href="" class='btn btn-info-outline'>detail</a>
									<a href="" class='btn btn-link'>skip</a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class='panel-title'>Questions</h3>
					</div>
					<div class="panel-body">
						<ul class='home-push-list'>
							<li class='home-push-item'>
								<h3  class="home-push-title">
									<a href="">Expert Joomla Web Developer - CiviCRM a Plus!</a>
								</h3>
								<p>
									<span class="label label-primary">GHS</span> - <span class="label label-info">SDS</span>
								</p>
								<p class='home-push-state'>
									<span> $ 100,000 USD </span> |
									<span> 5 days left </span> |
									<span>
										<a href=""> 15 bids </a>
									</span>
								</p>
								<div class='text-right'>
									<a href="" class='btn btn-info-outline'>detail</a>
									<a href="" class='btn btn-link'>skip</a>

								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<section class='row home-new'>
			<div class="col-md-12">
				<h2 class='home-section-title'>新消息</h2>
			</div>
			<div class="content">
				<div class="col-md-1">
					<div class="user-img">
						<img src="./img/index/servers/1.jpg" alt="" width="50px">
					</div>
					
				</div>
				<div class="col-md-11">
					<div class="user-new-content">
						<p>
							aaaaaaaaaaaaaaaaaaaaaaaaa
						</p>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div class="col-md-4">
		<div class="home-aside">
			<div class="home-aside-section home-aside-account  section">
				<h3 class='home-aside-title'>Balance</h3>
				<div class="content clearfix">
					<ul class='balance-amount clearfix'>
						<li class='pull-left'>
							<span class='balance-value'>$ 3,120.00</span>
						</li>
						<li class=' pull-right'>
							<a href="" class='balance-history'><i class="fa fa-history fa-fw"></i>Transaction History</a>
						</li>
					</ul>
					<div class='home-money clearfix' style='padding-top:10px'>
						<span class='pull-right'>
							<a href="" title="" class='btn btn-primary'>Withdraw</a>
						<a href="" title="" class='btn btn-warning'>Top-up</a>
						</span>
						
					</div>						
				</div>
			</div>				
			<div class="home-aside-section  section">
				<h3 class='home-aside-title'>测试</h3>
				<div class="content">
					<ul>
						<li><a href="">通过美国英语考试 - 等级 1 (+19%)</a></li>
						<li><a href="">通过美国英语考试 - 等级 1 (+19%)</a></li>
						<li><a href="">通过美国英语考试 - 等级 1 (+19%)</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>	
	</div>


</div>
</section>

<!-- 页脚部分 -->
<!-- footer.html -->
<% include ../publicTpl/footer.html %>
<!-- footer.html end-->
</body>
</html>