<!-- head.html -->
<% include ../publicTpl/head.html %>
<!-- head.html end-->

<body>
<!-- header.html -->
<% include ../publicTpl/header.html %>
<!-- header.html end-->

<!-- /header -->
<section class='com-main'>
<div class="container">
	<h1>Drafts</h1>	
	<!--草稿  -->
	<section class='mb-60 section'>
		<table class="table table-bordered">
			<thead>
			<tr class='active'>
				<th>草稿</th>
				<th>项目类型</th>
				<th>操作</th>
			</tr>
			</thead>
			<tbody>
				<tr>
				<td>
					<a href="" title="">我是一个示例草稿</a>
				</td>
				<td>
					草稿
				</td>
				<td>
					<button type="button" class='btn btn-primary btn-sm'>发布</button>
					<button type="button" class='btn btn-warning btn-sm'>编辑</button>
					<button type="button" class='btn btn-danger btn-sm'>删除</button>
				</td>
				</tr>
			</tbody>
		</table>
	</section>
</div>
</section>

<!-- 页脚部分 -->
<!-- footer.html -->
<% include ../publicTpl/footer.html %>
<!-- footer.html end-->
</body>
</html>