<!-- head.html -->
<% include ../publicTpl/head.html %>
<!-- head.html end-->

<body>
<!-- header.html -->
<% include ../publicTpl/header.html %>
<!-- header.html end-->

<!-- /header -->
<section class='com-main'>
<div class="container container-evaluate">
	<div class="evaluate-heading section">
		<div class="row">
			<div class="col-md-4 evaluate-heading-section clearfix">
				<div class="user-img pull-left">
					<img src="./img/index/servers/1.jpg" height="100" width="100" alt="">
				</div>
				<div class="user-modal pull-left">
					<span class="user-modal-name">aaronfeledy</span> 
					<img src='https://cdn3.f-cdn.com/img/flags/png/us.png' class="user-modal-location-icon"> 
					<span class="user-modal-location">
						<span>Crown Point,</span> United States
					</span>
					<div class='user-modal-evaluate'>
						<span class='score-detail'>4.8</span>
						<span class='score-stars'>
							<i class="fa fa-star "></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star fa"></i><i class="fa fa-star"></i>
						</span>(<a href="" title="">151条评价</a>)
					</div>
				</div>
			</div>
			<div class="col-md-4 evaluate-heading-section">
				
				<dl class="dl-horizontal score">
					<dt>工作质量</dt>
					<dd>
						<span class='score-detail'>4.8</span>
						<span class='score-stars'>
							<i class="fa fa-star "></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star fa"></i><i class="fa fa-star"></i>
						</span>
					</dd>
				</dl>
				<dl class="dl-horizontal score">
					<dt>沟通</dt>
					<dd>
						<span class='score-detail'>4.8</span>
						<span class='score-stars'>
							<i class="fa fa-star "></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star fa"></i><i class="fa fa-star"></i>
						</span>
					</dd>
				</dl>
				<dl class="dl-horizontal score">
					<dt>专业技能</dt>
					<dd>
						<span class='score-detail'>4.8</span>
						<span class='score-stars'>
							<i class="fa fa-star "></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star fa"></i><i class="fa fa-star"></i>
						</span>
					</dd>
				</dl>
			</div>
			<div class="col-md-4 text-center">
				<div class="user-modal-fee">
					<div class="profile-hourly-rate"><span class="user-modal-fee-value">$70</span> USD/hr</div>
				</div>
				<div class="user-modal-compact-feedback">
						<button type="button" class='btn btn-primary'>Hire me</button>
					</div>

			</div>
		</div>
	</div>
	<div class="evalute-main section">
		<section class="evaluate-section evaluate-main-heading clearfix">
			<h1 class='pull-left title'>最近的评论</h1>
			<form class="form-inline pull-right">
				<div class='form-group'>
					<label for="">排序</label>
					<select class='form-control'>
						<option value="">最新评论</option>
						<option value="">评分由高到低</option>
						<option value="">评分由低到高</option>
					</select>
				</div>
				<div class="form-group">
					<label for="">查看</label>
					<select name="" class='form-control'>
						<option value="">全部(151)</option>
						<option value="">过去三个月(0)</option>
						<option value="">过去六个月(3)</option>
					</select>
				</div>
				<div class="form-group">
					<label for="">每页评价数</label>
					<select name="" class='form-control'>
						<option value="">10</option>
						<option value="">20</option>
						<option value="">50</option>
						<option value="">100</option>}
						option
					</select>
				</div>
			</form>
		</section>
		<section class="evaluate-section evaluate-main-content">
			<div class='evaluate-filter'>
				<form action="">
					<div class="form-group">
						<select class='form-control'>
							<option value="">通过技能筛选评价</option>
						</select>
					</div>
				</form>
			</div>
			<div class="evaluate-nav">
				<span>显示151 个结果中的1 -10</span>
				<nav class='text-right' style='margin-top: -30px;'>
				  <ul class="pagination">
				    <li>
				      <a href="#" aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				      </a>
				    </li>
				    <li><a href="#">1</a></li>
				    <li><a href="#">2</a></li>
				    <li><a href="#">3</a></li>
				    <li><a href="#">4</a></li>
				    <li><a href="#">5</a></li>
				    <li>
				      <a href="#" aria-label="Next">
				        <span aria-hidden="true">&raquo;</span>
				      </a>
				    </li>
				  </ul>
				</nav>
			</div>
			<div class="evaluate-reviews">
				<ul class='evaluate-reviews-list'>
					<li class='evaluate-reviews-section'>
						<div class="evaluate-avatar">
							<img src="./img/index/servers/13.jpg" height="80" width="80" alt="">
						</div>
						<div class="evaluate-reviews-content">
							<h3 class='evaluate-reviews-title'><a href="" title="">Resolve errors, upgrade Drupal site</a></h3>
							<span class='score'>
								<span class='score-detail'>4.8</span>
								<span class='score-stars'>
									<i class="fa fa-star "></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star fa"></i><i class="fa fa-star"></i>
								</span>
							</span>
							<span class='user-review-price'>$90.0 USD</span>
							<p class='evaluate-reviews-des'>“Aaron proved to be extremely knowledgeable in resolving my Drupal site errors, updating all modules along the way. He was very professional and engaged in excellent communication. Highly recommend!”</p>
							<span ><strong>ucwheels</strong> <img src='https://cdn3.f-cdn.com/img/flags/png/us.png'/> 5 months以前。</span>
							<ul class="user-reviews-skills">
								<li>PHP</li>
								<li>Website Design</li>
								<li>CSS</li>
								<li>Drupal</li>
								<li>Amazon Web Services</li>
								<li>Hire me</li>
							</ul>
						</div>
					</li>
					<li class='evaluate-reviews-section'>
						<div class="evaluate-avatar">
							<img src="./img/index/servers/13.jpg" height="80" width="80" alt="">
						</div>
						<div class="evaluate-reviews-content">
							<h3 class='evaluate-reviews-title'><a href="" title="">Resolve errors, upgrade Drupal site</a></h3>
							<span class='score'>
								<span class='score-detail'>4.8</span>
								<span class='score-stars'>
									<i class="fa fa-star "></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star fa"></i><i class="fa fa-star"></i>
								</span>
							</span>
							<span class='user-review-price'>$90.0 USD</span>
							<p class='evaluate-reviews-des'>“Aaron proved to be extremely knowledgeable in resolving my Drupal site errors, updating all modules along the way. He was very professional and engaged in excellent communication. Highly recommend!”</p>
							<span ><strong>ucwheels</strong> <img src='https://cdn3.f-cdn.com/img/flags/png/us.png'/> 5 months以前。</span>
							<ul class="user-reviews-skills">
								<li>PHP</li>
								<li>Website Design</li>
								<li>CSS</li>
								<li>Drupal</li>
								<li>Amazon Web Services</li>
								<li>Hire me</li>
							</ul>
						</div>
					</li>
					<li class='evaluate-reviews-section'>
						<div class="evaluate-avatar">
							<img src="./img/index/servers/13.jpg" height="80" width="80" alt="">
						</div>
						<div class="evaluate-reviews-content">
							<h3 class='evaluate-reviews-title'><a href="" title="">Resolve errors, upgrade Drupal site</a></h3>
							<span class='score'>
								<span class='score-detail'>4.8</span>
								<span class='score-stars'>
									<i class="fa fa-star "></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star fa"></i><i class="fa fa-star"></i>
								</span>
							</span>
							<span class='user-review-price'>$90.0 USD</span>
							<p class='evaluate-reviews-des'>“Aaron proved to be extremely knowledgeable in resolving my Drupal site errors, updating all modules along the way. He was very professional and engaged in excellent communication. Highly recommend!”</p>
							<span ><strong>ucwheels</strong> <img src='https://cdn3.f-cdn.com/img/flags/png/us.png'/> 5 months以前。</span>
							<ul class="user-reviews-skills">
								<li>PHP</li>
								<li>Website Design</li>
								<li>CSS</li>
								<li>Drupal</li>
								<li>Amazon Web Services</li>
								<li>Hire me</li>
							</ul>
						</div>
					</li>
					<li class='evaluate-reviews-section'>
						<div class="evaluate-avatar">
							<img src="./img/index/servers/13.jpg" height="80" width="80" alt="">
						</div>
						<div class="evaluate-reviews-content">
							<h3 class='evaluate-reviews-title'><a href="" title="">Resolve errors, upgrade Drupal site</a></h3>
							<span class='score'>
								<span class='score-detail'>4.8</span>
								<span class='score-stars'>
									<i class="fa fa-star "></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star fa"></i><i class="fa fa-star"></i>
								</span>
							</span>
							<span class='user-review-price'>$90.0 USD</span>
							<p class='evaluate-reviews-des'>“Aaron proved to be extremely knowledgeable in resolving my Drupal site errors, updating all modules along the way. He was very professional and engaged in excellent communication. Highly recommend!”</p>
							<span ><strong>ucwheels</strong> <img src='https://cdn3.f-cdn.com/img/flags/png/us.png'/> 5 months以前。</span>
							<ul class="user-reviews-skills">
								<li>PHP</li>
								<li>Website Design</li>
								<li>CSS</li>
								<li>Drupal</li>
								<li>Amazon Web Services</li>
								<li>Hire me</li>
							</ul>
						</div>
					</li>
					<li class='evaluate-reviews-section'>
						<div class="evaluate-avatar">
							<img src="./img/index/servers/13.jpg" height="80" width="80" alt="">
						</div>
						<div class="evaluate-reviews-content">
							<h3 class='evaluate-reviews-title'><a href="" title="">Resolve errors, upgrade Drupal site</a></h3>
							<span class='score'>
								<span class='score-detail'>4.8</span>
								<span class='score-stars'>
									<i class="fa fa-star "></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star fa"></i><i class="fa fa-star"></i>
								</span>
							</span>
							<span class='user-review-price'>$90.0 USD</span>
							<p class='evaluate-reviews-des'>“Aaron proved to be extremely knowledgeable in resolving my Drupal site errors, updating all modules along the way. He was very professional and engaged in excellent communication. Highly recommend!”</p>
							<span ><strong>ucwheels</strong> <img src='https://cdn3.f-cdn.com/img/flags/png/us.png'/> 5 months以前。</span>
							<ul class="user-reviews-skills">
								<li>PHP</li>
								<li>Website Design</li>
								<li>CSS</li>
								<li>Drupal</li>
								<li>Amazon Web Services</li>
								<li>Hire me</li>
							</ul>
						</div>
					</li>
					<li class='evaluate-reviews-section'>
						<div class="evaluate-avatar">
							<img src="./img/index/servers/13.jpg" height="80" width="80" alt="">
						</div>
						<div class="evaluate-reviews-content">
							<h3 class='evaluate-reviews-title'><a href="" title="">Resolve errors, upgrade Drupal site</a></h3>
							<span class='score'>
								<span class='score-detail'>4.8</span>
								<span class='score-stars'>
									<i class="fa fa-star "></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star fa"></i><i class="fa fa-star"></i>
								</span>
							</span>
							<span class='user-review-price'>$90.0 USD</span>
							<p class='evaluate-reviews-des'>“Aaron proved to be extremely knowledgeable in resolving my Drupal site errors, updating all modules along the way. He was very professional and engaged in excellent communication. Highly recommend!”</p>
							<span ><strong>ucwheels</strong> <img src='https://cdn3.f-cdn.com/img/flags/png/us.png'/> 5 months以前。</span>
							<ul class="user-reviews-skills">
								<li>PHP</li>
								<li>Website Design</li>
								<li>CSS</li>
								<li>Drupal</li>
								<li>Amazon Web Services</li>
								<li>Hire me</li>
							</ul>
						</div>
					</li>
					<li class='evaluate-reviews-section'>
						<div class="evaluate-avatar">
							<img src="./img/index/servers/13.jpg" height="80" width="80" alt="">
						</div>
						<div class="evaluate-reviews-content">
							<h3 class='evaluate-reviews-title'><a href="" title="">Resolve errors, upgrade Drupal site</a></h3>
							<span class='score'>
								<span class='score-detail'>4.8</span>
								<span class='score-stars'>
									<i class="fa fa-star "></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star fa"></i><i class="fa fa-star"></i>
								</span>
							</span>
							<span class='user-review-price'>$90.0 USD</span>
							<p class='evaluate-reviews-des'>“Aaron proved to be extremely knowledgeable in resolving my Drupal site errors, updating all modules along the way. He was very professional and engaged in excellent communication. Highly recommend!”</p>
							<span ><strong>ucwheels</strong> <img src='https://cdn3.f-cdn.com/img/flags/png/us.png'/> 5 months以前。</span>
							<ul class="user-reviews-skills">
								<li>PHP</li>
								<li>Website Design</li>
								<li>CSS</li>
								<li>Drupal</li>
								<li>Amazon Web Services</li>
								<li>Hire me</li>
							</ul>
						</div>
					</li>
					<li class='evaluate-reviews-section'>
						<div class="evaluate-avatar">
							<img src="./img/index/servers/13.jpg" height="80" width="80" alt="">
						</div>
						<div class="evaluate-reviews-content">
							<h3 class='evaluate-reviews-title'><a href="" title="">Resolve errors, upgrade Drupal site</a></h3>
							<span class='score'>
								<span class='score-detail'>4.8</span>
								<span class='score-stars'>
									<i class="fa fa-star "></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star fa"></i><i class="fa fa-star"></i>
								</span>
							</span>
							<span class='user-review-price'>$90.0 USD</span>
							<p class='evaluate-reviews-des'>“Aaron proved to be extremely knowledgeable in resolving my Drupal site errors, updating all modules along the way. He was very professional and engaged in excellent communication. Highly recommend!”</p>
							<span ><strong>ucwheels</strong> <img src='https://cdn3.f-cdn.com/img/flags/png/us.png'/> 5 months以前。</span>
							<ul class="user-reviews-skills">
								<li>PHP</li>
								<li>Website Design</li>
								<li>CSS</li>
								<li>Drupal</li>
								<li>Amazon Web Services</li>
								<li>Hire me</li>
							</ul>
						</div>
					</li>
					<li class='evaluate-reviews-section'>
						<div class="evaluate-avatar">
							<img src="./img/index/servers/13.jpg" height="80" width="80" alt="">
						</div>
						<div class="evaluate-reviews-content">
							<h3 class='evaluate-reviews-title'><a href="" title="">Resolve errors, upgrade Drupal site</a></h3>
							<span class='score'>
								<span class='score-detail'>4.8</span>
								<span class='score-stars'>
									<i class="fa fa-star "></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star fa"></i><i class="fa fa-star"></i>
								</span>
							</span>
							<span class='user-review-price'>$90.0 USD</span>
							<p class='evaluate-reviews-des'>“Aaron proved to be extremely knowledgeable in resolving my Drupal site errors, updating all modules along the way. He was very professional and engaged in excellent communication. Highly recommend!”</p>
							<span ><strong>ucwheels</strong> <img src='https://cdn3.f-cdn.com/img/flags/png/us.png'/> 5 months以前。</span>
							<ul class="user-reviews-skills">
								<li>PHP</li>
								<li>Website Design</li>
								<li>CSS</li>
								<li>Drupal</li>
								<li>Amazon Web Services</li>
								<li>Hire me</li>
							</ul>
						</div>
					</li>
					<li class='evaluate-reviews-section'>
						<div class="evaluate-avatar">
							<img src="./img/index/servers/13.jpg" height="80" width="80" alt="">
						</div>
						<div class="evaluate-reviews-content">
							<h3 class='evaluate-reviews-title'><a href="" title="">Resolve errors, upgrade Drupal site</a></h3>
							<span class='score'>
								<span class='score-detail'>4.8</span>
								<span class='score-stars'>
									<i class="fa fa-star "></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star fa"></i><i class="fa fa-star"></i>
								</span>
							</span>
							<span class='user-review-price'>$90.0 USD</span>
							<p class='evaluate-reviews-des'>“Aaron proved to be extremely knowledgeable in resolving my Drupal site errors, updating all modules along the way. He was very professional and engaged in excellent communication. Highly recommend!”</p>
							<span ><strong>ucwheels</strong> <img src='https://cdn3.f-cdn.com/img/flags/png/us.png'/> 5 months以前。</span>
							<ul class="user-reviews-skills">
								<li>PHP</li>
								<li>Website Design</li>
								<li>CSS</li>
								<li>Drupal</li>
								<li>Amazon Web Services</li>
								<li>Hire me</li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
			<div class="evaluate-nav">
				<nav class='text-right'>
				  <ul class="pagination">
				    <li>
				      <a href="#" aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				      </a>
				    </li>
				    <li><a href="#">1</a></li>
				    <li><a href="#">2</a></li>
				    <li><a href="#">3</a></li>
				    <li><a href="#">4</a></li>
				    <li><a href="#">5</a></li>
				    <li>
				      <a href="#" aria-label="Next">
				        <span aria-hidden="true">&raquo;</span>
				      </a>
				    </li>
				  </ul>
				</nav>
			</div>
		</section>
	</div>
</div>
</section>

<!-- 页脚部分 -->
<!-- footer.html -->
<% include ../publicTpl/footer.html %>
<!-- footer.html end-->
</body>
</html>