<!-- head.html -->
<% include ../publicTpl/head.html %>
<!-- head.html end-->

<body>
<!-- header.html -->
<% include ../publicTpl/header.html %>
<!-- header.html end-->

<!-- /header -->
<section class='com-main'>
<div class="container container-evaluate">
	<div class="evaluate-heading">
		<h1>评价管理</h1>
	</div>
	<div class="evalute-content">
		<section class="evaluate-section">
			<h2>综合评分</h2>

		</section>
		<section class="evaluate-section">
			<h2>累计评价</h2>
		</section>
	</div>
</div>
</section>

<!-- 页脚部分 -->
<!-- footer.html -->
<% include ../publicTpl/footer.html %>
<!-- footer.html end-->
</body>
</html>