<!-- head.html -->
<% include ../publicTpl/head.html %>
<!-- head.html end-->

<body>
<!-- header.html -->
<% include ../publicTpl/header.html %>
<!-- header.html end-->

<!-- /header -->
<section class='com-main'>
	<div class="container">
		<ol class="breadcrumb">
			<li>
				<a href="#">Help Center</a>
			</li>
			<li class="active">Fees and Charges</li>
		</ol>
		<div class="help-main">
		<div class="help-content">
<div class='help-title'>
				<h1 class='help-title-primary'>
					Fees and Charges
				</h1>
			</div>
			<div class="fees-content">
				<table class='table table-striped table-bordered fees-table'>
				<thead>
					<tr>
						<th></th>
						<th width="20%" class='fees-table-title'>
							<strong class='fees-level'>Basic User</strong>
							<span class='fees-number'><sup>$</sup> 0<sub>.00</sub></span>
							<span class='fees-time'>per year</span>
						</th>
						<th width="20%" class='fees-table-title'>
							<strong class='fees-level'>User with Membership</strong>
							<span class='fees-number'><sup>$</sup> 300<sub>.00</sub></span>
							<span class='fees-time'>per year</span>
						</th>
						<th width="20%" class='fees-table-title'>
							<strong  class='fees-level'>Basic Provider</strong>
							<span class='fees-number'><sup>$</sup> 0<sub>.00</sub></span>
							<span class='fees-time'>per year</span>
						</th>
						<th width="20%" class='fees-table-title'>
							<strong class='fees-level'>Provider with Membership</strong>
							<span class='fees-number'><sup>$</sup> 3000<sub>.00</sub></span>
							<span class='fees-time'>per year</span>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							
						</td>
						<td>
							
						</td>
						<td>
							<a href="" class="btn btn-primary">update</a>
						</td>
						<td>
							
						</td>
						<td>
							<a href="" class="btn btn-primary">update</a>
						</td>
					</tr>
					<tr>
						<td>
							<span class='fees-advice' tabindex="0" data-toggle="popover" data-trigger="focus" title="Post a job" data-content="Post a job">Post a job</span>
						</td>
						<td>Free</td>
						<td>Free</td>
						<td>Free</td>
						<td>Free</td>
					</tr>
					<tr>
						<td>
							<span class='fees-advice' tabindex="1" data-toggle="popover" data-trigger="focus" title="Highlight a job" data-content="Highlight a job">Highlight a job</span>
						</td>
						<td>5 USD</td>
						<td>Free </td>
						<td>5 USD</td>
						<td>Free</td>
					</tr>
					<tr>
						<td>
							<span class='fees-advice' tabindex="2" data-toggle="popover" data-trigger="focus" title="Job extension" data-content="Job extension">Job extension</span>
						</td>
						<td>5 USD</td>
						<td>Free </td>
						<td>5 USD</td>
						<td>Free</td>
					</tr>
					<tr>
						<td>
							<span class='fees-advice' tabindex="3" data-toggle="popover" data-trigger="focus" title="Recruiter service" data-content="Recruiter service">Recruiter service</span>
						</td>
						<td>50 USD</td>
						<td>Free</td>
						<td>50 USD</td>
						<td>Free</td>
					</tr>
					<tr>
						<td>
							<span class='fees-advice' tabindex="3" data-toggle="popover" data-trigger="focus" title="Biding a job" data-content="Biding a job">Biding a job</span>
						</td>
						<td>
							<i class="fa fa-times"></i>
						</td>
						<td>
							<i class="fa fa-times"></i>
						</td>
						<td>Free</td>
						<td>Free</td>
					</tr>
					<tr>
						<td>
							<span class='fees-advice' tabindex="3" data-toggle="popover" data-trigger="focus" title="Free Biddings per month" data-content="Free Biddings per month">Free Biddings per month</span>
						</td>
						<td>
							<i class="fa fa-times"></i>
						</td>
						<td>
							<i class="fa fa-times"></i>
						</td>
						<td>5</td>
						<td>No limits</td>
					</tr>
					<tr>
						<td>
							<span class='fees-advice' tabindex="3" data-toggle="popover" data-trigger="focus" title="Additional bidding" data-content="Additional bidding">Additional bidding</span>
						</td>
						<td>
							<i class="fa fa-times"></i>
						</td>
						<td>
							<i class="fa fa-times"></i>
						</td>
						<td>5 USD</td>
						<td>Free</td>
					</tr>
					<tr>
						<td>
							<span class='fees-advice' tabindex="3" data-toggle="popover" data-trigger="focus" title="Service listing" data-content="Service listing">Service listing</span>
						</td>
						<td><i class="fa fa-times"></i></td>
						<td><i class="fa fa-times"></i></td>
						<td>3</td>
						<td>50</td>
					</tr>
					<tr>
						<td>
							<span class='fees-advice' tabindex="3" data-toggle="popover" data-trigger="focus" title="Raise a question" data-content="Raise a question">Raise a question</span>
						</td>
						<td>Free</td>
						<td>Free</td>
						<td>Free</td>
						<td>Free</td>
					</tr>
					<tr>
						<td>
							<span class='fees-advice' tabindex="3" data-toggle="popover" data-trigger="focus" title="Highlight a question" data-content="Highlight a question">Highlight a question</span>
						</td>
						<td>5 USD</td>
						<td>Free </td>
						<td>5 USD</td>
						<td>Free </td>
					</tr>
					<tr>
						<td>
							<span class='fees-advice' tabindex="3" data-toggle="popover" data-trigger="focus" title="Question extension" data-content="Question extension">Question extension</span>
						</td>
						<td>5 USD</td>
						<td>Free</td>
						<td>5 USD</td>
						<td>Free</td>
					</tr>
					<tr>
						<td>
							<span class='fees-advice' tabindex="3" data-toggle="popover" data-trigger="focus" title="Answer a question" data-content="Answer a question">Answer a question</span>
						</td>
						<td>Free</td>
						<td>Free</td>
						<td>Free</td>
						<td>Free</td>
					</tr>
					<tr>
						<td>
							<span class='fees-advice' tabindex="3" data-toggle="popover" data-trigger="focus" title="Free answering per month" data-content="Free answering per month">Free answering per month</span>
						</td>
						<td>5</td>
						<td>No limits</td>
						<td>5</td>
						<td>No limits</td>
					</tr>
					<tr>
						<td>
							<span class='fees-advice' tabindex="3" data-toggle="popover" data-trigger="focus" title="Additional answering" data-content="Additional answering">Additional answering</span>
						</td>
						<td>5 USD</td>
						<td>Free</td>
						<td>5 USD</td>
						<td>Free</td>
					</tr>
				</tbody>
			</table>
			</div>			
		</div>
			
		
		</div>
	</div>
</section>

<!-- 页脚部分 -->
<!-- footer.html -->
<% include ../publicTpl/footer.html %>
<!-- footer.html end-->

</body>
</html>