<!-- head.html -->
<% include ../publicTpl/head.html %>
<!-- head.html end-->

<body>
<!-- header.html -->
<% include ../publicTpl/header.html %>
<!-- header.html end-->

<!-- /header -->
<section class='com-main'>
	<div class="container">
		<ol class="breadcrumb">
			<li>
				<a href="#">Help Center</a>
			</li>
			<li class="active">Guidance</li>
		</ol>
		<div class="help-main">
				<div class="help-content section">
				<div class='help-title'>
					<h1 class='help-title-primary'>
						Guidance
					</h1>
				</div>
				<div>
					<div class='guidance-content'>
					    <ul class="nav nav-tabs">
					        <li role="presentation" class="active">
					            <a href="#home" data-toggle="tab">User guidance</a>
					        </li>
					        <li role="presentation">
					            <a href="#tab" data-toggle="tab">Provider guidance</a>
					        </li>
					    </ul>
					
					    <!-- Tab panes -->
					    <div class='tab-content'>
					        <div class="tab-pane fade in active" id="home">
					        	<div class="page">

					        		<p>Get work done easily and on demand with these best practices for finding, engaging, and working with Product compliance professionals on Regbuzz.</p>
					        		<h3>ACT PROFESSIONALLY TO ATTRACT PROFESSIONALS</h3>
					        		<p>By representing yourself and your business in a way that is respectful and businesslike, you’re more likely to attract top talent. Write job posts that are complete and professional, and add a verified payment method to demonstrate your business’ legitimacy.</p>
					        		<h3>A LITTLE EFFORT GOES A LONG WAY IN FINDING THE RIGHT Provider</h3>
					        		<p>Hiring online is a lot like hiring offline—the right talent is out there, but finding them takes some initiative. These steps will help you search successfully, vet candidates effectively, and get your project off the ground with the right Provider  in place:</p>
					        		<ul class='islisted'>
					        			<li>Post a detailed description of your project with clear goals, realistic deliverables, and defined timeframes. Ask providers to answer a few key questions in their applications to help narrow down the field.</li>
					        			<li>Set realistic rates. This will attract quality talent with the skills to deliver on your project in a professional, timely way. </li>
					        			<li>Decline an applicant if they’re not the right fit. Providers  have a limited number of applications, so declining an application allows them to pursue other opportunities.</li>
					        			<li>Once you have narrowed down the field, evaluate the top applications by considering all available information. Personally interview a few providers before making a hire.</li>
					        			<li>An advantage of hiring online is the ability to “test drive” a provider. Set up a small project (you can limit the contract hours) to get a better sense of their skills before you hire for a larger project.</li>
					        		</ul>
					        		<h3>GREAT WORK BEGINS WITH GREAT COMMUNICATION</h3>
					        		<p>Just as with any team, clear and straight forward communication is key to keeping a project on track.</p>
					        		<p>Some options you may want to consider:</p>
					        		<ul class='islisted'>
					        			<li>Begin the project with a kick off meeting to introduce yourself and set mutual expectations. This is especially important if you’re working with a  provider for the first time. The more info you give your provider about the project and your business, the better.</li>
					        			<li>Keep your timeline on track by responding promptly to requests for additional information.</li>
					        			<li>Give kudos for a job well done or clearly communicate any changes you need to deliverables.</li>
					        		</ul>
					        		<h3>STAY ON TOP OF YOUR WEEKLY ROUTINE</h3>
					        		<p>Check your provider’s Work Diary every week. At the end of each week, review the summary provided of all weekly work and payments. If there are discrepancies, try to work it out directly with your provider. If you are unable to come to a resolution, you may file a dispute through Regbuzz.</p>
					        		<h3>LAST, BUT NOT LEAST…</h3>
					        		<p>The entire Regbuzz community depends on honest and objective feedback. Once the contract is over, please take some time to share your experience with other clients using the Regbuzz marketplace.</p>
					        	</div>
					        	
					        </div>
					        <div class="tab-pane fade in " id="tab">
						        <div class="page">
						        	<p>Great providers are what make Regbuzz truly special. Below are some best practices to help you land engagements, grow your product compliance consulting business, and thrive in our provider community.</p>
						        	<h3>ACT PROFESSIONALLY. ALWAYS</h3>			        	
						        	<p>Regbuzz is a community of skilled product compliance professionals. Be polite, courteous, and respectful in everything you do here, from the content of your profile and proposals to your postings on our forum.</p>
						        	<h3>COMMUNICATION IS THE KEY TO GETTING—AND KEEPING—CLIENTS!</h3>
						        	<p>An informed client is a happy client. And, just as in the offline world, communicating early and clearly is key to keep satisfying your clients.</p>
						        	<p>These are our top communications tips, from landing the job to finishing the project:</p>
						        	<ul class='islisted'>
						        		<li>Outline a few clear and realistic expectations for you and your client to agree upon before you start the project. Document the agreement, including deliverables, deadlines, availability, and communication.</li>
						        		<li>Respond quickly to questions and messages.</li>
						        		<li>Consider sending your client regular updates.</li>
						        		<li>When in doubt, ask! Don’t be afraid to contact your client with project-related questions or concerns.</li>
						        		<li>Use the Message Center to document all agreements and discussions between yourself and your client.</li>
						        		<li>Be upfront about your availability. Let your client know when you’re online and when you’re unavailable.</li>
						        		<li>If you’re going to miss a deliverable deadline, tell your client as soon as possible! Tell them why you can’t meet the deadline and propose a new date for delivery.</li>
						        		<li>If you can’t complete a contract, tell your client and Customer Service immediately.</li>
						        	</ul>
						        	<h3>KICK START YOUR product compliance consulting business</h3>
						        	<p>You’re your own boss on Regbuzz. It’s up to you to market your skills, advertise your services, set your rates and payment terms, find the right engagements, determine how to perform your work, and invest in your own success.</p>
						        	<h3>STEP ONE: CREATE A GREAT provider PROFILE</h3>
						        	<p>Your profile is the most important advertisement you have to show a potential client you’re right for the work. It’s your business card, resume, CV, portfolio, and references rolled into one!</p>
						        	<p>How you complete your profile is up to you. A complete, professional-looking profile generally includes at least your full name, title, and photo. It can show off past successes (number of years of experience in an industry, education level, significant projects), highlights your skills, and showcases the results of your Regbuzz skills tests.</p>
						        	<p>Consider linking images or examples of work you’ve accomplished. (But you’ll want to get permission from your client first.) Don’t have a portfolio? Upload recommendations from previous clients!</p>
						        	<p>Finally, you’ll want to check for errors. The provider with a well-written, professional profile will always be a client’s first choice. Avoid using slang, ALL CAPS or text shortcuts, and double-check that everything is grammatically correct and spelled properly.</p>
						        	<h3>STEP TWO: APPLY TO THE RIGHT PROJECT</h3>
						        	<p>To increase your chances of getting hired and get set up for a successful project, only submit proposals for projects you have the skills to do well. This leads to a job well done, which leads to satisfied clients which leads to more jobs! Also, the number of applications you can submit without additional membership fees is limited, so choose your applications wisely.</p>
						        </div>
						       
					        </div>
					    </div>
					</div>
				</div>
		</div>
		</div>
	</div>
</section>

<!-- 页脚部分 -->
<!-- footer.html -->
<% include ../publicTpl/footer.html %>
<!-- footer.html end-->
</body>
</html>