<!-- head.html -->
<% include ./publicTpl/head-help.html %>
<!-- head.html end-->

<body>
<div class="stick-root">
	<!-- header.html -->
	<% include ./publicTpl/header.html %>
	<!-- header.html end-->

	<div class='breadcrumb-beauty-warp'>
		<div class="container">
			<ul class='breadcrumb-beauty'>
	            <li>
	              <a href=""><i class="fa fa-home fa-lg"></i> Dashboard</a>
	            </li>
	            <li>
	              <a href="">Help Center</a>
	            </li>
	            <li>
	              <a href="#">Feedback</a>
	            </li>
	      	</ul>
		</div>
	</div>
	<section class='com-main' id='help-feedback'>
		<div class="container">
			<div class="help-main">
				<div class="help-content section">
					<div class='help-title'>
						<h1 class='help-title-primary'>
							Feedback
						</h1>
						<p class='help-title-secondary'>
							Please take a moment to give us your feedback. We will use this information to improve our service.
						</p>
					</div>
					<div class="row">
						<div class="col-xs-7">
							<validator name='validator1'>
								<form novalidate class='help-feedback-form'>
								<div class="form-group has-feedback">
									<label for="username" class="control-label">Name</label>
									<input type="text" class='form-control' name='username' id='username' placeholder='input your name'>
									<span class="fa fa-times form-control-feedback"></span>

									<div class="errors" style="display:none">
										<p>Required your Name.</p>
									</div>
								</div>
								<div class="form-group has-feedback" >
									<label for="email" class="control-label">Email Address:</label>
									<input type="email" id='email' name='email' class='form-control' placeholder='input your email'>
									<span class="fa fa-times form-control-feedback"></span>

									<div class="errors" style="display:none">
										<p>Required your email.</p>
										<p>Invalid your mail address format.</p>
									</div>
								</div>
								<div class="form-group">
									<label for="" class="control-label">Please select your issue category</label>
								 	<select name="" class='form-control'>
								 		<option value="1" selected>Finding a job</option>
								 		<option value="2">Working with client</option>
								 		<option value="3">Hiring supplier</option>
								 		<option value="4">Working with supplier</option>
								 		<option value="5">Regbuzz site and tools</option>
								 		<option value="6">Account and security</option>
								 		<option value="7">Earnings and payment</option>
								 		<option value="8">Policy violation</option>
								 		<option value="9">Other issue category</option>
								 	</select>
								</div>
								<!-- 错误时添加class:has-error -->
								<div class="form-group has-feedback">
										<label for="issue">Please describe your issue：</label>
										<textarea name="issue" id='issue' class='form-control' rows="4" placeholder='your describe'></textarea>
										<!-- 错误提示 -->
										<div class="errors" style="display:none">
											<p >Required your Issue.</p>
										</div>
									</div>
									<div class="form-group">
										<label for="">Document upload(*):</label>
										<label class="file" id='js_showfile' style='display: block'>
											<input type="file" id="file">
											<span class="file-custom"></span>
										</label>
									</div>
								  	<hr>
								 	<button type="submit" class="btn btn-primary" :disabled="!$validator1.valid">Submit</button>
								</form>
							</validator>
						</div>	
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="stick-root-footer"></div>
</div>

<!-- 页脚部分 -->
<!-- footer.html -->
<% include ./publicTpl/footer.html %>
<!-- footer.html end-->
</body>
</html>