<!-- head.html -->
<% include ./publicTpl/head-help.html %>
<!-- head.html end-->

<body>
<!-- header.html -->
<% include ./publicTpl/header.html %>
<!-- header.html end-->

<!-- /header -->
<section class='com-main'>
<div class="container container-arbitration">
	<div class="arbitration-main section">
		<h1>纠纷</h1>
		<div class="arbitration-content">
			<!-- Nav tabs -->
			  <ul class="nav nav-tabs">
			    <li class="active"><a href="#home" data-toggle="tab">现存纠纷</a></li>
			    <li><a href="#past" data-toggle="tab">既往纠纷</a></li>
			  </ul>

			  <!-- Tab panes -->
			  <div class="tab-content">
			    <div class="tab-pane active" id="home">
			    	<table class="table table-striped">
			    		<thead>
			    			<tr>
			    				<th>纠纷ID</th>
			    				<th>项目名称</th>
			    				<th>对方</th>
			    				<th>纠纷金额</th>
			    				<th>状态</th>
			    				<th>响应时间</th>
			    			</tr>
			    		</thead>
			    		<tbody>
			    			<tr>
			    				<td colspan="6" class='text-center'>您没有进行中的纠纷</td>
			    			</tr>
			    		</tbody>
			    	</table>
			    </div>
			    <div class="tab-pane" id="past">
			    	<table class="table table-striped">
			    		<thead>
			    			<tr>
			    				<th>纠纷ID</th>
			    				<th>项目名称</th>
			    				<th>对方</th>
			    				<th>纠纷金额</th>
			    				<th>结果</th>
			    				<th>关闭时间</th>
			    			</tr>
			    		</thead>
			    		<tbody>
			    			<tr>
			    				<td colspan="6"  class='text-center'>你没有既往纠纷</td>
			    			</tr>
			    		</tbody>
			    	</table>
			    </div>
			  </div>
			  <button type="button" class='btn btn-primary'>创建新纠纷</button>
		</div>
	</div>
</div>
</section>

<!-- 页脚部分 -->
<!-- footer.html -->
<% include ./publicTpl/footer.html %>
<!-- footer.html end-->
</body>
</html>