<!-- head.html -->
<% include ../publicTpl/head.html %>
<!-- head.html end-->

<body>
<!-- header.html -->
<% include ../publicTpl/header.html %>
<!-- header.html end-->

<!-- /header -->
<section>
<!-- header.html -->
<% include ../publicTpl/help-header.html %>
<!-- header.html end-->

<div class="container help-panel">
	<div class="row">
		<div class="col-md-4">
			<a href="faqs.html" title="" class="help-panel-card help-panel-card-faqs">
				<i class="fa fa-quote-left fa-2x"></i>
				<h3>FAQs</h3>
			</a>
		</div>
		<div class="col-md-4">
			<a href="guidance.html" title="" class="help-panel-card help-panel-card-guidance">
				<i class="fa fa-book fa-2x"></i>
				<h3>Guidance</h3>
			</a>
		</div>
		<div class="col-md-4">
			<a href="fees.html" title="" class="help-panel-card help-panel-card-fees">
				<i class="fa fa-usd fa-2x"></i>
				<h3>Fees & Charges</h3>
			</a>
		</div>
		<div class="col-md-4">
			<a href="agreement.html" title="" class="help-panel-card help-panel-card-agreement">
				<i class="fa fa-gavel"></i>
				<h3>User Agreement</h3>
			</a>	
		</div>
		<div class="col-md-4">
			<a href="works.html" title="" class="help-panel-card help-panel-card-works">
				<i class="fa fa-cog fa-2x"></i>
				<h3>How it works</h3>
			</a>
		</div>
		<div class="col-md-4">
			<a href="feedback.html" title="" class="help-panel-card help-panel-card-feedback">
				<i class="fa fa-info fa-2x"></i>
				<h3>Feedback</h3>
			</a>
		</div>
		<!-- <div class="col-md-4">
			<a href="" title="" class="help-panel-card help-panel-card-contact">
				<i class="fa fa-phone-square fa-2x"></i>
				<h3>Contact us</h3>
			</a>
		</div> -->
	</div>
	<div class="row">
	<div class="col-md-12">
		<h4>faqs</h4>
		<ul>
			<li><a href="">11111111111111</a></li>
			<li><a href="">22222222222222</a></li>
			<li><a href="">33333333333333</a></li>
			<li><a href="">44444444444444</a></li>
		</ul>
	</div>
	</div>
</div>
</section>

<!-- 页脚部分 -->
<!-- footer.html -->
<% include ../publicTpl/footer.html %>
<!-- footer.html end-->
</body>
</html>