<!-- head.html -->
<% include ./publicTpl/head-help.html %>
<!-- head.html end-->

<body>
<div class="stick-root">
	<!-- header.html -->
	<% include ./publicTpl/header.html %>
	<!-- header.html end-->
	<section>
		<!-- header.html -->
		<% include ./publicTpl/help-header.html %>
		<!-- header.html end-->

		<div class='breadcrumb-beauty-warp'>
			<div class="container">
				<ul class='breadcrumb-beauty'>
		            <li>
		              <a href=""><i class="fa fa-home fa-lg"></i> Dashboard</a>
		            </li>
		            <li>
		              <a href="#"> Help Center</a>
		            </li>
		      	</ul>
			</div>
		</div>

		<div class="container help-panel">
			<div class="row">
				<div class="col-xs-4">
					<a href="help-faqs.html" title="" class="help-panel-card help-panel-card-faqs transition-link">
						<i class="fa fa-quote-left fa-3x"></i>
						<h3>FAQs</h3>
					</a>
				</div>
				<div class="col-xs-4">
					<a href="help-guidance.html" title="" class="help-panel-card help-panel-card-guidance transition-link">
						<i class="fa fa-book fa-3x"></i>
						<h3>Guidance</h3>
					</a>
				</div>
				<div class="col-xs-4">
					<a href="help-fees.html" title="" class="help-panel-card help-panel-card-fees transition-link">
						<i class="fa fa-usd fa-3x"></i>
						<h3>Fees & Charges</h3>
					</a>
				</div>
				<div class="col-xs-4">
					<a href="help-agreement.html" title="" class="help-panel-card help-panel-card-agreement transition-link">
						<i class="fa fa-gavel fa-3x"></i>
						<h3>User Agreement</h3>
					</a>	
				</div>
				<div class="col-xs-4">
					<a href="help-works.html" title="" class="help-panel-card help-panel-card-works transition-link">
						<i class="fa fa-cog fa-3x"></i>
						<h3>How it works</h3>
					</a>
				</div>
				<div class="col-xs-4">
					<a href="help-feedback.html" title="" class="help-panel-card help-panel-card-feedback transition-link">
						<i class="fa fa-info fa-3x"></i>
						<h3>Feedback</h3>
					</a>
				</div>
			</div>

		</div>
	</section>
	<div class="stick-root-footer"></div>
</div>

<!-- 页脚部分 -->
<!-- footer.html -->
<% include ./publicTpl/footer.html %>
<!-- footer.html end-->
</body>
</html>