<!-- head.html -->
<% include ./publicTpl/head-help.html %>
<!-- head.html end-->

<body>
<div class="stick-root">
	<!-- header.html -->
	<% include ./publicTpl/header.html %>
	<!-- header.html end-->
	<div class='breadcrumb-beauty-warp'>
		<div class="container">
			<ul class='breadcrumb-beauty'>
	            <li>
	              <a href=""><i class="fa fa-home fa-lg"></i> Dashboard</a>
	            </li>
	            <li>
	              <a href=""> Help Center</a>
	            </li>
	            <li>
	              <a href="#">Fees and Charges</a>
	            </li>
	      	</ul>
		</div>
	</div>
	<section class='com-main'>
		<div class="container">
			<div class="help-main">
			<div class="help-content section">
				<div class='help-title'>
					<h1 class='help-title-primary'>
						Fees and Charges
					</h1>
				</div>
				<div class="fees-content">
				<section class='fees-section'>
					<h2 class='help-fees-title'>1. Transaction Fee:</h2>
					<p>According to Banks’ policy</p>
				</section>
				<section class='fees-section'>
					<h2 class='help-fees-title'>2. Agency Fee:</h2>
					<p>5%</p>
				</section>
				<section class='fees-section'>
					<h2 class='help-fees-title'>3. User with Membership Fee:</h2>
					<ul>
						<li>1 month Regbuzz Membership: <span>50</span> USD</li>
						<li>3 months Regbuzz Membership: <span>144</span> USD</li>
						<li>6 months Regbuzz Membership: <span>276</span> USD</li>
						<li>12 months Regbuzz Membership: <span>500</span> USD</li>
					</ul>
				</section>
				<section class='fees-section'>
					<h2 class='help-fees-title'>4. Detailed charges</h2>
					<table class='table table-striped table-bordered fees-table'>
						<thead>
							<tr>
								<th></th>
								<th width="30%" class='fees-table-title'>
									<strong class='fees-level'>Basic User</strong>
								</th>
								<th width="30%" class='fees-table-title'>
									<strong class='fees-level'>User with Membership</strong>
								</th>

							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<span class='fees-advice' tabindex="0" data-toggle="popover" data-trigger="focus" title="Post a job" data-content="Post a job">Post a job</span>
								</td>
								<td>Free</td>
								<td>Free</td>
							</tr>
							<tr>
								<td>
									<span class='fees-advice' tabindex="1" data-toggle="popover" data-trigger="focus" title="Add information for the post " data-content="Add information for the post ">Add information for the post </span>
								</td>
								<td>5 USD</td>
								<td>Free </td>
							</tr>
							<tr>
								<td>
									<span class='fees-advice' tabindex="2" data-toggle="popover" data-trigger="focus" title="Prolong the post " data-content="Prolong the post ">Prolong the post</span>
								</td>
								<td>5 USD</td>
								<td>Free </td>
							</tr>
							<tr>
								<td>
									<span class='fees-advice' tabindex="3" data-toggle="popover" data-trigger="focus" title="Free Dashboard promotion per month " data-content="Free Dashboard promotion per month ">Free Dashboard promotion per month </span>
								</td>
								<td>1</td>
								<td>5</td>
							</tr>
							<tr>
								<td>
									<span class='fees-advice' tabindex="3" data-toggle="popover" data-trigger="focus" title="Additional Dashboard Promotion " data-content="Additional Dashboard Promotion ">Additional Dashboard Promotion </span>
								</td>
								<td>
									5 USD
								</td>
								<td>
									5 USD
								</td>
							</tr>
							<tr>
								<td>
									<span class='fees-advice' tabindex="3" data-toggle="popover" data-trigger="focus" title="Free Highlight per month " data-content="Free Highlight per month ">Free Highlight per month</span>
								</td>
								<td>
									1
								</td>
								<td>
									5
								</td>
							</tr>
							<tr>
								<td>
									<span class='fees-advice' tabindex="3" data-toggle="popover" data-trigger="focus" title="Additional Highlight" data-content="Additional Highlight">Additional Highlight</span>
								</td>
								<td>
									5 USD
								</td>
								<td>
									5 USD
								</td>
							</tr>
							<tr>
								<td>
									<span class='fees-advice' tabindex="3" data-toggle="popover" data-trigger="focus" title="Bid for a job " data-content="Bid for a job ">Bid for a job </span>
								</td>
								<td>Free</td>
								<td>Free</td>
							</tr>
							<tr>
								<td>
									<span class='fees-advice' tabindex="3" data-toggle="popover" data-trigger="focus" title="Number of bids per month" data-content="Number of bids per month">Number of bids per month</span>
								</td>
								<td>5</td>
								<td>25</td>
							</tr>
							<tr>
								<td>
									<span class='fees-advice' tabindex="3" data-toggle="popover" data-trigger="focus" title="Jobs ongoing in the same time " data-content="Jobs ongoing in the same time ">Jobs ongoing in the same time</span>
								</td>
								<td>3</td>
								<td>15</td>
							</tr>
							<tr>
								<td>
									<span class='fees-advice' tabindex="3" data-toggle="popover" data-trigger="focus" title="Free service display " data-content="Free service display ">Free service display</span>
								</td>
								<td>3</td>
								<td>10</td>
							</tr>
						</tbody>
					</table>
				</section>
					
				</div>			
			</div>		
			</div>
		</div>
	</section>
	<div class="stick-root-footer"></div>
</div>

<!-- 页脚部分 -->
<!-- footer.html -->
<% include ./publicTpl/footer.html %>
<!-- footer.html end-->

</body>
</html>