<!-- head.html -->
<% include ../publicTpl/head.html %>
<!-- head.html end-->
<body>
	<!-- header.html -->
	<% include ../publicTpl/header.html %>
	<!-- header.html end-->

	<section class='com-main com-main--list'>
		<div class='list-search-warp'>
			<div class='container'>
				<!-- 面包屑 -->
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Search</li>
				</ol>
			</div>		
		</div>
		
		<div class="container" >	
			<div class="row mt-10">

				<!-- public-lis.html -->
				<% include ../publicTpl/public-list.html %>
				<!-- public-lis.html end-->

				<!-- 主要内容部分 -->
				<div class="col-md-9 com-content">
					<form class="list-search clearfix">
								<div class="list-search-text-warp pull-left">
									<i class="fa fa-search"></i>
									<input type="text" name="" value="" placeholder="" class='form-control list-search-text'>
								</div>
								<div class="list-search-btn-warp pull-left">
									<button type="submit" class='btn btn-primary list-search-btn'>
										Search
									</button>
								</div>
						</form>	
					<article class='list-main'>
						<div class="panel panel-default">
							<div class="panel-heading">
								<section class='list-bar'>
									<div class="row">
										<div class="col-md-4">
											<p class='result'><strong>1,407</strong> results for <strong>aaron</strong></p>	
										</div>
										<div class="col-md-8">
											<div class="select-menu form-inline">		
												<label>
													Sort by :
												</label>
												<select class="form-control">
												  <option>Best match</option>
												  <option>Newest</option>
												  <option>Oldest</option>
												  <option>Most Client Hours</option>
												  <option>Least Client Hours</option>
												  <option>Most Dollars Paid</option>
												  <option>Least Dollars Paid</option>
												  <option>Highest Feedback Score</option>
												  <option>Lowest Feedback Score</option>
												</select>
										    </div>
										</div>
									</div>									
								</section>
							</div>
							<div class="panel-body">
								<section class="list-results clearfix">
									<ul class='list-peojects list-unstyled'>
										<li class='list-results-item row list-peojects-item'>
											<div class="col-md-10 list-peojects-item-left">
													<h3 class='list-item-title list-peojects-item-title'>
														<a href="" title="">Expert Joomla Web Developer - CiviCRM a Plus!</a>
													</h3>
													<div class='list-peojects-item-user'>
														Posted  <time datetime="2011-01-12" class='time'> 1 month ago</time> | <span><a href="" title="">15</a> bids already</span> | <span>2000 Views</span>
													</div>
													<p>You will work with a Bermuda-based technology firm to enhance and maintain existing Web sites built with Joomla and integrated with CiviCRM. *** You must answer each of the screening questions below to be considered for this job *** About You -----  </p>
													<div class='list-peojects-item-require'>
														<div class='category'>	
															<a href='' class='label label-primary'>GHS</a> <span> - </span>
															<a href='' class='label label-success'>SDS(MSDS) Authoring</a>
														</div>
													</div>											
											</div>
											<div class="col-md-2 list-peojects-item-right">
													<a href="" title="" class='btn btn-primary btn--bid'>Bid It</a>
													<p class='budget'>
												<sup>$</sup>858
												</p>											
											</div>										
										</li>															
									</ul>
								</section>
							<nav class='text-center'>
								<ul class="pagination">
									<li class="disabled">
										<a href="#" aria-label="Previous">
											<span>&lt; Previous</span>
										</a>
									</li>
									<li class="active">
										<a href="#">1</a>
									</li>
									<li>
										<a href="#">2</a>
									</li>
									<li>
										<a href="#">3</a>
									</li>
									<li>
										<a href="#">4</a>
									</li>
									<li>
										<a href="#">5</a>
									</li>
									<li>
										<a href="#" aria-label="Next">
											<span>Next &gt;</span>
										</a>
									</li>
								</ul>
							</nav>
							</div>
						</div>
					</article>
				</div> 
			</div>
		</div>
	</section>

	<!-- header.html -->
	<% include ../publicTpl/footer.html %>
	<!-- header.html end-->
</body>
</html>