 <!-- head.html -->
<% include ./publicTpl/head.html %>
<!-- head.html end-->

<body>
<div class="stick-root">
    <!-- header.html -->
    <% include ./publicTpl/header.html %>
    <!-- header.html end-->
    <section class='com-main'>
        <div class="container setting-container" >
            <div class="row">
                <div class="col-xs-12 com-content">
                    <!-- 手机认证 -->
                    <section class="">
                        <div class="panel panel-default">
                            <div class="panel-heading">Mailbox verification</div>
                            <div class="panel-body">
                            <div class="text-center">
                                <div class="verify-sucess">
                                    <i class="fa fa-check-circle"></i>
                                    <span>验证邮件已发送</span>
                                </div>
                                <div class="verify-mail-des">
                                    <p>验证邮件已发送至您的邮箱<a href="javascript:void(0);">402****@qq.com</a>，点击邮件中的链接完成操作。</p>
                                    <p>验证邮件24小时内有效，请尽快验证！</p>
                                </div>
                                <div class="verify-mail-send">
                                    <a class="btn btn-success">立即进入邮箱</a>
                                    <!-- <a class="reSent fs12" href="#" type="3" id="J_email-resendSubmit">重新发送</a> -->
                                    <a href="javascript:void(0)" class="verify-mail-handle">已发送 <span>59</span>秒后重新发送</a>
                                </div>
                            </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <div class="stick-root-footer"></div>
</div>

<!-- 页脚部分 -->
<!-- footer.html -->
<% include ./publicTpl/footer.html %>
<!-- footer.html end