<!-- head.html -->
<% include ../publicTpl/head.html %>
<!-- head.html end-->

<body>
<!-- header.html -->
<% include ../publicTpl/header.html %>
<!-- header.html end-->

<!-- /header -->
<section class='com-main'>
	<div class="container">
		<section class='membership-heading'> 
			<h1 class='membership-title text-center'>Regbuzz 会员</h1>
			<p class='text-center mb-60'>没有固定义务。随时改变计划。最大化您的收入！</p>
		</section>
		<div class="membership-content">
	        <ul class="membership-plans-list">
	            <li class="membership-plans">
	                <div class="membership-plans-inner membership-plans-inner--user">
	                    <header class="membership-plans-header">
	                        <div class="membership-plans-header-inner">
	                            <h3 class="membership-plans-title">
	                                Basic User
	                            </h3>
	                                <span class="membership-plans-price">
	                                    $0<sup>.00</sup>
	                                </span>
	                                <span class="membership-plans-duration">per year</span>
	                            <div class="membership-plans-cta">
							        <button class="btn btn-secondary btn-block">
							                当前计划 
							        </button>								    
								</div>
	                        </div>
	                    </header>
	                    <ul class="membership-plans-benefits">
						    <li class="membership-plans-benefit">
						         <strong>10%</strong>或<strong>$40.00 HKD</strong>* Freelancer固定项目费用
						    </li>
						    <li class="membership-plans-benefit">
						         <strong><strong>10%</strong></strong> Freelancer计时项目费用
						    </li>
						    <li class="membership-plans-benefit">
						         <strong>3%</strong>或<strong>$25.00 HKD</strong>* 雇主固定项目费用
						    </li>
						    <li class="membership-plans-benefit">
						         <strong>3%</strong> 雇主计时项目费用
						    </li>
						    <li class="membership-plans-benefit">
						         每月<strong>8</strong>个竞标
						    </li>
						    <li class="membership-plans-benefit">
						         <strong>20</strong> 项技能
						    </li>
						</ul>
	                </div>
	            </li>
	            <li class="membership-plans is-promoted">
	                <div class="membership-plans-inner membership-plans-inner--user">
	                    <header class="membership-plans-header">
	                        <div class="membership-plans-header-inner">
	                            <h3 class="membership-plans-title">
	                                User with Membership
	                            </h3>
	                            <span class="membership-plans-price">
	                                $300<sup>.00</sup>
	                            </span>
	                            <span class="membership-plans-duration">per year</span>
	                            <div class="membership-plans-cta">
	                    			<button class="btn btn-success btn-block">升级</button>
								</div>
				                <div class="membership-plans-cta-secondary is-hidden">
				                    <small class="membership-plans-cta-secondary-text">升级 membership?</small>
				                    <button class="btn btn-mini btn-primary">是的</button> <button class="btn btn-secondary">不</button>
				                </div>
	                        </div>
	                    </header>
	                    <ul class="membership-plans-benefits">
						    <li class="membership-plans-benefit">
						         <strong>10%</strong>或<strong>$40.00 HKD</strong>* Freelancer固定项目费用
						    </li>
						    <li class="membership-plans-benefit">
						         <strong><strong>10%</strong></strong> Freelancer计时项目费用
						    </li>
						    <li class="membership-plans-benefit">
						         <strong>3%</strong>或<strong>$25.00 HKD</strong>* 雇主固定项目费用
						    </li>
						    <li class="membership-plans-benefit">
						         <strong>3%</strong> 雇主计时项目费用
						    </li>
						    <li class="membership-plans-benefit">
						         每月<strong>15</strong>个竞标
						    </li>
						    <li class="membership-plans-benefit">
						         <strong>30</strong> 项技能
						    </li>
					        <li class="membership-plans-benefit">
					             解锁奖励
					        </li>
					        <li class="membership-plans-benefit">
					             项目书签
					        </li>
					        <li class="membership-plans-benefit">
					             首选威客
					        </li>
					        <li class="membership-plans-benefit">
					             自定义封面照片
					        </li>
						</ul>
	                </div>
	            </li>
	            <li class="membership-plans">
	                <div class="membership-plans-inner membership-plans-inner--provider">
	                    <header class="membership-plans-header">
	                        <div class="membership-plans-header-inner">
	                            <h3 class="membership-plans-title">
	                                Basic Provider
	                            </h3>
	                            <span class="membership-plans-price">
	                                $0<sup>.00</sup>
	                            </span>
	                            <span class="membership-plans-duration">per year</span>
	                            <div class="membership-plans-cta">
				                        <button class="btn btn-small btn-primary btn-block">升级</button>
								</div>
				                <div class="membership-plans-cta-secondary is-hidden">
				                    <small class="membership-plans-cta-secondary-text">升级 membership?</small>
				                    <button class="btn btn-mini btn-primary">是的</button> <button class="btn btn-secondary">不</button>
				                </div>
	                        </div>
	                    </header>
	                    <ul class="membership-plans-benefits">
						    <li class="membership-plans-benefit">
						         <strong>10%</strong>或<strong>$40.00 HKD</strong>* Freelancer固定项目费用
						    </li>
						    <li class="membership-plans-benefit">
						         <strong><strong>10%</strong></strong> Freelancer计时项目费用
						    </li>
						    <li class="membership-plans-benefit">
						         <strong>3%</strong>或<strong>$25.00 HKD</strong>* 雇主固定项目费用
						    </li>
						    <li class="membership-plans-benefit">
						         <strong>3%</strong> 雇主计时项目费用
						    </li>
						    <li class="membership-plans-benefit">
						         每月<strong>50</strong>个竞标
						    </li>
						    <li class="membership-plans-benefit">
						         <strong>50</strong> 项技能
						    </li>
					        <li class="membership-plans-benefit">
					             解锁奖励
					        </li>
					        <li class="membership-plans-benefit">
					             项目书签
					        </li>
					        <li class="membership-plans-benefit">
					             首选威客
					        </li>
					        <li class="membership-plans-benefit">
					             自定义封面照片
					        </li>
					        <li class="membership-plans-benefit">
					             <strong>5</strong> 关注雇主
					        </li>
						</ul>
	                </div>
	            </li>
	            <li class="membership-plans is-promoted">
	                <div class="membership-plans-inner membership-plans-inner--provider">
	                    <header class="membership-plans-header">
	                        <div class="membership-plans-header-inner">
	                            <h3 class="membership-plans-title">
	                                Provider with Membership
	                            </h3>
	                            <span class="membership-plans-price">
	                                $3000<sup>.00</sup>
	                            </span>
	                            <span class="membership-plans-duration">per year</span>
	                            <div class="membership-plans-cta">
	                   				 <button class="btn btn-small btn-success btn-block">升级</button>
								</div>
				               	 <div class="membership-plans-cta-secondary is-hidden">
				                    <small class="membership-plans-cta-secondary-text">升级 membership?</small>
				                    <button class="btn btn-mini btn-primary">是的</button> <button class="btn btn-secondary">不</button>
				                </div>
	                        </div>
	                    </header>
	                    <ul class="membership-plans-benefits">
						    <li class="membership-plans-benefit">
						         <strong>5%</strong>或<strong>$30.00 HKD</strong>* Freelancer固定项目费用
						    </li>
						    <li class="membership-plans-benefit">
						         <strong><strong>5%</strong></strong> Freelancer计时项目费用
						    </li>
						    <li class="membership-plans-benefit">
						         <strong>0%</strong> 雇主固定项目费用
						    </li>
						    <li class="membership-plans-benefit">
						         <strong>0%</strong> 雇主计时项目费用
						    </li>
						    <li class="membership-plans-benefit">
						         每月<strong>300</strong>个竞标
						    </li>
						    <li class="membership-plans-benefit">
						         <strong>100</strong> 项技能
						    </li>
					        <li class="membership-plans-benefit">
					             解锁奖励
					        </li>
					        <li class="membership-plans-benefit">
					             项目书签
					        </li>
					        <li class="membership-plans-benefit">
					             首选威客
					        </li>
					        <li class="membership-plans-benefit">
					             自定义封面照片
					        </li>
					        <li class="membership-plans-benefit">
					             <strong>20</strong> 关注雇主
					        </li>
					        <li class="membership-plans-benefit">
					             <strong>15</strong> 外部发票
					        </li>
					        <li class="membership-plans-benefit">
					             项目扩展免费
					        </li>
					        <li class="membership-plans-benefit">
					             加封项目免费
					        </li>
						</ul>
	                </div>
	            </li>
	        </ul>
	    </div>
	</div>
</section>

<!-- 页脚部分 -->
<!-- footer.html -->
<% include ../publicTpl/footer.html %>
<!-- footer.html end-->
</body>
</html>