<!-- head.html -->
<% include ../publicTpl/head.html %>
<!-- head.html end-->

<body>
<!-- header.html -->
<% include ../publicTpl/header.html %>
<!-- header.html end-->

<!-- /header -->
<section class='com-main'>
	<div class="container">
		<section class='membership-heading'> 
			<h1 class='membership-title text-center'>Regbuzz 会员</h1>
			<p class='text-center mb-60'>没有固定义务。随时改变计划。最大化您的收入！</p>
		</section>
		<div class="membership-content">
	        <ul class="membership-plans-list">
	            <li class="membership-plans">
	                <div class="membership-plans-inner membership-plans-inner--user">
	                    <header class="membership-plans-header">
	                        <div class="membership-plans-header-inner">
	                            <h3 class="membership-plans-title">
	                                Basic Employer
	                            </h3>
	                                <span class="membership-plans-price">
	                                    $0<sup>.00</sup>
	                                </span>
	                                <span class="membership-plans-duration">per year</span>
	                            <div class="membership-plans-cta">
							        <button class="btn btn-secondary btn-block">
							                当前计划 
							        </button>								    
								</div>
	                        </div>
	                    </header>
	                    <ul class="membership-plans-benefits">
						    <li class="membership-plans-benefit">
						         Free to follow an Employer and <strong>5</strong> Free Followings
						    </li>
						    <li class="membership-plans-benefit">
						        Free to post a job
						    </li>
						    <li class="membership-plans-benefit">
						    	5 USD to highlight a job
						    </li>
						    <li class="membership-plans-benefit">
						         5 USD to extend a job
						    </li>
						    <li class="membership-plans-benefit">
						         50 USD for regbuzz recruiter service
						    </li>
						    <li class="membership-plans-benefit">
						         Free to raise a question
						    </li>
						      <li class="membership-plans-benefit">
						        5 USD to highlight a question
						    </li>
						    <li class="membership-plans-benefit">
						        5 USD to extend a question
						    </li>
						    <li class="membership-plans-benefit">
						        Free to answer a question
						    </li>
						     <li class="membership-plans-benefit">
						       5 Free answering per month
						    </li>
						    <li class="membership-plans-benefit">
						       5 USD for additional answering
						    </li>
						</ul>
	                </div>
	            </li>
	            <li class="membership-plans is-promoted">
	                <div class="membership-plans-inner membership-plans-inner--user">
	                    <header class="membership-plans-header">
	                        <div class="membership-plans-header-inner">
	                            <h3 class="membership-plans-title">
	                                Employer with Membership
	                            </h3>
	                            <span class="membership-plans-price">
	                                $300<sup>.00</sup>
	                            </span>
	                            <span class="membership-plans-duration">per year</span>
	                            <div class="membership-plans-cta">
	                    			<button class="btn btn-success btn-block">升级</button>
								</div>
				                <div class="membership-plans-cta-secondary is-hidden">
				                    <small class="membership-plans-cta-secondary-text">升级 membership?</small>
				                    <button class="btn btn-mini btn-primary">是的</button> <button class="btn btn-secondary">不</button>
				                </div>
	                        </div>
	                    </header>
	                    <ul class="membership-plans-benefits">
						    <li class="membership-plans-benefit">
						         Free to follow an Employer
						    </li>
						    <li class="membership-plans-benefit">
						        No limits for Employer following
						    </li>
						    <li class="membership-plans-benefit">
						        Free to post a job
						    </li>
						    <li class="membership-plans-benefit">
						        Free to highlight a job
						    </li>
						    <li class="membership-plans-benefit">
						        Free to extend a job
						    </li>
						    <li class="membership-plans-benefit">
						        Free for regbuzz recruiter service
						    </li>
					        <li class="membership-plans-benefit">
					            Free to raise a question
					        </li>
					        <li class="membership-plans-benefit">
					             Free to highlight a question
					        </li>
					        <li class="membership-plans-benefit">
					             Free to extend a question
					        </li>
					        <li class="membership-plans-benefit">
					             Free to answer a question
					        </li>
					        <li class="membership-plans-benefit">
					             No limits for answering per month
					        </li>
						</ul>
	                </div>
	            </li>
	            <li class="membership-plans">
	                <div class="membership-plans-inner membership-plans-inner--provider">
	                    <header class="membership-plans-header">
	                        <div class="membership-plans-header-inner">
	                            <h3 class="membership-plans-title">
	                                Basic Provider
	                            </h3>
	                            <span class="membership-plans-price">
	                                $0<sup>.00</sup>
	                            </span>
	                            <span class="membership-plans-duration">per year</span>
	                            <div class="membership-plans-cta">
				                        <button class="btn btn-small btn-primary btn-block">升级</button>
								</div>
				                <div class="membership-plans-cta-secondary is-hidden">
				                    <small class="membership-plans-cta-secondary-text">升级 membership?</small>
				                    <button class="btn btn-mini btn-primary">是的</button> <button class="btn btn-secondary">不</button>
				                </div>
	                        </div>
	                    </header>
	                    <ul class="membership-plans-benefits">
						    <li class="membership-plans-benefit">
						         Free to follow an Employer
						    </li>
						    <li class="membership-plans-benefit">
						        5 Free Followings
						    </li>
						    <li class="membership-plans-benefit">
						         Free to post a job
						    </li>
						    <li class="membership-plans-benefit">
								5 USD to highlight a job
							</li>
						    <li class="membership-plans-benefit">
						        5 USD to extend a job
						    </li>
						    <li class="membership-plans-benefit">
						        50 USD for regbuzz recruiter service
						    </li>
					        <li class="membership-plans-benefit">
					             Free to bid a job
					        </li>
					        <li class="membership-plans-benefit">
					             5 Free biddings per month
					        </li>
					        <li class="membership-plans-benefit">
					             5 USD for additional bidding
					        </li>
					        <li class="membership-plans-benefit">
					             3 Services listing
					        </li>
					        <li class="membership-plans-benefit">
					             Free to raise a question
					        </li>
					        <li class="membership-plans-benefit">
					            5 USD to highlight a question
					        </li>
					        <li class="membership-plans-benefit">
					             5 USD to extend a question
					        </li>
					        <li class="membership-plans-benefit">
					             Free to answer a question
					        </li>
							<li class="membership-plans-benefit">
					             5 Free answering per month
					        </li>
					        <li class="membership-plans-benefit">
					             5 USD for additional answering
					        </li>

						</ul>
	                </div>
	            </li>
	            <li class="membership-plans is-promoted">
	                <div class="membership-plans-inner membership-plans-inner--provider">
	                    <header class="membership-plans-header">
	                        <div class="membership-plans-header-inner">
	                            <h3 class="membership-plans-title">
	                                Provider with Membership
	                            </h3>
	                            <span class="membership-plans-price">
	                                $3000<sup>.00</sup>
	                            </span>
	                            <span class="membership-plans-duration">per year</span>
	                            <div class="membership-plans-cta">
	                   				 <button class="btn btn-small btn-success btn-block">升级</button>
								</div>
				               	 <div class="membership-plans-cta-secondary is-hidden">
				                    <small class="membership-plans-cta-secondary-text">升级 membership?</small>
				                    <button class="btn btn-mini btn-primary">是的</button> <button class="btn btn-secondary">不</button>
				                </div>
	                        </div>
	                    </header>
	                    <ul class="membership-plans-benefits">
						    <li class="membership-plans-benefit">
						        Free to follow an Employer
						    </li>
						    <li class="membership-plans-benefit">
						         No limits for Employer following
						    </li>
						    <li class="membership-plans-benefit">
						         Free to post a job
						    </li>
						    <li class="membership-plans-benefit">
						         Free to highlight a job
						    </li>
						    <li class="membership-plans-benefit">
						         Free to extend a job
						    </li>
						    <li class="membership-plans-benefit">
						         Free for regbuzz recruiter service
						    </li>
					        <li class="membership-plans-benefit">
					             Free to bid a job
					        </li>
					        <li class="membership-plans-benefit">
					             No limits for biding per month
					        </li>
					        <li class="membership-plans-benefit">
					             Free additional bidding
					        </li>
					        <li class="membership-plans-benefit">
					             50 Services listing
					        </li>
					        <li class="membership-plans-benefit">
					             Free to raise a question
					        </li>
					        <li class="membership-plans-benefit">
					             Free to highlight a question
					        </li>
					        <li class="membership-plans-benefit">
					             Free to extend a question
					        </li>
					        <li class="membership-plans-benefit">
					             Free to answer a question
					        </li>
					        <li class="membership-plans-benefit">
					        	No limits for answering per month
					        </li>
						</ul>
	                </div>
	            </li>
	        </ul>
	    </div>
	</div>
</section>

<!-- 页脚部分 -->
<!-- footer.html -->
<% include ../publicTpl/footer.html %>
<!-- footer.html end-->
</body>
</html>