<!-- head.html -->
<% include ./publicTpl/head.html %>
<!-- head.html end-->
<body>
<!-- header.html -->
<% include ./publicTpl/header.html %>
<!-- header.html end-->
<div class='breadcrumb-beauty-warp'>
	<div class="container">
		<ul class='breadcrumb-beauty'>
            <li>
              	<a href=""><i class="fa fa-home fa-lg"></i> Dashboard</a>
            </li>
            <li>
              	<a href="#">Message</a>
            </li>
      	</ul>
	</div>
</div>
<section class='com-main'>
<div class="container">
	<div class="message-detail">
		
		<div class="panel panel-default">
			<div class="panel-heading">
				与John Doe对话中
			</div>
			<div class="panel-body">
				<div class='message-detail-content' style='border: 1px solid #ccc;height: 300px;margin-bottom: 20px;'>
					 <div class="message message-left clearfix">
						<a href="" title="" class="person-img fl">	
							<img src="http://tp4.sinaimg.cn/1642909335/30/22867541466/0" alt="">
						</a>
						<div class="person-message fl">
							1212121
						</div>
					</div>
					<div class="message message-right clearfix">
						<a href="" title="" class="person-img fr">	
							<img src="http://tp2.sinaimg.cn/1300766585/30/40014067698/1" alt="">
						</a>
						<div class="person-message fr">
							1212121
						</div>
					</div>
				</div>
				<div class="input-group">
					<input type="text" name="" value="" placeholder="" class='form-control'>
					<div class="input-group-btn">
						<button type="" class='btn btn-primary'>回复</button>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

</section>

<!-- footer.html -->
<% include ./publicTpl/footer.html %>
<!-- footer.html end-->
</body>
</html>