<!-- head.html -->
<% include ./publicTpl/head-message.html %>
<!-- head.html end-->
<body>
<!-- header.html -->
<% include ./publicTpl/header.html %>
<!-- header.html end-->
<div class='breadcrumb-beauty-warp'>
	<div class="container">
		<ul class='breadcrumb-beauty'>
            <li>
              	<a href=""><i class="fa fa-home fa-lg"></i> Dashboard</a>
            </li>
            <li>
              	<a href="#">Message</a>
            </li>
      	</ul>
	</div>
</div>
<section class='com-main'>
<div class="container">
	<div class="loading2">
		<i></i>
	</div>
	<div class="message-detail" style='display: none'>	
		<div class="message-detail-chat">
			<header class='message-detail-header'>
				<h2 class='message-detail-title'>与 John Doe 聊天中</h2>
				<a href="" class='message-detail-delete'><i class="fa fa-trash-o" aria-hidden="true"></i></a>
			</header><!-- /header -->
			<div class='message-detail-content'>

			</div>
			<div class="emoji-input" style='position: relative;'>
				<div class="input-group">
					<input type="text" name="" value="" placeholder="" class='form-control' id='js_char-input'>
					<div class="input-group-btn">
						<a href="javascript;'" class='btn btn-secondary' title='表情' id='js_emojiBtn'><i class="fa fa-smile-o" aria-hidden="true"></i> </a>
						<button type="button" class='btn btn-primary' id='js_message-reply'>回复</button>
					</div>
				</div>
				<div id='emoji' class='connection-emoji'>
				</div>
			</div>
		</div>
	</div>
</div>

</section>

<!-- footer.html -->
<% include ./publicTpl/footer.html %>
<!-- footer.html end-->
</body>
</html>