<!-- head.html -->
<% include ./publicTpl/head-message.html %>
<!-- head.html end-->
<body>
<div class="stick-root">
	<!-- header.html -->
	<% include ./publicTpl/header.html %>
	<!-- header.html end-->
	<div class='breadcrumb-beauty-warp'>
		<div class="container">
			<ul class='breadcrumb-beauty'>
	            <li>
	              	<a href=""><i class="fa fa-home fa-lg"></i> Dashboard</a>
	            </li>
	            <li>
	              	<a href="#">Message</a>
	            </li>
	      	</ul>
		</div>
	</div>
	<section class='com-main'>
		<div class="container">
				<div class="message-list section">
					<ul class="nav nav-tabs">
					  <li class="active"><a href="#all" data-toggle='tab'>All Messages</a></li>
					  <li><a href="#unread"  data-toggle='tab'>Unread Messages</a></li>
					</ul>
					<div class="message-content tab-content">
						<div class="tab-pane active" id="all">
					    	<div class='message-content-list'>
								<div class='alert alert-dismissible fade in'>
									<div class="message-item unread">
										<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
										<div class='message-item-content'>			
			                                <a href="">
			                                    <span class="thumb"><img src="./Public/img/index/servers/2.jpg"></span>
			                                    <span class="desc">
			                                      <span class="name">John Doe <span class="badge badge-success">new</span></span>
			                                      <span class="msg">Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet...</span>
			                                    </span>
			                                </a>            
										</div>
									</div>		
								</div>
								<div class='alert alert-dismissible fade in'>
									<div class="message-item">
										<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
										<div class='message-item-content'>			
			                                <a href="">
			                                    <span class="thumb"><img src="./Public/img/index/servers/11.jpg"></span>
			                                    <span class="desc">
			                                      <span class="name">John Doe <span class="badge badge-success">new</span></span>
			                                      <span class="msg">Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet...</span>
			                                    </span>
			                                </a>            
										</div>
									</div>		
								</div>						
								<div class='alert alert-dismissible fade in'>
									<div class="message-item">
										<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
										<div class='message-item-content'>			
			                                <a href="">
			                                    <span class="thumb"><img src="./Public/img/index/servers/3.jpg"></span>
			                                    <span class="desc">
			                                      <span class="name">John Doe <span class="badge badge-success">new</span></span>
			                                      <span class="msg">Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet...</span>
			                                    </span>
			                                </a>            
										</div>
									</div>		
								</div>
								<div class='alert alert-dismissible fade in'>
									<div class="message-item">
										<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
										<div class='message-item-content'>			
			                                <a href="">
			                                    <span class="thumb"><img src="./Public/img/index/servers/4.jpg"></span>
			                                    <span class="desc">
			                                      <span class="name">John Doe</span>
			                                      <span class="msg">Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet...</span>
			                                    </span>
			                                </a>            
										</div>
									</div>		
								</div>
								<div class='alert alert-dismissible fade in'>
									<div class="message-item">
										<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
										<div class='message-item-content'>			
			                                <a href="">
			                                    <span class="thumb"><img src="./Public/img/index/servers/8.jpg"></span>
			                                    <span class="desc">
			                                      <span class="name">John Doe</span>
			                                      <span class="msg">Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet...</span>
			                                    </span>
			                                </a>            
										</div>
									</div>		
								</div>
								<div class='alert alert-dismissible fade in'>
									<div class="message-item unread">
										<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
										<div class='message-item-content'>			
			                                <a href="">
			                                    <span class="thumb"><img src="./Public/img/index/servers/9.jpg"></span>
			                                    <span class="desc">
			                                      <span class="name">John Doe</span>
			                                      <span class="msg">Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet...</span>
			                                    </span>
			                                </a>            
										</div>
									</div>		
								</div>																		
							</div>
							<nav class='text-right'>
								<ul class="pagination">
									<li class="disabled">
										<a href="#" aria-label="Previous">
											<span>&lt; Previous</span>
										</a>
									</li>
									<li class="active">
										<a href="#">1</a>
									</li>
									<li>
										<a href="#">2</a>
									</li>
									<li>
										<a href="#">3</a>
									</li>
									<li>
										<a href="#">4</a>
									</li>
									<li>
										<a href="#">5</a>
									</li>
									<li>
										<a href="#" aria-label="Next">
											<span>Next &gt;</span>
										</a>
									</li>
								</ul>
							</nav>	
				    	</div>
						<div class="tab-pane" id="unread">
					    	<div class='message-content-list'>
								<div class='alert alert-dismissible fade in'>
									<div class="message-item unread">
										<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
										<div class='message-item-content'>			
			                                <a href="">
			                                    <span class="thumb"><img src="./Public/img/index/servers/5.jpg"></span>
			                                    <span class="desc">
			                                      <span class="name">John Doe <span class="badge badge-success">new</span></span>
			                                      <span class="msg">Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet...</span>
			                                    </span>
			                                </a>            
										</div>
									</div>		
								</div>
								<div class='alert alert-dismissible fade in'>
									<div class="message-item unread">
										<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
										<div class='message-item-content'>			
			                                <a href="">
			                                    <span class="thumb"><img src="./Public/img/index/servers/10.jpg"></span>
			                                    <span class="desc">
			                                      <span class="name">John Doe</span>
			                                      <span class="msg">Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet...</span>
			                                    </span>
			                                </a>            
										</div>
									</div>		
								</div>
								<div class='alert alert-dismissible fade in'>
									<div class="message-item unread">
										<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
										<div class='message-item-content'>			
			                                <a href="">
			                                    <span class="thumb"><img src="./Public/img/index/servers/2.jpg"></span>
			                                    <span class="desc">
			                                      <span class="name">John Doe <span class="badge badge-success">new</span></span>
			                                      <span class="msg">Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet,Lorem ipsum dolor sit amet...</span>
			                                    </span>
			                                </a>            
										</div>
									</div>		
								</div>
							</div>
							<nav class='text-right'>
								<ul class="pagination">
									<li class="disabled">
										<a href="#" aria-label="Previous">
											<span>&lt; Previous</span>
										</a>
									</li>
									<li class="active">
										<a href="#">1</a>
									</li>
									<li>
										<a href="#">2</a>
									</li>
									<li>
										<a href="#">3</a>
									</li>
									<li>
										<a href="#">4</a>
									</li>
									<li>
										<a href="#">5</a>
									</li>
									<li>
										<a href="#" aria-label="Next">
											<span>Next &gt;</span>
										</a>
									</li>
								</ul>
							</nav>	
				    	</div>
					</div>
				</div>
		</div>
	</section>
	<div class="stick-root-footer"></div>
</div>

<!-- footer.html -->
<% include ./publicTpl/footer.html %>
<!-- footer.html end-->
</body>
</html>