 <!-- head.html -->
<% include ../publicTpl/head.html %>
<!-- head.html end-->

<body>
<!-- header.html -->
<% include ../publicTpl/header.html %>
<!-- header.html end-->


<section class='com-main'>
<div class="container setting-container" >
<div class="row">
	<div class="col-md-12 com-content">
		<!-- 手机认证 -->
		<section class="">
			<div class="panel panel-default">
				<div class="panel-heading">Mobile phone verification </div>
				<div class="panel-body">
					<form class="form-horizontal">
					  <div class="form-group">
					    <label for="inputEmail3" class="col-sm-4 control-label">输入手机号</label>
					    <div class="col-sm-3">
					      <div class="input-group">
						    <span class="input-group-addon">+86</span>
						     <input type="telephone" class="form-control" id="inputEmail3" placeholder="输入手机号">
						  </div>
					    </div>
					    <div class="col-sm-2">
					    	<button class="btn btn-secondary btn-block">
					    		获取验证码
					    	</button>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputEmail3" class="col-sm-4 control-label">输入验证码</label>
					    <div class="col-sm-3">
					      <input type="telephone" class="form-control" id="inputEmail3" placeholder="输入验证码">
					    </div>
					    <div class="col-sm-2">
					    	<button class="btn btn-secondary btn-block"  disabled='true'>
					    		重新发送(59s)
					    	</button>
					    </div>
					  </div>
					
					  <div class="form-group">
					    <div class="col-sm-offset-4 col-sm-10">
					      <button type="submit" class="btn btn-primary">submit</button>
					    </div>
					  </div>
					</form>
				</div>
			</div>
		</section>
	</div>
</div>
</div>
</section>


<!-- 页脚部分 -->
<!-- footer.html -->
<% include ../publicTpl/footer.html %>
<!-- footer.html end