<!-- head.html -->
<% include ../publicTpl/head.html %>
<!-- head.html end-->

<body>
<!-- header.html -->
<% include ../publicTpl/header.html %>
<!-- header.html end-->

<link rel="stylesheet" type="text/css" href="./plugins/wysiwyg/wysiwyg-editor.min.css">
<link rel="stylesheet" type="text/css" href="./plugins/wysiwyg/wysiwyg-custom.css">
<!-- /header -->
<section class='com-main'>
<div class="container container-post">
	<header class="connect-header clearfix">
		<div class="connect-header-icon pull-left">
			<i class="fa fa-edit fa-lg"></i>
		</div>
		<div class="connect-header-title pull-left">
			<h1>Your Posts</h1>
			<p>分享你的知识，让所有人为你鼓掌。</p>
		</div>
		<div class="pull-right">
			<a href="" class="btn btn-primary"><i class="fa fa-edit"></i>发布新文章</a>
		</div>
	</header>
	<section class='post-content row'>
		<div class="col-md-3">
			<aside class='post-aside'>
				<ul class='post-list section'>
					<li class='post-item'>
						<a href="" title="" class='post-item-link'>
							<span class="title">
								我是一个傲娇的标题
							</span>							
							<span class='delete-inline'>Draft · Feb 3, 2016</span>
							<button type="button" class='delete-post'>Delete</button>
						</a>
					</li>
					<li class='post-item'>
						<a href="" title="" class='post-item-link'>
							<span class="title">
								我是一个傲娇的标题
							</span>							
							<span class='delete-inline'>Draft · Feb 3, 2016</span>
							<button type="button" class='delete-post'>Delete</button>
						</a>
					</li>
				</ul>
			</aside>
		</div>
		<div class="col-md-9">
			<article class='post-edit section'>
				<!-- 图片上传 -->

				<!-- 标题 -->
				<h1 class='title'>
					<textarea name="" placeholder='Write Your Headline'></textarea>
				</h1>
				<!-- 分类 -->
				<div class='post-property clearfix'>
					<div class='pull-left' style='width: 70%'>
						<div class="category-select">
							<h4>选择分类</h4>
							<div class="form-group row--no-padding clearfix">
								<div class="col-md-6">
									<select name="" class='form-control'>
										<option value="">GHS</option>
									</select>
								</div>
								<div class="col-md-6">
									<select name="" class='form-control'>
										<option value="">Chemical</option>
									</select>
								</div>
							</div>
						</div>	
					
						<!-- 标签 -->
						<div class="label-select">
							<h4>选择标签</h4>
							<div class="form-group">
								<input type="text" name="" value="" placeholder="" class='form-control'>
							</div>
						</div>
					</div>
					<div class="pull-right" style='width: 30%'>
						<a href="" title="" class='post-unload-img'>
							<i class="fa fa-picture-o fa-2x"></i>
							<span>Add an image to bring your post to life</span>
							<input type="file" name="" value="" placeholder="">
						</a>
					</div>
				</div>
				
				
				
				
				<div class="edit-area">
					<textarea id="editor1" name="editor" placeholder="Type your text here..." rows="30">
    
  					</textarea>
				</div>
				
				
  				<div>
  					<button type="button" class='btn btn-primary-outline'>save</button>
  					<button type="button" class='btn btn-primary'>Publish</button>
  				</div>
			</article>
		</div>
	</section>

</div>
</section>

<!-- 页脚部分 -->
<!-- footer.html -->
<% include ../publicTpl/footer.html %>
<!-- footer.html end-->

</body>
</html>