<!-- head.html -->
<% include ../publicTpl/head.html %>
<!-- head.html end-->
<body>
<!-- header.html -->
<% include ../publicTpl/header.html %>
<!-- header.html end-->

<section class='com-main'>
	<div class="container profile">
		<div class="row">
			<div class="col-md-9 com-comment">

			<!-- 档案 -->
				<section class='profile-info profile-info--person section'>
					<div class='clearfix'>
						 <div class="pull-left profile-info--person-img">
						 	<!-- <div class="img"> -->
						 		<img src="./img/index/servers/13.jpg" alt="Aaron Su" width="100%">
						 	<!-- </div> -->
						 	<section class='profile-info--person-register text-center'>
						 		<p class='location'>Nanjing , China</p>
						 		<p class='mb-0'> Registered on August, 2015</p>
						 	</section>
						 </div>
						 <div class="pull-right profile-info--person-brief">
						 	<ul>
						 		<li class='clearfix'>
						 			<h2 class=' name'>Aaron Su </h2>
						 		</li>
						 		<li class='js-edit-start'>
							 		<div class='js-show'>
							 			<strong class='major js-edit-text js-edit-edit'> Law Consultant </strong>
							 			<a href="javascript:;" title="" class='edit js-edit-edit'><i class="fa fa-pencil"></i></a>
							 		</div>
							 		<div class='js-hide text-right'>
							 			<textarea name="" class='js-edit-textarea form-control'></textarea>
							 			<button type="button" class='js-edit-save btn btn-primary'>save</button>
							 			<button type="button" class='js-edit-cancel btn btn-primary-outline'>cancel</button>
							 		</div>
						 		</li>
						 		<li class='js-edit-start'>
						 			<div class='js-show'>
							 			<span class='summary js-edit-text js-edit-edit pull-left'>Compliance Consultant, Founder and CEO of ComplyEthic Consulting LLC, a firm dedicated to providing professional compliance support and cost-effective solutions tailored to meet company needs in a rapidly changing world. Leona led product compliance policy and process development for a Fortune 100 retailer. She's able to connect legal requirements to operational requirements by working with cross functional groups. </span>
							 			<a href="javascript:;" title="" class='edit js-edit-edit pull-left'><i class="fa fa-pencil"></i></a>
						 			</div>
							 		<div class='js-hide text-right'>
							 			<textarea name="" class='js-edit-textarea form-control' rows='10' palceholder='Best within 1000 words'></textarea>
							 			<button type="button" class='js-edit-save btn btn-primary'>save</button>
							 			<button type="button" class='js-edit-cancel btn btn-primary-outline'>cancel</button>
							 		</div>							 			
						 		</li>
						 	</ul>
						 </div>
					</div>
				</section>

				<!-- 联系 -->
				<!-- <section class='profile-info profile-info--contact section'>
						<h3 class='profile-info-title'>Contact</h3>
						<div class="row">
							<div class="col-md-6">
								<div class="profile-info--contact-item js-edit-start">
									<strong class='contact-title pull-left'><i class="fa fa-envelope"></i> Email</strong>
									<div class='js-show clearfix pull-left'>
										<p class='js-edit-text js-edit-edit pull-left'>szh@cirscn.com</p>
										<a href="javascript:;" title="" class='edit js-edit-edit pull-right'><i class="fa fa-pencil"></i></a>
									</div>	
									<div class='js-hide text-right'>
							 			<textarea name="" class='js-edit-textarea form-control' palceholder='Best within 1000 words'></textarea>
							 			<button type="button" class='js-edit-save btn btn-primary'>save</button>
							 			<button type="button" class='js-edit-cancel btn btn-primary-outline'>cancel</button>
							 		</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="profile-info--contact-item js-edit-start">
									<strong class='contact-title pull-left'><i class="fa fa-phone"></i> Phone</strong>
									<div class='js-show clearfix pull-left'>
										<p class='js-edit-text js-edit-edit pull-left'>+86 13770888273</p>
										<a href="javascript:;" title="" class='edit js-edit-edit pull-right'><i class="fa fa-pencil"></i></a>
									</div>	
									<div class='js-hide text-right'>
							 			<textarea name="" class='js-edit-textarea form-control' palceholder='Best within 1000 words'></textarea>
							 			<button type="button" class='js-edit-save btn btn-primary'>save</button>
							 			<button type="button" class='js-edit-cancel btn btn-primary-outline'>cancel</button>
							 		</div>
								</div>									
							</div>
							<div class="col-md-6">
								<div class="profile-info--contact-item js-edit-start">
									<strong class='contact-title pull-left'><i class="fa fa-skype"></i> Skype</strong>
									<div class='js-show clearfix pull-left'>
										<p class='js-edit-text js-edit-edit pull-left'>xxxxxxx</p>
										<a href="javascript:;" title="" class='edit js-edit-edit pull-right'><i class="fa fa-pencil"></i></a>
									</div>	
									<div class='js-hide text-right'>
							 			<textarea name="" class='js-edit-textarea form-control' palceholder='Best within 1000 words'></textarea>
							 			<button type="button" class='js-edit-save btn btn-primary'>save</button>
							 			<button type="button" class='js-edit-cancel btn btn-primary-outline'>cancel</button>
							 		</div>
								</div>									
							</div>
							<div class="col-md-6">
								<div class="profile-info--contact-item js-edit-start">
									<strong class='contact-title pull-left'><i class="fa fa-linkedin-square"></i> Linkedin</strong>
									<div class='js-show clearfix pull-left'>
										<p class='js-edit-text js-edit-edit pull-left'>szh@cirscn.com</p>
										<a href="javascript:;" title="" class='edit js-edit-edit pull-right'><i class="fa fa-pencil"></i></a>
									</div>	
									<div class='js-hide text-right'>
							 			<textarea name="" class='js-edit-textarea form-control' palceholder='Best within 1000 words'></textarea>
							 			<button type="button" class='js-edit-save btn btn-primary'>save</button>
							 			<button type="button" class='js-edit-cancel btn btn-primary-outline'>cancel</button>
							 		</div>
								</div>									
							</div>
						</div>
				</section> -->

				<!-- 服务 -->
				<section class='profile-info profile-info--server section'>
						<h3 class='profile-info-title'>Services</h3>
						<div class='pure-g'>
							<section class='pure-u-1 profile-info-item profile-info--server-item'>
							<div class="js-show">
								<h4 class='profile-info-item-position'>Global GHS Compliance Services</h4>
								<p>Price: <a href="" title="">100USD/H</a></p>
								<p class='profile-info-item-brief'>
									EU CLP SDS and Labeling; Chinese SDS and Labeling;Japanese and Korean SDS and Labeling;GHS in Other Asian Countries or Regions, e.g. Philippine, Taiwan, Malaysia, Korea, Japan, India, Thailan, Vietnam;Chemical Consumer Products Labeling Review.24h Emergency Telephone Number Ser
								</p>		
							</div>
							<div class='js-hide'>
								<input type="text" name="" value="" placeholder="">
								<input type="text" name="" value="" placeholder="">
								<textarea name=""></textarea>
							</div>

								<!-- 遮罩 -->
								<div class='profile-info-item-mask'>
									<a href="javascript:;" title="" class='js-mask-edit edit fa fa-pencil'></a>
									<a href="javascript:;" class='js-mask-delete delete fa fa-trash-o'></a>
								</div>
							</section>
							<section class='pure-u-1 profile-info-item profile-info--server-item'>
								<h4 class='profile-info-item-position'>Global GHS Compliance Services</h4>
									<p class='profile-info-item-brief'>
										EU CLP SDS and Labeling; Chinese SDS and Labeling;Japanese and Korean SDS and Labeling;GHS in Other Asian Countries or Regions, e.g. Philippine, Taiwan, Malaysia, Korea, Japan, India, Thailan, Vietnam;Chemical Consumer Products Labeling Review.24h Emergency Telephone Number Ser
									</p>
									<div class='pure-g profile-info--server-condition'>
										<span class='pure-u-1 pure-u-sm-1-3'>
											<i class="fa fa-usd"></i> Price: <span>100USD/H</span>
										</span>
									</div>										
								<!-- 遮罩 -->
								<div class='profile-info-item-mask'>
									<a href="javascript:;" title="" class='js-mask-edit edit fa fa-pencil'></a>
									<a href="javascript:;" class='js-mask-delete delete fa fa-trash-o'></a>
								</div>										
							</section>								
						</div>
						<div class='profile-info-add'>
							<a href="javascript:;" title="" class='profile-info-add js-profile-server-add btn btn-primary'><i class="fa fa-plus"></i> Add Services</a>
						</div>	
				</section>

				<!-- 技能 -->
				<section class='profile-info profile-info--skills section'>
					<h3 class='profile-info-title'>Skills</h3>
					<div class="pure-g">
						<div class="pure-u-1">
							<section class='skills'>
								<a href='javascript:;' class='skills-item'>   
									<span class='skills-title'>GHS</span>
									<i class="remove fa fa-times"></i>
								 </a>			
								<a href='javascript:;' class='skills-item'> 
									<span class='skills-title'>Chemical</span>
									<i class="remove fa fa-times"></i>
								 </a>
								<a href='javascript:;' class='skills-item'> 
									<span class='skills-title'>consult</span>
									<i class="remove fa fa-times"></i>
								</a>
							</section>
						</div>
					</div>
					<div class='profile-info-add'>
						<a href="javascript:;" title="" class='profile-info-add js-profile-skills-add btn btn-primary'><i class="fa fa-plus"></i> Add Skills</a>
					</div>							
				</section>

				<!-- 经验 -->
				<section class='profile-info profile-info--experience section'>
					<h3 class='profile-info-title'>Experience</h3>
					<div class='pure-g'>
						<section class="pure-u-1 profile-info-item experience-item">
							<h4 class='profile-info-item-position experience-item-position'>counselor</h4>
							<strong class='profile-info-item-company experience-item-company'>Global GHS Comliance Service</strong>
							<div class='profile-info-item-time experience-item-time'>
								<time datetime="2011-01-12">2011-01-12</time> - <time datetime="2011-02-12">2011-02-12</time> 
							</div>
							<p class='profile-info-item-brief experience-item-brief'>EU CLP SDS and Labeling; Chinese SDS and Labeling;Japanese and Korean SDS and Labeling;GHS in Other Asian Countries or Regions, e.g. Philippine, Taiwan, Malaysia, Korea, Japan, India, Thailan, Vietnam;Chemical Consumer Products Labeling Review.24h Emergency Telephone Number Service</p>
						</section>
						<section class="pure-u-1 profile-info-item experience-item">
							<h4 class='profile-info-item-position experience-item-position'>counselor</h4>
							<strong class='profile-info-item-company experience-item-company'>Global GHS Comliance Service</strong>
							<div class='profile-info-item-time experience-item-time'>
								<time datetime="2011-01-12">2011-01-12</time> - <time datetime="2011-02-12">2011-02-12</time> 
							</div>
							<p class='profile-info-item-brief experience-item-brief'>EU CLP SDS and Labeling; Chinese SDS and Labeling;Japanese and Korean SDS and Labeling;GHS in Other Asian Countries or Regions, e.g. Philippine, Taiwan, Malaysia, Korea, Japan, India, Thailan, Vietnam;Chemical Consumer Products Labeling Review.24h Emergency Telephone Number Service</p>
						</section>							
					</div>
					<div class='profile-info-add'>
						<a href="javascript:;" title="" class='profile-info-add js-profile-experience-add btn btn-primary'><i class="fa fa-plus"></i> Add Experience</a>
					</div>	
				</section>

				<!-- 教育 -->
				<section class='profile-info profile-info--educations section'>
					<h3 class='profile-info-title'>Educations</h3>
					<div class="pure-g">
						<div class="pure-u-1">
							<section class='profile-info-item'>
								<h4 class='profile-info-item-position'>BE</h4>
								<strong class='profile-info-item-company'>Punjab Engineering College, India</strong>
								<div class='profile-info-item-time'>
									<time datetime="2011-01-12">1992</time> - <time datetime="2011-01-12">1994</time> 
								</div>
							</section>
						</div>
					</div>
					<div class='profile-info-add'>
						<a href="javascript:;" title="" class='profile-info-add js-profile-educations-add btn btn-primary'><i class="fa fa-plus"></i> Add Educations</a>
					</div>							
				</section>

				<!-- 证书 -->
				<section class='profile-info section'>
					<h3 class='profile-info-title'>Certificate & Publish</h3>
					<div class="pure-g">
						<div class="pure-u-1">
							<section class='profile-info-item'>
								<h4 class='profile-info-item-position'>STRATEGIC MANAGEMENT (2012)</h4>
								<strong class='profile-info-item-company'>IIM – Kozhikode</strong>
								<div class='profile-info-item-time'>
									<time datetime="2011-01-12">1998</time>
								</div>
							</section>
							<section class='profile-info-item'>
								<h4 class='profile-info-item-position'>Responsive website and its future</h4>
								<strong class='profile-info-item-company'>Smashing Magazine</strong>
								<div class='profile-info-item-time'>
									<time datetime="2011-01-12">2008</time>
								</div>
							</section>								
						</div>
					</div>
					<div class='profile-info-add'>
						<a href="javascript:;" title="" class='profile-info-add js-profile-certificate-add btn btn-primary'><i class="fa fa-plus"></i> Add Certificate & Publish</a>
					</div>							
				</section>					
			</div>
			<div class="col-md-3 com-aside">
				<section class='profile-info-aside'>

					<div class='profile-info-aside-item hire section'>
						<a href="" title="" class='btn btn-primary' style='width:80%;'>&nbsp; <i class="fa fa-user-plus"></i>&nbsp; |&nbsp; Hire me</a>
					</div>
					<div class='profile-info-aside-item authentication section'>
						<h3 class='profile-info-aside-title'>Verifications</h3>
						<a href="" title="Email authentication" class='icon icon--mail is-verified'>
							<i class="fa fa-envelope-o"></i>
						</a>
						<a href="" title="Real name the authentication" class='icon icon--name'>
							<i class="fa fa-user"></i>
						</a>
						<a href="" title="Phone authentication" class='icon icon--phone'>
							<i class="fa fa-phone"></i>
						</a>
						<a href="" title="payment method" class='icon icon--credit'>
							<i class="fa fa-credit-card"></i>
						</a>
					</div>
					<div class='profile-info-aside-item evaluate section'>
						<h3 class='profile-info-aside-title'>Evaluate</h3>
						<ul class="evaluate-stars">
							<li class='clearfix'>
								<span class="item-stats item-stats-quality pull-left">Quality</span>
								<span class="item-stats-name item-stats-quality-name pull-left"></span>
								<div class="star-quality pull-left"></div>			
							</li>
							<li class='clearfix'> 
								<span class="item-stats item-stats-speed pull-left">Speed </span>
								<span class="item-stats-name item-stats-speed-name pull-left"></span>
								<div class="star-speed pull-left"></div>
							</li>
							<li class='clearfix'> 
								<span class="item-stats item-stats-attitude pull-left">Attitude </span>
								<span class="item-stats-name item-stats-attitude-name pull-left"></span> 
								<div class="star-attitude pull-left"></div>
							</li>
						</ul>
					</div>
					<div class='profile-info-aside-item history section'>
						<h3 class='profile-info-aside-title'>Work History</h3>
						<ul>
							<li>
								<span class="item-stats-name">jobs</span>
								<a href='' class="item-stats-value">596 </a>	
							</li>							
							<li>
								<span class="item-stats-name">Success</span>
								<span class="item-stats-value">96% </span>				
							</li>
							<li>
								<span class="item-stats-name">Income</span>
								<span class="item-stats-value">$ 3,000 </span>
							</li>
						</ul>
					</div>
					<div class='profile-info-aside-item associated section'>
						<h3 class='profile-info-aside-title'>Associated with</h3>
						<div class='clearfix'>
						<a href="" title="" class='associated-img pull-left'>
							<img src="img/profile/cirs.jpg"  width="100%" alt="">
						</a>
						<div class='associated-brief pull-right'>
							<a href="" title="">
								CIRS
							</a>
							<p>1200 Consultants belong</p>
						</div>	
						</div>
					</div>
					<div class='profile-info-aside-item blogs section'>
						<h3 class='profile-info-aside-title'>Blogs</h3>
						<ul class='blogs-list'>
							<li><a href="" title="How To Decide Whether You Need To Submit a SVHC Notification to ECHA?">How To Decide Whether You Need To Submit a SVHC Notification to ECHA?</a></li>
							<li><a href="" title="Expert Interpretation of SMCR Regulatory Highlights">Expert Interpretation of SMCR Regulatory Highlights</a></li>
							<li><a href="" title="The List of Unqualified Cosmetic Manufacturers (Jan-Sept, 2015)">The List of Unqualified Cosmetic Manufacturers (Jan-Sept, 2015)</a></li>
							<li><a href="" title="SMCR 2015 Gallery">SMCR 2015 Gallery</a></li>
							<li><a href="" title="Official Interpretation of the New Food Safety Law in China">Official Interpretation of the New Food Safety Law in China</a></li>
						</ul>
						<div class='text-right'>
							<a href="" title="">see all</a>
						</div>
						
					</div>						
				</section>
			</div>
		</div>
	</div>
</section>

<!-- footer.html -->
<% include ../publicTpl/footer.html %>
<!-- footer.html end-->


<!-- add的拓展 -->
<!-- 服务拓展 -->
<div id="js-profile-server" class='js-modal-content'>
	<div class="form-group">
	<label>
		Service Name: 
	</label>
		<input type="text" class='form-control' placeholder ='Service Name'>	
	</div>
	<div class="form-group">
		<label>
			Price
		</label>
		<div class="input-group">
			<span class='input-group-addon'><i class="fa fa-usd"></i></span>
			<input type="text" class='form-control' placeholder ='Price'>
		</div>	
	</div>	
	<div class="form-group">
	<label>
		Service brief 
	</label>
		<textarea class='form-control'></textarea>
	</div>

	<a href="" title="" class='btn btn-primay'>submit</a>
</div>

<!-- 技能 -->
<div id="js-profile-skills" class='js-modal-content'>
	<div class="form-group">
		<label>
			Skills
		</label>
			<input type="text" class='form-control' placeholder ='Skills Name'>	
		</div>
	<a href="" title="" class='btn btn-primay'>submit</a>
</div>

<!-- 经验 -->
<div id="js-profile-experience" class='js-modal-content'>
	<div class="form-group">
	<label>
		job title
	</label>
		<input type="text" class='form-control' placeholder ='job title'>	
	</div>
	<div class="form-group">
	<label>
		company name
	</label>
		<input type="text" class='form-control' placeholder ='company name'>	
	</div>
	<div class="form-group">
		<label>
			Time in position
		</label>
		<input type="text" class='form-control' placeholder ='Time in position'>
	</div>
	<div class="form-group">
		<label>
			Job profile
		</label>
		<textarea name="" class='form-control'></textarea>
	</div>	
	<a href="" title="" class='btn btn-primay'>submit</a>
</div>

<!-- 教育 -->
<div id="js-profile-educations" class='js-modal-content'>
	<div class="form-group">
		<label>
			Degree 
		</label>
		<input type="text" class='form-control' placeholder ='Degree'>	
	</div>
	<div class="form-group">
		<label>
			School name
		</label>
		<input type="text" class='form-control' placeholder ='School name'>	
	</div>
	<div class="form-group">
		<label>
			Time
		</label>
		<input type="text" class='form-control' placeholder ='School name'>	
	</div>
	<a href="" title="" class='btn btn-primay'>submit</a>
</div>

<!-- 出版 -->
<div id="js-profile-certificate" class='js-modal-content'>
	<div class="form-group">
	<label>
		Title
	</label>
		<input type="text" class='form-control' placeholder ='Service Name'>	
	</div>
	<div class="form-group">
	<label>
		certification body
	</label>
		<input type="text" class='form-control' placeholder ='certification body'>	
	</div>
	<div class="form-group">
		<label>
			Time
		</label>
		<input type="text" class='form-control' placeholder ='Time'>
	</div>
	<a href="" title="" class='btn btn-primay'>submit</a>
</div>

</body>
</html>