<!-- head.html -->
<% include ./publicTpl/head-project.html %>
<!-- head.html end-->

<body>
<!-- header.html -->
<% include ./publicTpl/header.html %>
<!-- header.html end-->
<div class='breadcrumb-beauty-warp'>
	<div class="container">
		<ul class='breadcrumb-beauty'>
            <li>
              <a href=""><i class="fa fa-home fa-lg"></i> Dashboard</a>
            </li>
            <li>
              <a href=""> Projects</a>
            </li>
            <li>
              <a href="#">Drafts</a>
            </li>
      	</ul>
	</div>
</div>
<!-- /header -->
<section class='com-main'>
<div class="container">
	
	<!--草稿  -->
	<section class='mb-60'>
		<!-- <h1 class='com-title-h1'>Drafts</h1> -->
		<div id="toolbar" class="btn-group">
			<button type="button" class="btn btn-danger">
				<i class="fa fa-trash-o vertical-middle" aria-hidden="true"></i>&nbsp;&nbsp;<span class='vertical-middle'>Delete Selected </span>
			</button>
		</div>
		<table class="table"  data-toggle="table" data-sort-name="stargazers_count" data-sort-order="desc" data-search="true" data-show-refresh="true" data-pagination="true" data-click-to-select="true" data-toolbar="#toolbar">
			<thead>
			<tr class='active'>
				<th data-field="state" data-checkbox="true" data-width='4%'></th>
				<th data-sortable="true" data-width='50%'>Draft Title</th>
				<th data-sortable="true" data-width='26%'>Type</th>
				<th data-events="actionEvents" data-width='20%'>Action</th>
			</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td>
						<a href="" title="">我是一个示例草稿</a>
					</td>
					<td>
						Project
					</td>
					<td>
						<a href="" title="Edit" class='project-action'>
							<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
						</a>
						<a href="" title="Delete"  class='project-action'>
							<i class="fa fa-trash-o" aria-hidden="true"></i>
						</a>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<a href="" title="">我是一个示例草稿</a>
					</td>
					<td>
						Proposal
					</td>
					<td>
						<a href="" title="Edit" class='project-action'>
							<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
						</a>
						<a href="" title="Delete" class='project-action'>
							<i class="fa fa-trash-o" aria-hidden="true"></i>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</section>
</div>
</section>

<!-- 页脚部分 -->
<!-- footer.html -->
<% include ./publicTpl/footer.html %>
<!-- footer.html end-->
</body>
</html>