<!-- head.html -->
<% include ./publicTpl/head-project.html %>
<!-- head.html end-->

<body>
<!-- header.html -->
<% include ./publicTpl/header.html %>
<!-- header.html end-->
<div class='breadcrumb-beauty-warp'>
	<div class="container">
		<ul class='breadcrumb-beauty'>
            <li>
              <a href=""><i class="fa fa-home fa-lg"></i> Dashboard</a>
            </li>
            <li>
              <a href=""> Projects</a>
            </li>
            <li>
              <a href="#">Bookmarked Projects</a>
            </li>
      	</ul>
	</div>
</div>
<!-- /header -->
<section class='com-main'>
<div class="container container-bookmark">

	<!-- <h1 class='com-title-h1'>Bookmarked Projects</h1> -->
	<div class='bookmark-section'>
		<table class="table table-bordered table-hover ">
			<thead>
				<tr class='active'>
					<th>项目</th>
					<th>竞标/作品</th>
					<th>开始时间</th>
					<th>结束时间</th>
					<th>价格 (USD)</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan="5">No Projects found</td>
				</tr>
			</tbody>
		</table>
		<p>
			show 0 to 0 of 0 cntries
		</p>		
	</div>

</div>
</section>

<!-- 页脚部分 -->
<!-- footer.html -->
<% include ./publicTpl/footer.html %>
<!-- footer.html end-->
</body>
</html>