<!-- head.html -->
<% include ./publicTpl/head-project.html %>
<!-- head.html end-->

<body>
<!-- header.html -->
<% include ./publicTpl/header.html %>
<!-- header.html end-->
<div class='breadcrumb-beauty-warp'>
	<div class="container">
		<ul class='breadcrumb-beauty'>
            <li>
              <a href=""><i class="fa fa-home fa-lg"></i> Dashboard</a>
            </li>
            <li>
              <a href=""> Projects</a>
            </li>
            <li>
              <a href="#">Bookmarked Projects</a>
            </li>
      	</ul>
	</div>
</div>
<!-- /header -->
<section class='com-main'>
<div class="container container-bookmark">

	<!-- <h1 class='com-title-h1'>Bookmarked Projects</h1> -->
	<div class='bookmark-section'>
		<div id="toolbar" class="btn-group">
			<button type="button" class="btn btn-danger">
				Delete Selected
			</button>
		</div>
		<table class="table"  data-toggle="table" data-sort-name="stargazers_count" data-sort-order="desc" data-search="true" data-show-refresh="true" data-pagination="true" data-click-to-select="true" data-toolbar="#toolbar">
			<thead>
			<tr class='active'>
				<th data-field="state" data-checkbox="true"></th>
				<th data-sortable="true">Title</th>
				<th data-sortable="true">Status</th>
				<th data-events="actionEvents">Action</th>
			</tr>
			</thead>
			<tbody>
				<tr>
					<td></td>
					<td>
						<a href="" title="">我是一个示例收藏</a>
					</td>
					<td>
						Waiting for bids
					</td>
					<td>
						<button type="button" class='btn btn-primary btn-sm'>Detail</button>
						<button type="button" class='btn btn-danger btn-sm draft-remove'>Delete</button>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<a href="" title="">我是一个示例收藏</a>
					</td>
					<td>
						Closed
					</td>
					<td>
						<button type="button" class='btn btn-primary btn-sm'>Detail</button>
						<button type="button" class='btn btn-danger btn-sm draft-remove'>Delete</button>
					</td>
				</tr>
			</tbody>
		</table>		
	</div>

</div>
</section>

<!-- 页脚部分 -->
<!-- footer.html -->
<% include ./publicTpl/footer.html %>
<!-- footer.html end-->
</body>
</html>