<!-- head.html -->
<% include ./publicTpl/head-project.html %>
<!-- head.html end-->
<body>
<!-- header.html -->
<% include ./publicTpl/header.html %>
<!-- header.html end-->

<div class='breadcrumb-beauty-warp'>
	<div class="container">
		<ul class='breadcrumb-beauty'>
            <li>
              <a href=""><i class="fa fa-home fa-lg"></i> Dashboard</a>
            </li>
            <li>
              <a href=""> Projects</a>
            </li>
            <li>
              <a href="#">发起的任务</a>
            </li>
      	</ul>
	</div>
</div>
<section class='com-main'>
	<div class="container container--proList">
		<div class="proList-content">
			
			<!-- 主要内容  雇主视角-->
			<section class='proList-section section--employer-view active'>
				<div class='employer-view'>
					<!-- 主要内容 -->
					<!-- Nav tabs -->
					<ul class="nav nav-tabs nav-tabs-custom-blue">
						<li role="presentation" class="active">
							<a href="#open-for-bidding" data-toggle="tab">Open for Bidding</a>
						</li>
						<li role="presentation">
							<a href="#order-placing" data-toggle="tab">Order placing</a>
						</li>
						<li role="presentation">
							<a href="#work-in-progress" data-toggle="tab">Work in Progress</a>
						</li>
						<li role="presentation">
							<a href="#past-project" data-toggle="tab">Past Project</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						
						<!-- open-for-bidding -->
						<% include ./projectTpl/e_open-for-bidding.html %>
						<!-- invite -->
						<div class='open-waiting-invite' id="open-waiting-invite">
							<div class="invite-content clearfix">
								<div class="invite-friends">
									<h4 class='invite-title'>好友列表</h4>
									<ul class='firends-item-warp'>

									<li v-if='loadingMsg'>{{loadingMsg}}</li>
										<template v-for='item in friendsList' v-if='firnedsList.length'>
											<li class='firends-item' v-if='item.status === "0"'>
												<label for="{{item.userid}}" ><input id="{{item.userid}}" type="checkbox" class="" value="{{ item.userid }}" @click='aaa($event,$index)'> <span>{{item.username}}</span></label>
											</li>
										</template>
									</ul>
								</div>

								<div class='invite-board'>
								<h4 class='invite-title'>邀请好友（最多五位）</h4>
									<ul class='invite-box-warp'>
										<template v-for='item in friendsList'>
											<li class='firends-item' v-if='item.status === "1"'>
												<label for="{{item.userid}}"><input id="{{item.userid}}" type="checkbox" class="" value="{{ item.userid }}"  @click='bbb($index)'> <span>{{item.username}}</span></label>
											</li>
										</template>
									</ul>
								</div>
							</div>
						</div>

						<!-- order-placing -->
						<% include ./projectTpl/e_order-placing.html %>

						<!-- work in progress -->
						<% include ./projectTpl/e_work-in-progress.html %>

						<!-- past-project -->
						<% include ./projectTpl/e_past-project.html %>
						
					</div>
				</div>
			</section>
		</div>
	</div>
</section>

<!-- footer.html -->
<% include ./publicTpl/footer.html %>
<!-- footer.html end-->



</body>
</html>