<!-- head.html -->
<% include ../publicTpl/head.html %>
<!-- head.html end-->
<body>
<!-- header.html -->
<% include ../publicTpl/header.html %>
<!-- header.html end-->

<section class='com-main'>
	
	<div class="container container--proList">
		<header class='proList-header'>
			<h1>项目管理</h1>
			<div class="regbuzzToggle">
		        <input id="employerView_option" type="radio" value="employer" name="usertype_option" checked="true">
		        <label for="employerView_option"> 
		            Employer
		        </label>
		        <input id="providerView_option" type="radio" value="provider" name="usertype_option">
		        <label for="providerView_option" >
		            Provider
		        </label>
		    </div>
		</header>
		<div class="proList-content">
			
			<!-- 主要内容  雇主视角-->
			<section class='proList-section section--employer-view active'>
				<div class='employer-view'>
					<!-- 主要内容 -->
					<!-- Nav tabs -->
					<ul class="nav nav-tabs nav-tabs-custom-dark">
						<li role="presentation" class="active">
							<a href="#open-for-bidding" data-toggle="tab">Open for Bidding</a>
						</li>
						<li role="presentation">
							<a href="#order-placing" data-toggle="tab">Order placing</a>
						</li>
						<li role="presentation">
							<a href="#work-in-progress" data-toggle="tab">Work in Progress</a>
						</li>
						<li role="presentation">
							<a href="#past-project" data-toggle="tab">Past Project</a>
						</li>
						<li role="presentation">
							<a href="#open-question" data-toggle="tab">Open Question</a>
						</li>
						<li role="presentation">
							<a href="#past-question" data-toggle="tab">Past Question</a>
						</li>
					</ul>

					<!-- 搜索 -->
					<div class="row pt-30">
						<div class="col-md-9">
							<div class="form-group">
								<div class="input-group">
									<input type="text" name="" value="" placeholder="" class='form-control'>
									<div  style='width: 1%;display: table-cell;white-space: nowrap;vertical-align: middle;'>
										<button type="" class='btn btn-primary' style='border-radius: 0 4px 4px 0'>search</button>
									</div>

								</div>

							<!-- <button type="" class='btn btn-primary' style='width: auto;'>search</button> -->
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<div class="input-group">
									<select class='form-control'>
										<option value="5"> 显示5</option>
										<option value="10" selected="true"> 显示10</option>
										<option value="15"> 显示15</option>
										<option value="20"> 显示20</option>
										<option value="100"> 显示100</option>
									</select>
									<div style='width: 1%;display: table-cell;white-space: nowrap;vertical-align: middle;'>
										<button type="" class='btn btn-primary' style='border-radius: 0 4px 4px 0'><i class="fa fa-refresh"></i></button>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Tab panes -->
					<div class="tab-content">

						<!-- open-for-bidding -->
						<div class="tab-pane active" id="open-for-bidding">
							<table class="table table-bordered">
							<thead>
								<tr class='active'>
									<th width="37%">Name</th>
									<th width="12%">Bids</th>
									<th width="12%">Averagre Price</th>
									<th width="12%">Time Remaining</th>
									<th width="12%">Status</th>
									<th width="12%">Action</th>
								</tr>
							</thead>
							<tbody>
								<!-- <tr>
									<td class="CreateProject-container text-center" colspan="5">
										<a href="publish-quick.html" class="CreateProject">
										<h4 class="CreateProject-heading">创建一个新的项目</h4>
										<p class="CreateProject-description">数以百万计的优秀威客准备好助您完成令人惊奇的事情。</p>
										</a>
									</td>
								</tr> -->
								<tr>
									<td><a href="" title="竞标名称">竞标名称</a></td>
									<td>
										<a href="" title="">10</a>
									</td>
									<td>0 USD</td>
									<td>6days 7h</td>
									<td>
										<span class=''>Waiting for bids</span>
									</td>
									<td>
										<a href="" class="action">Append</a>
										<a href="" class="action">Promote</a>
										<a href="" class="action">Extend</a>
										<a href="" class="action">Repost</a>
										<a href="" class="action">Cancel</a>
									</td>
								</tr>
								
								<tr>
									<td><a href="" title="竞标名称">竞标名称</a></td>
									<td><a href="" title="">10</a></td>
									<td>10 USD</td>
									<td>0</td>
									<td>
										<span class=''>Proposal Selecting</span>
									</td>
									<td>
										<a href="" class="action">Extend</a>
										<a href="" class="action">Repost</a>
										<a href="" class="action">Select</a>
										<a href="" class="action">Cancel</a>
									</td>
								</tr>
								
							</tbody>
							</table>
						</div>
						<!-- open-for-bidding end -->

						<!-- order-placing -->
						<div class="tab-pane" id="order-placing">
							<table class="table table-bordered">
								<thead>
									<tr class='active'>
										<th width="37%">Name</th>
										<th width="12%">Provider</th>
										<th width="12%">Price</th>
										<th width="12%">Time Remaining</th>
										<th width="12%">Status</th>
										<th width="12%">Action</th>
									</tr>
								</thead>
								<tbody>
									<!-- <tr>
										<td class="CreateProject-container text-center" colspan="5">
											<a href="publish-quick.html" class="CreateProject">
											<h4 class="CreateProject-heading">创建一个新的项目</h4>
											<p class="CreateProject-description">数以百万计的优秀威客准备好助您完成令人惊奇的事情。</p>
											</a>
										</td>
									</tr> -->
									<tr>
										<td>
											<a href="">订单名称</a>
										</td>
										<td><a href="">Charles C.</a></td>
										<td></td>
										<td></td>
										<td>Order Drafting</td>
										<td>
											<a href="" class='action'>Edit</a>
											<a href="" class='action'>Cancel</a>
										</td>
									</tr>
									<tr>
										<td>
											<a href="">订单名称</a>
										</td>
										<td><a href="">Charles C.</a></td>
										<td></td>
										<td></td>
										<td>Waiting for confirmation</td>
										<td>
											<a href="" class='action'>Append</a>
											<a href="" class='action'>Cancel</a>
										</td>
									</tr>
									<tr>
										<td>
											<a href="">订单名称</a>
										</td>
										<td><a href="">Charles C.</a></td>
										<td></td>
										<td></td>
										<td>Order confirmed</td>
										<td>
											<a href="" class='action'>Append</a>
											<a href="" class='action'>Pay</a>
											<a href="" class='action'>Cancel</a>
										</td>
									</tr>
									<tr>
										<td>
											<a href="">订单名称</a>
										</td>
										<td><a href="">Charles C.</a></td>
										<td></td>
										<td></td>
										<td>Waiting for cancellation</td>
										<td>
											<a href="" class='action'>Resume</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- order-placing end -->


						<div class="tab-pane" id="work-in-progress">
							<table class="table table-bordered">
								<thead>
									<tr class='active'>
										<th width="37%">Name</th>
										<th width="12%">Provider</th>
										<th width="12%">Price</th>
										<th width="12%">Time Remaining</th>
										<th width="12%">Status</th>
										<th width="12%">Action</th>
									</tr>
								</thead>
								<tbody>
									<!-- <tr>
										<td class="CreateProject-container text-center" colspan="5">
											<a href="publish-quick.html" class="CreateProject">
											<h4 class="CreateProject-heading">创建一个新的项目</h4>
											<p class="CreateProject-description">数以百万计的优秀威客准备好助您完成令人惊奇的事情。</p>
											</a>
										</td>
									</tr> -->
									<tr>
										<td>
											<a href="">工作项目</a>
										</td>
										<td>
											<a href="">Charles C.</a>
										</td>
										<td>
											10 USD
										</td>
										<td>
											6Days7h59m59s
										</td>
										<td>
											Waiting for Deliverables
										</td>
										<td>
											<a href="" class='action'>Extend</a>
											<a href="" class='action'>Dispute</a>
											<a href="" class='action'>Cancel</a>
										</td>
									</tr>
									<tr>
										<td>
											<a href="">工作项目</a>
										</td>
										<td>
											<a href="">Charles C.</a>
										</td>
										<td>
											10 USD
										</td>
										<td>
											0
										</td>
										<td>
											Time out
										</td>
										<td>
											<a href="" class='action'>Extend</a>
											<a href="" class='action'>Dispute</a>
											<a href="" class='action'>Cancel</a>
										</td>
									</tr>
									<tr>
										<td>
											<a href="">工作项目</a>
										</td>
										<td>
											<a href="">Charles C.</a>
										</td>
										<td>
											10 USD
										</td>
										<td>
											6Days7h59m59s
										</td>
										<td>
											Job done
										</td>
										<td>
											<a href="" class='action'>Receipt confirm</a>
											<!-- <a href="" class='action'>Release money</a>
											<a href="" class='action'>Comment</a> -->
											<a href="" class='action'>Dispute</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="tab-pane" id="past-project">
							<table  class="table table-bordered">
								<thead>
									<tr class='active'>
										<th width="37%">Name</th>
										<th width="12%">Provider</th>
										<th width="12%">Price</th>
										<th width="12%">Time Remaining</th>
										<th width="12%">Status</th>
										<th width="12%">Action</th>
									</tr>
								</thead>
								<tbody>
									<!-- <tr>
										<td class="CreateProject-container text-center" colspan="7">
										<a href="publish-quick.html" class="CreateProject">
											<h4 class="CreateProject-heading">创建一个新的项目</h4>
											<p class="CreateProject-description">数以百万计的优秀威客准备好助您完成令人惊奇的事情。</p>
										</a>
										</td>
									</tr> -->
									<tr>
										<td>
											<a href="">项目名称</a>
										</td>
										<td>
											<a href="">Charles C.</a>
										</td>
										<td>
											10 USD
										</td>
										<td></td>
										<td>
											Success
										</td>
										<td>
											<a href="" class="action">Add comment</a>
											<a href="" class="action">Dispute</a>
										</td>
									</tr>
									<tr>
										<td>
											<a href="">项目名称</a>
										</td>
										<td>
											<a href="">Charles C.</a>
										</td>
										<td>
											10 USD
										</td>
										<td></td>
										<td>
											Failed
										</td>
										<td>
											<a href="" class="action">Reason</a>
											<a href="" class="action">Dispute</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="tab-pane" id="open-question">
							<table class="table table-bordered">
								<thead>
									<tr class='active'>
										<th width="37%">Name</th>
										<th width="12%">Reward</th>
										<th width="12%">Answers</th>
										<th width="12%">Time Remaining</th>
										<th width="12%">Status</th>
										<th width="12%">Action</th>
									</tr>
								</thead>
								<tbody>
									<!-- <tr>
										<td class="CreateProject-container text-center" colspan="6">
											<a href="publish-ask.html" class="CreateProject">
											<h4 class="CreateProject-heading">创建一个新的项目</h4>
											<p class="CreateProject-description">数以百万计的优秀威客准备好助您完成令人惊奇的事情。</p>
											</a>
										</td>
									</tr> -->
									<tr>
										<td>
											<a href="">问题名称</a>
										</td>
										<td>
											10 USD
										</td>
										<td>
											10
										</td>
										<td>
											6Days7h59m59s
										</td>
										<td>
											Question Drafting
										</td>
										<td>
											<a href="" class="action">Edit</a>
											<a href="" class="action">Cancel</a>
										</td>
									</tr>
									<tr>
										<td>
											<a href="">问题名称</a>
										</td>
										<td>
											10 USD
										</td>
										<td>
											10
										</td>
										<td>
											6Days7h59m59s
										</td>
										<td>
											Waiting for answers
										</td>
										<td>
											<a href="" class="action">Append</a>
											<a href="" class="action">Promote</a>
											<a href="" class="action">Extend</a>
										</td>
									</tr>
									<tr>
										<td>
											<a href="">问题名称</a>
										</td>
										<td>
											10 USD
										</td>
										<td>
											10
										</td>
										<td>
											0
										</td>
										<td>
											Answering closed
										</td>
										<td>
											<a href="" class="action">Extend</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="tab-pane" id="past-question">
							<table class="table table-bordered">
								<thead>
									<tr class='active'>
										<th width="37%">Name</th>
										<th width="12%">Reward</th>
										<th width="12%">Answers</th>
										<th width='12%'>Time Remaining</th>
										<th width="12%">Status</th>
										<th width="12%">Action</th>
									</tr>
								</thead>
								<tbody>
									<!-- <tr>
										<td class="CreateProject-container text-center" colspan="6">
											<a href="publish-ask.html" class="CreateProject">
												<h4 class="CreateProject-heading">创建一个新的项目</h4>
												<p class="CreateProject-description">数以百万计的优秀威客准备好助您完成令人惊奇的事情。</p>
											</a>
										</td>
									</tr> -->
									<tr>
										<td>
											<a href="">问题题目</a>
										</td>
										<td>
											10 USD
										</td>
										<td>
											10
										</td>
										<td></td>
										<td>
											Success
										</td>
										<td>
										</td>
									</tr>
									<tr>
										<td>
											<a href="">问题题目</a>
										</td>
										<td>
											10 USD
										</td>
										<td>
											10
										</td>
										<td></td>
										<td>
											Failed
										</td>
										<td>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</section>

			<section class='proList-section section--provider-view'>
				<!-- 威客身份 -->
				<div class="provider-view">
					  <!-- Nav tabs -->
					  <ul class="nav nav-tabs nav-tabs-custom-dark">
						    <li role="presentation" class="active">
						    	<a href="#active-bids" data-toggle="tab">Active Bids</a>
		                	</li>
		                	 <li role="presentation">
						    	<a href="#order-placing-provider" data-toggle="tab">Order Placing</a>
		                	</li>
						    <li role="presentation">
						   	 	<a href="#current-work" data-toggle="tab">Current Work</a>
						    </li>
						    <li role="presentation">
					   		 	<a href="#past-work" data-toggle="tab">Past Work</a>
		                    </li>
						    <li role="presentation">
						    	<a href="#active-question" data-toggle="tab">Active Question</a>
			                 </li>
			                  <li role="presentation">
			                  	<a href="#past-question-provider" data-toggle="tab">Past Question</a>
			                 </li>
					  </ul>

					  <!-- 搜索 -->
					  <div class="row pt-30">
					  		<div class="col-md-9">
				  				<div class="form-group">
				  					<div class="input-group">
				  						<input type="text" name="" value="" placeholder="" class='form-control'>
				  						<div  style='width: 1%;display: table-cell;white-space: nowrap;vertical-align: middle;'>
				  							<button type="" class='btn btn-primary' style='border-radius: 0 4px 4px 0'>search</button>
				  						</div>

				  					</div>
				  						
			  							<!-- <button type="" class='btn btn-primary' style='width: auto;'>search</button> -->
				  				</div>
					  		</div>
					  		<div class="col-md-3">
					  			<div class="form-group">
				  					<div class="input-group">
				  						<select class='form-control'>
								  				<option value="5"> 显示5</option>
								  				<option value="10"> 显示10</option>
								  				<option value="15"> 显示15</option>
								  				<option value="20"> 显示20</option>
								  				<option value="100"> 显示100</option>
						  				</select>
				  						<div style='width: 1%;display: table-cell;white-space: nowrap;vertical-align: middle;'>
				  							<button type="" class='btn btn-primary' style='border-radius: 0 4px 4px 0'><i class="fa fa-refresh"></i></button>
				  						</div>
				  					</div>
				  				</div>
					  		</div>
					  </div>
					  
					  <div class="tab-content">
						    <div role="tabpanel" class="tab-pane active" id="active-bids">
						    	<table class="table table-bordered">
						    		<thead>
						    			<tr class='active'>
						    				<th width="37%">Name</th>
						    				<th width="12%">Bids</th>
						    				<th width="12%">Average price</th>
						    				<th width="12%">Time remaining</th>
						    				<th width="12%">Status</th>
						    				<th width="12%">Action</th>
						    			</tr>
						    		</thead>
						    		<tbody>
						    			<tr>
						    				<td>
						    					<a href="">项目名称</a>
						    				</td>
						    				<td>21</td>
						    				<td>128 USD</td>
						    				<td>6Days7h59m59s</td>
						    				<td>Opening for bids</td>
						    				<td>
						    					<a href="" class="action">Edit</a>
						    					<a href="" class="action">Append</a>
						    					<a href="" class="action">Quit</a>
						    				</td>
						    			</tr>
						    			<tr>
						    				<td>
						    					<a href="">项目名称</a>
						    				</td>
						    				<td>21</td>
						    				<td>128 USD</td>
						    				<td>0</td>
						    				<td>Waiting for Result</td>
						    				<td>
						    					<a href="" class="action">Quit</a>
						    				</td>
						    			</tr>
						    		</tbody>
						    	</table>
						    </div>
						    <div role="tabpanel" class="tab-pane" id="order-placing-provider">
						    	<table class="table table-bordered">
						    		<thead>
						    			<tr class='active'>
						    				<th width="37%">Name</th>
						    				<th width="12%">Employer</th>
						    				<th width="12%">Price</th>
						    				<th width="12%">Time remaining</th>
						    				<th width="12%">Status</th>
						    				<th width="12%">Action</th>
						    			</tr>
						    		</thead>
						    		<tbody>
						    			<tr>
						    				<td>
						    					<a href="">项目名称</a>
						    				</td>
						    				<td>
						    					<a href="">Aaron Su.</a>
						    				</td>
						    				<td></td>
						    				<td></td>
						    				<td>
						    					Waiting for the order
						    				</td>
						    				<td>
						    					<a href="" class="action">Quit</a>
						    				</td>
						    			</tr>
						    			<tr>
						    				<td>
						    					<a href="">项目名称</a>
						    				</td>
						    				<td>
						    					<a href="">Aaron Su.</a>
						    				</td>
						    				<td></td>
						    				<td></td>
						    				<td>
						    					Order received
						    				</td>
						    				<td>
						    					<a href="" class="action">Order Confirm</a>
						    					<a href="" class="action">Quit</a>
						    				</td>
						    			</tr>
						    			<tr>
						    				<td>
						    					<a href="">项目名称</a>
						    				</td>
						    				<td>
						    					<a href="">Aaron Su.</a>
						    				</td>
						    				<td></td>
						    				<td></td>
						    				<td>
						    					Waiting for payment
						    				</td>
						    				<td>
						    					<a href="" class="action">Quit</a>
						    				</td>
						    			</tr>
						    			<tr>
						    				<td>
						    					<a href="">项目名称</a>
						    				</td>
						    				<td>
						    					<a href="">Aaron Su.</a>
						    				</td>
						    				<td></td>
						    				<td></td>
						    				<td>
						    					Waiting for quit
						    				</td>
						    				<td>
						    					<a href="" class="action">Resume</a>
						    				</td>
						    			</tr>
						    			
						    		</tbody>
						    	</table>
						    </div>
						    <div role="tabpanel" class="tab-pane" id="current-work">
						    	<table class="table table-bordered">
						    		<thead>
						    			<tr class='active'>
						    				<th width="37%">Name</th>
						    				<th width="12%">Employer</th>
						    				<th width="12%">Price</th>
						    				<th width="12%">Time remaining</th>
						    				<th width="12%">Status</th>
						    				<th width="12%">Action</th>
						    			</tr>
						    		</thead>
						    		<tbody>
						    			<tr>
						    				<td>
						    					<a href="">项目名称</a>
						    				</td>
						    				<td>
						    					<a href="">Aaron Su.</a>
						    				</td>
						    				<td>
						    					100 USD
						    				</td>
						    				<td>
						    					6Days7h59m59s
						    				</td>
						    				<td>
						    					Working
						    				</td>
						    				<td>
						    					<a href="" class="action">Extend</a>
						    					<a href="" class="action">Waiting for Receipt confirm</a>
						    					<!-- <a href="" class="action">Waiting for Payment</a> -->
						    					<!-- <a href="" class="action">Waiting for Commments</a> -->
						    					<a href="" class="action">Quit</a>
						    					<a href="" class="action">Dispute</a>
						    				</td>
						    			</tr>
						    			<tr>
						    				<td>
						    					<a href="">项目名称</a>
						    				</td>
						    				<td>
						    					<a href="">Aaron Su.</a>
						    				</td>
						    				<td>
						    					100 USD
						    				</td>
						    				<td>
						    					0
						    				</td>
						    				<td>
						    					Time out
						    				</td>
						    				<td>
						    					<a href="" class="action">Extend</a>
						    					<a href="" class="action">Dispute</a>
						    				</td>
						    			</tr>
						    			<tr>
						    				<td>
						    					<a href="">项目名称</a>
						    				</td>
						    				<td>
						    					<a href="">Aaron Su.</a>
						    				</td>
						    				<td>
						    					100 USD
						    				</td>
						    				<td>
						    					
						    				</td>
						    				<td>
						    					Waiting for Receipt confirm
						    				</td>
						    				<td>
						    				</td>
						    			</tr>
						    			<tr>
						    				<td>
						    					<a href="">项目名称</a>
						    				</td>
						    				<td>
						    					<a href="">Aaron Su.</a>
						    				</td>
						    				<td>
						    					100 USD
						    				</td>
						    				<td>
						    					
						    				</td>
						    				<td>
						    					Waiting for Payment
						    				</td>
						    				<td>
						    				</td>
						    			</tr>
						    			<tr>
						    				<td>
						    					<a href="">项目名称</a>
						    				</td>
						    				<td>
						    					<a href="">Aaron Su.</a>
						    				</td>
						    				<td>
						    					100 USD
						    				</td>
						    				<td>
						    					
						    				</td>
						    				<td>
						    					Waiting for Comments
						    				</td>
						    				<td>
						    				</td>
						    			</tr>
						    		</tbody>
						    	</table>
						    </div>
						    <div role="tabpanel" class="tab-pane" id="past-work">
						    	<table class="table table-bordered">
						    		<thead>
						    			<tr class='active'>
						    				<th width="37%">Name</th>
						    				<th width="12%">Employer</th>
						    				<th width="12%">Price</th>
						    				<th width="12%">Time remaining</th>
						    				<th width="12%">Status</th>
						    				<th width="12%">Action</th>
						    			</tr>
						    		</thead>
						    		<tbody>
						    			<tr>
						    				<td>
						    					<a href="">项目名称</a>
						    				</td>
						    				<td>
						    					<a href="">Aaron Su.</a>
						    				</td>
						    				<td>
						    					100 USD
						    				</td>
						    				<td></td>
						    				<td>
						    					Success
						    				</td>
						    				<td>
						    					<a href="" class="action">Dispute</a>
						    				</td>
						    			</tr>
						    			<tr>
						    				<td>
						    					<a href="">项目名称</a>
						    				</td>
						    				<td>
						    					<a href="">Aaron Su.</a>
						    				</td>
						    				<td>
						    					100 USD
						    				</td>
						    				<td></td>
						    				<td>
						    					Failed
						    				</td>
						    				<td>
						    					<a href="" class="action">Reason</a>
						    					<a href="" class="action">Dispute</a>
						    				</td>
						    			</tr>
						    		</tbody>
						    	</table>
						    </div>
						    <div role="tabpanel" class="tab-pane" id="active-question">
						    	<table class="table table-bordered">
						    		<thead>
							    		<tr class='active'>
							    			<th width="37%">Name</th>
							    			<th width="12%">Reward</th>
							    			<th width="12%">Asker</th>
							    			<th width="12%">Time remaining</th>
							    			<th width="12%">Status</th>
							    			<th width="12%">Action</th>
							    		</tr>
						    		</thead>
						    		<tbody>
						    			<tr>
						    				<td>
						    					<a href="">我的问题</a>
						    				</td>
						    				<td>
						    					10 USD
						    				</td>
						    				<td>
						    					<a href="">Aaron Su.</a>
						    				</td>
						    				<td>
						    					6Days7h59m59s
						    				</td>
						    				<td>
						    					Answer drafting
						    				</td>
						    				<td>
						    					<a href="" class="action">Edit</a>
						    					<a href="" class="action">Cancel</a>
						    				</td>
						    			</tr>
						    			<tr>
						    				<td>
						    					<a href="">我的问题</a>
						    				</td>
						    				<td>
						    					10 USD
						    				</td>
						    				<td>
						    					<a href="">Aaron Su.</a>
						    				</td>
						    				<td>
						    					6Days7h59m59s
						    				</td>
						    				<td>
						    					Waiting for result
						    				</td>
						    				<td>
						    					<a href="" class="action">Append</a>
						    					<a href="" class="action">Quit</a>
						    				</td>
						    			</tr>
						    		</tbody>
						    	</table>
						    </div>
						    <div role="tabpanel" class="tab-pane" id="past-question-provider">
						    	<table class="table table-bordered">
						    		<thead>
							    		<tr class='active'>
							    			<th width="37%">Name</th>
							    			<th width="12%">Reward</th>
							    			<th width="12%">Asker</th>
							    			<th width="12%">Time remaining</th>
							    			<th width="12%">Status</th>
							    			<th width="12%">Action</th>
							    		</tr>
						    		</thead>
						    		<tbody>
						    			<tr>
						    				<td colspan="7" class='no-content'>
										        没有找到问题
					    					</td>
						    			</tr>
						    		</tbody>
						    	</table>
						    </div>
					  </div>
				</div>				
			</section>
		</div>
	</div>
	
</section>

<!-- footer.html -->
<% include ../publicTpl/footer.html %>
<!-- footer.html end-->
</body>
</html>