<!-- head.html -->
<% include ../publicTpl/head.html %>
<!-- head.html end-->
    
<body>
<!-- header.html -->
<% include ../publicTpl/header.html %>
<!-- header.html end-->

<section class='com-main'>
    <!--该项目情况为项目邀请时的视图页面-->
    <div class="container project-detail">
    <div class="row">
        <div class="col-md-8">
            <article class='project-detail-content section'>
                <div class='project-detail-info'>
                    <!--项目的名称-->
                    <h1 class='project-detail-title clearfix'>
                        Globally Harmonized System(GHS)
                        <span class="label label-warning">
                                Invitation
                            </span>
                        <a href="" title="" class='project-detail-title-detail pull-right'>detail &gt;</a>
                    </h1>
                    <!--项目的详细信息-->
                   
                    <div class="row">
                        <div class="col-md-6">
                            <dl class='dl-horizontal'>
                                <dt>
                                    Budget:
                                </dt>
                                <dd>
                                    20,000$
                                </dd>
                            </dl>
                            <dl class='dl-horizontal'>
                                <dt>
                                    Create Time:
                                </dt>
                                <dd>
                                    <time datetime="2014-02-01">
                                        2014-02-01
                                    </time>
                                </dd>
                            </dl>
                        </div>
                        <div class="col-md-6">
                            <dl class='dl-horizontal'>
                                <dt>
                                    Project Bids:
                                </dt>
                                <dd>
                                    <a href="" title="">
                                        80
                                    </a>
                                </dd>
                            </dl>
                            <dl class='dl-horizontal project-detail-candidates'>
                                <dt>
                                    Candidates:
                                </dt>
                                <dd>
                                    <a href="" title="" class='candidates'>
                                        <img src="./img/index/servers/12.jpg" alt="">
                                    </a>
                                     <a href="" title="" class='candidates'>
                                        <img src="./img/index/servers/13.jpg" alt="">
                                    </a>
                                     <a href="" title="" class='candidates'>
                                        <img src="./img/index/servers/14.jpg" alt="">
                                    </a>
                                     <a href="" title="" class='candidates'>
                                        <img src="./img/index/servers/15.jpg" alt="">
                                    </a>
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
                <div class='project-detail-bids'>
                    <div class="m-project-list">
                        <!--头部样式-->
                        <div class='project-list-header'>
                            <ul class='project-list-header-tab clearfix'>
                                <li class='active'>
                                    <a href="" title="">
                                        Accepted Project
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--主体内容-->
                        <div class="project-list-content">
                            <div class='project-list-content-header'>
                                <div class="clearfix">
                                    <div class="project-filter pull-left">
                                        <form action="" method="get" accept-charset="utf-8" class='form-inline'>
                                            <div class="form-group">
                                                <!--接受状态下的筛选条件-->
                                                <select class='form-control'>
                                                    <option value="">
                                                        -Choose State-
                                                    </option>
                                                    <option value="">
                                                        bidding
                                                    </option>
                                                    <option value="">
                                                        accepted
                                                    </option>
                                                    <option value="">
                                                        termination
                                                    </option>
                                                    <option value="">
                                                        cancel
                                                    </option>
                                                </select>
                                                <!--发布状态下的筛选条件-->
                                                <select class='form-control' style="display:none">
                                                    <option value="">
                                                        -Choose State-
                                                    </option>
                                                    <option value="">
                                                        Progress
                                                    </option>
                                                    <option value="">
                                                        Finish
                                                    </option>
                                                    <option value="">
                                                        Invitation
                                                    </option>
                                                    <option value="">
                                                        Cancel
                                                    </option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                    <!--搜索ajax调用方式-->
                                    <div class="project-search pull-right">
                                    <div class="form-inline">
                                      <div class="form-group">
                                        <input type="password" class="form-control" placeholder="search">
                                      </div>
                                      <button type="submit" class="btn btn-primary">search</button>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <!--列表-->
                            <!--发布任务的时候，分为几种状态？1.进行中progress 2.已完成finished 3.投标中invitation 5.已取消canceled-->
                            <div class="project-list">
                                <!--发布的任务列表-->
                                <table class='project-list-table project-list-published'>
                                    <thead>
                                        <tr>
                                            <th>
                                                <a href="javascript:;" title="hits are ordered">
                                                    state
                                                </a>
                                            </th>
                                            <th>
                                                <a href="javascript:;" title="hits are ordered">
                                                    number
                                                </a>
                                            </th>
                                            <th>
                                                <a href="javascript:;" title="hits are ordered">
                                                    title
                                                </a>
                                            </th>
                                            <th>
                                                <a href="javascript:;" title="hits are ordered">
                                                    bids
                                                </a>
                                            </th>
                                            <th>
                                                <a href="javascript:;" title="hits are ordered">
                                                    progress
                                                </a>
                                            </th>
                                            <th>
                                                <a href="javascript:;" title="hits are ordered">
                                                    creation time
                                                </a>
                                            </th>
                                            <th>
                                                <a href="javascript:;" title="hits are ordered">
                                                    actions
                                                </a>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="project-status">
                                                <span class="label label-warning">
                                                    Invitation
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    281975
                                                </span>
                                            </td>
                                            <td class="project-title">
                                                <a href="project_detail.html">
                                                    Globally Harmonized System(GHS)
                                                </a>
                                            </td>
                                            <td class='project-bids'>
                                                82
                                            </td>
                                            <td class="project-completion">
                                                <small>
                                                    0
                                                </small>
                                                <div class="progress progress-mini">
                                                    <div style="width: 0%;" class="progress-bar">
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="project-time">
                                                <small>
                                                    2014.08.15
                                                </small>
                                            </td>
                                            <td class="project-actions">
                                                <a href="projects.html#" class="btn btn-ghost-default btn-small">
                                                    Detail
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="project-status">
                                                <span class="label label-success">
                                                    Progress
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    281975
                                                </span>
                                            </td>
                                            <td class="project-title">
                                                <a href="project_detail.html">
                                                    Why is global harmonization necessary?
                                                </a>
                                            </td>
                                            <td class='project-bids'>
                                                82
                                            </td>
                                            <td class="project-completion">
                                                <small>
                                                    48%
                                                </small>
                                                <div class="progress progress-mini">
                                                    <div style="width: 48%;" class="progress-bar">
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="project-time">
                                                <small>
                                                    2014.08.15
                                                </small>
                                            </td>
                                            <td class="project-actions">
                                                <a href="projects.html#" class="btn btn-ghost-default btn-small">
                                                    Detail
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="project-status">
                                                <span class="label label-primary">
                                                    Finished
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    281975
                                                </span>
                                            </td>
                                            <td class="project-title">
                                                <a href="project_detail.html">
                                                    What are the two major elements in GHS?
                                                </a>
                                            </td>
                                            <td class='project-bids'>
                                                82
                                            </td>
                                            <td class="project-completion">
                                                <small>
                                                    100%
                                                </small>
                                                <div class="progress progress-mini">
                                                    <div style="width:100%;" class="progress-bar">
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="project-time">
                                                <small>
                                                    2014.08.15
                                                </small>
                                            </td>
                                            <td class="project-actions">
                                                <a href="projects.html#" class="btn btn-ghost-default btn-small">
                                                    Detail
                                                </a>
                                            </td>
                                        </tr>
                                        <tr class='project-cancel'>
                                            <td class="project-status">
                                                <span class="label label-default">
                                                    Canceled
                                                </span>
                                            </td>
                                            <td>
                                                <span>
                                                    281975
                                                </span>
                                            </td>
                                            <td class="project-title">
                                                <a href="project_detail.html">
                                                    What are some key terms in the GHS Vocabulary?
                                                </a>
                                            </td>
                                            <td class='project-bids project-bids-cancel'>
                                                0
                                            </td>
                                            <td class="project-completion">
                                                <small>
                                                    0
                                                </small>
                                                <div class="progress progress-mini">
                                                    <div style="width: 0" class="progress-bar">
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="project-time">
                                                <small>
                                                    2014.08.15
                                                </small>
                                            </td>
                                            <td class="project-actions">
                                                <a href="projects.html#" class="btn btn-ghost-default btn-small">
                                                    
                                                    Detail
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="col-md-4">
            <aside class='project-detail-aside'>
                <div class="project-detail-aside-description">
                <section class='project-detail-aside-item'>
                    <h3 class='project-detail-aside-item-title'>Project Category</h3>
                    <p> 
                        
                    <span class='label label-primary'>GHS</span> - <span class='label label-success'>SDS(MSDS)Authoring</span></p>
                </section>
                    <section class='project-detail-aside-item'>
                        <h3 class='project-detail-aside-item-title'>Project Description</h3>
                        <p>You will work with a Bermuda-based technology firm to enhance and maintain existing Web sites built with Joomla and integrated with CiviCRM. *** You must answer each of the screening questions below to be considered for this job *** About You ----- </p>
                    </section>
                    <section class='project-detail-aside-item project-detail-aside-documents'>
                        <h3 class='project-detail-aside-item-title'>Project Documents</h3>
                        <ul class='documents-list'>
                            <li>
                                <i class="fa fa-file-image-o"></i> 
                                <a href="" title="" class='documents-name'>Logo_zender_company.jpg</a>
                            </li>
                            <li>
                                <i class="fa fa-file-word-o"></i> 
                                <a href="" title="" class='documents-name'>Contract_20_11_2014.docx</a>
                            </li>
                            <li>
                                <i class="fa fa-file-pdf-o"></i> 
                                <a href="" title="" class='documents-name'>Email_from_Alex.pdf</a>
                            </li>
                            
                            <li>
                                <i class="fa fa-file-excel-o"></i> 
                                <a href="" title="" class='documents-name'>Email_from_Alex.xlsx</a>
                            </li>
                            
                        </ul>
                    </section>                
                </div>
            </aside>
        </div>       
    </div>

    </div>
</section>

<!-- footer.html -->
<% include ../publicTpl/footer.html %>
<!-- footer.html end-->
</body>

</html>