<!-- head.html -->
<% include ./publicTpl/head.html %>
<!-- head.html end-->
<body>
<!-- header.html -->
<% include ./publicTpl/header.html %>
<!-- header.html end-->

<div class='breadcrumb-beauty-warp'>
	<div class="container">
		<ul class='breadcrumb-beauty'>
            <li>
              <a href=""><i class="fa fa-home fa-lg"></i> Dashboard</a>
            </li>
            <li>
              <a href=""> Projects</a>
            </li>
            <li>
              <a href="#">Project Management</a>
            </li>
      	</ul>
	</div>
</div>

<section class='com-main'>
	<div class="container container--proList">
		<header class='proList-header clearfix'>
			<div class="regbuzzToggle pull-right">
		        <input id="employerView_option" type="radio" value="employer" name="usertype_option" checked="true">
		        <label for="employerView_option"> 
		            Employer
		        </label>
		        <input id="providerView_option" type="radio" value="provider" name="usertype_option">
		        <label for="providerView_option" >
		            Provider
		        </label>
		    </div>
		</header>
		<div class="proList-content">
			
			<!-- 主要内容  雇主视角-->
			<section class='proList-section section--employer-view active'>
				<div class='employer-view'>
					<!-- 主要内容 -->
					<!-- Nav tabs -->
					<ul class="nav nav-tabs nav-tabs-custom-blue">
						<li role="presentation" class="active">
							<a href="#open-for-bidding" data-toggle="tab">Open for Bidding</a>
						</li>
						<li role="presentation">
							<a href="#order-placing" data-toggle="tab">Order placing</a>
						</li>
						<li role="presentation">
							<a href="#work-in-progress" data-toggle="tab">Work in Progress</a>
						</li>
						<li role="presentation">
							<a href="#past-project" data-toggle="tab">Past Project</a>
						</li>
					</ul>

				

					<!-- Tab panes -->
					<div class="tab-content">

						<!-- open-for-bidding -->
						<div class="tab-pane active" id="open-for-bidding">
							<table data-toggle="table" data-sort-name="stargazers_count" data-sort-order="desc" data-search="true" data-show-refresh="true" data-pagination="true">
							<thead>
								<tr class='active'>
									<th width="37%" data-sortable="true">Name</th>
									<th width="12%" data-sortable="true">Bids</th>
									<th width="12%" data-sortable="true">Averagre Price</th>
									<th width="12%" data-sortable="true">Time Remaining</th>
									<th width="12%" data-sortable="true">Status</th>
									<th width="12%">Action</th>
								</tr>
							</thead>
							<tbody>
								<!-- <tr>
									<td class="CreateProject-container text-center" colspan="5">
										<a href="publish-quick.html" class="CreateProject">
										<h4 class="CreateProject-heading">创建一个新的项目</h4>
										<p class="CreateProject-description">数以百万计的优秀威客准备好助您完成令人惊奇的事情。</p>
										</a>
									</td>
								</tr> -->
								<tr>
									<td><a href="" title="竞标名称">竞标名称</a></td>
									<td>
										<a href="" title="">10</a>
									</td>
									<td>0 USD</td>
									<td>6days 7h</td>
									<td>
										<span class=''>Waiting for bids</span>
									</td>
									<td>
										<a href="" class="action">Append</a>
										<a href="" class="action">Promote</a>
										<a href="" class="action">Extend</a>
										<a href="" class="action">Cancel</a>
									</td>
								</tr>
								
								<tr>
									<td><a href="" title="竞标名称">竞标名称</a></td>
									<td><a href="" title="">10</a></td>
									<td>10 USD</td>
									<td>0</td>
									<td>
										<span class=''>Proposal Selecting</span>
									</td>
									<td>
										<a href="" class="action">Extend</a>
										<a href="" class="action">Repost</a>
										<a href="" class="action">Select</a>
										<a href="" class="action">Cancel</a>
									</td>
								</tr>
								<tr>
									<td><a href="" title="竞标名称">竞标名称</a></td>
									<td>
										<a href="" title="">10</a>
									</td>
									<td>0 USD</td>
									<td>6days 7h</td>
									<td>
										<span class=''>Waiting for bids</span>
									</td>
									<td>
										<a href="" class="action">Append</a>
										<a href="" class="action">Promote</a>
										<a href="" class="action">Extend</a>
										<a href="" class="action">Cancel</a>
									</td>
								</tr>
								
								<tr>
									<td><a href="" title="竞标名称">竞标名称</a></td>
									<td><a href="" title="">10</a></td>
									<td>10 USD</td>
									<td>0</td>
									<td>
										<span class=''>Proposal Selecting</span>
									</td>
									<td>
										<a href="" class="action">Extend</a>
										<a href="" class="action">Repost</a>
										<a href="" class="action">Select</a>
										<a href="" class="action">Cancel</a>
									</td>
								</tr>
								<tr>
									<td><a href="" title="竞标名称">竞标名称</a></td>
									<td>
										<a href="" title="">10</a>
									</td>
									<td>0 USD</td>
									<td>6days 7h</td>
									<td>
										<span class=''>Waiting for bids</span>
									</td>
									<td>
										<a href="" class="action">Append</a>
										<a href="" class="action">Promote</a>
										<a href="" class="action">Extend</a>
										<a href="" class="action">Cancel</a>
									</td>
								</tr>
								
								<tr>
									<td><a href="" title="竞标名称">竞标名称</a></td>
									<td><a href="" title="">10</a></td>
									<td>10 USD</td>
									<td>0</td>
									<td>
										<span class=''>Proposal Selecting</span>
									</td>
									<td>
										<a href="" class="action">Extend</a>
										<a href="" class="action">Repost</a>
										<a href="" class="action">Select</a>
										<a href="" class="action">Cancel</a>
									</td>
								</tr>
								<tr>
									<td><a href="" title="竞标名称">竞标名称</a></td>
									<td>
										<a href="" title="">10</a>
									</td>
									<td>0 USD</td>
									<td>6days 7h</td>
									<td>
										<span class=''>Waiting for bids</span>
									</td>
									<td>
										<a href="" class="action">Append</a>
										<a href="" class="action">Promote</a>
										<a href="" class="action">Extend</a>
										<a href="" class="action">Cancel</a>
									</td>
								</tr>
								
								<tr>
									<td><a href="" title="竞标名称">竞标名称</a></td>
									<td><a href="" title="">10</a></td>
									<td>10 USD</td>
									<td>0</td>
									<td>
										<span class=''>Proposal Selecting</span>
									</td>
									<td>
										<a href="" class="action">Extend</a>
										<a href="" class="action">Repost</a>
										<a href="" class="action">Select</a>
										<a href="" class="action">Cancel</a>
									</td>
								</tr>
								<tr>
									<td><a href="" title="竞标名称">竞标名称</a></td>
									<td>
										<a href="" title="">10</a>
									</td>
									<td>0 USD</td>
									<td>6days 7h</td>
									<td>
										<span class=''>Waiting for bids</span>
									</td>
									<td>
										<a href="" class="action">Append</a>
										<a href="" class="action">Promote</a>
										<a href="" class="action">Extend</a>
										<a href="" class="action">Cancel</a>
									</td>
								</tr>
								
								<tr>
									<td><a href="" title="竞标名称">竞标名称</a></td>
									<td><a href="" title="">10</a></td>
									<td>10 USD</td>
									<td>0</td>
									<td>
										<span class=''>Proposal Selecting</span>
									</td>
									<td>
										<a href="" class="action">Extend</a>
										<a href="" class="action">Repost</a>
										<a href="" class="action">Select</a>
										<a href="" class="action">Cancel</a>
									</td>
								</tr>
								<tr>
									<td><a href="" title="竞标名称">竞标名称</a></td>
									<td>
										<a href="" title="">10</a>
									</td>
									<td>0 USD</td>
									<td>6days 7h</td>
									<td>
										<span class=''>Waiting for bids</span>
									</td>
									<td>
										<a href="" class="action">Append</a>
										<a href="" class="action">Promote</a>
										<a href="" class="action">Extend</a>
										<a href="" class="action">Cancel</a>
									</td>
								</tr>
								
								<tr>
									<td><a href="" title="竞标名称">竞标名称</a></td>
									<td><a href="" title="">10</a></td>
									<td>10 USD</td>
									<td>0</td>
									<td>
										<span class=''>Proposal Selecting</span>
									</td>
									<td>
										<a href="" class="action">Extend</a>
										<a href="" class="action">Repost</a>
										<a href="" class="action">Select</a>
										<a href="" class="action">Cancel</a>
									</td>
								</tr>
								<tr>
									<td><a href="" title="竞标名称">竞标名称</a></td>
									<td>
										<a href="" title="">10</a>
									</td>
									<td>0 USD</td>
									<td>6days 7h</td>
									<td>
										<span class=''>Waiting for bids</span>
									</td>
									<td>
										<a href="" class="action">Append</a>
										<a href="" class="action">Promote</a>
										<a href="" class="action">Extend</a>
										<a href="" class="action">Cancel</a>
									</td>
								</tr>
								
								<tr>
									<td><a href="" title="竞标名称">竞标名称</a></td>
									<td><a href="" title="">10</a></td>
									<td>10 USD</td>
									<td>0</td>
									<td>
										<span class=''>Proposal Selecting</span>
									</td>
									<td>
										<a href="" class="action">Extend</a>
										<a href="" class="action">Repost</a>
										<a href="" class="action">Select</a>
										<a href="" class="action">Cancel</a>
									</td>
								</tr>
								<tr>
									<td><a href="" title="竞标名称">竞标名称</a></td>
									<td>
										<a href="" title="">10</a>
									</td>
									<td>0 USD</td>
									<td>6days 7h</td>
									<td>
										<span class=''>Waiting for bids</span>
									</td>
									<td>
										<a href="" class="action">Append</a>
										<a href="" class="action">Promote</a>
										<a href="" class="action">Extend</a>
										<a href="" class="action">Cancel</a>
									</td>
								</tr>
								
								<tr>
									<td><a href="" title="竞标名称">竞标名称</a></td>
									<td><a href="" title="">10</a></td>
									<td>10 USD</td>
									<td>0</td>
									<td>
										<span class=''>Proposal Selecting</span>
									</td>
									<td>
										<a href="" class="action">Extend</a>
										<a href="" class="action">Repost</a>
										<a href="" class="action">Select</a>
										<a href="" class="action">Cancel</a>
									</td>
								</tr>
								<tr>
									<td><a href="" title="竞标名称">竞标名称</a></td>
									<td>
										<a href="" title="">10</a>
									</td>
									<td>0 USD</td>
									<td>6days 7h</td>
									<td>
										<span class=''>Waiting for bids</span>
									</td>
									<td>
										<a href="" class="action">Append</a>
										<a href="" class="action">Promote</a>
										<a href="" class="action">Extend</a>
										<a href="" class="action">Cancel</a>
									</td>
								</tr>
								
								<tr>
									<td><a href="" title="竞标名称">竞标名称</a></td>
									<td><a href="" title="">10</a></td>
									<td>10 USD</td>
									<td>0</td>
									<td>
										<span class=''>Proposal Selecting</span>
									</td>
									<td>
										<a href="" class="action">Extend</a>
										<a href="" class="action">Repost</a>
										<a href="" class="action">Select</a>
										<a href="" class="action">Cancel</a>
									</td>
								</tr>
								<tr>
									<td><a href="" title="竞标名称">竞标名称</a></td>
									<td>
										<a href="" title="">10</a>
									</td>
									<td>0 USD</td>
									<td>6days 7h</td>
									<td>
										<span class=''>Waiting for bids</span>
									</td>
									<td>
										<a href="" class="action">Append</a>
										<a href="" class="action">Promote</a>
										<a href="" class="action">Extend</a>
										<a href="" class="action">Cancel</a>
									</td>
								</tr>
								
								<tr>
									<td><a href="" title="竞标名称">竞标名称</a></td>
									<td><a href="" title="">10</a></td>
									<td>10 USD</td>
									<td>0</td>
									<td>
										<span class=''>Proposal Selecting</span>
									</td>
									<td>
										<a href="" class="action">Extend</a>
										<a href="" class="action">Repost</a>
										<a href="" class="action">Select</a>
										<a href="" class="action">Cancel</a>
									</td>
								</tr>
								
							</tbody>
							</table>
						</div>
						<!-- open-for-bidding end -->

						<!-- order-placing -->
						<div class="tab-pane" id="order-placing">
							<table data-toggle="table" data-sort-name="stargazers_count" data-sort-order="desc" data-search="true" data-show-refresh="true" data-pagination="true">
								<thead>
									<tr class='active'>
										<th width="37%" data-sortable="true">Name</th>
										<th width="12%" data-sortable="true">Provider</th>
										<th width="12%" data-sortable="true">Price</th>
										<th width="12%" data-sortable="true">Time Remaining</th>
										<th width="12%" data-sortable="true">Status</th>
										<th width="12%">Action</th>
									</tr>
								</thead>
								<tbody>
									<!-- <tr>
										<td class="CreateProject-container text-center" colspan="5">
											<a href="publish-quick.html" class="CreateProject">
											<h4 class="CreateProject-heading">创建一个新的项目</h4>
											<p class="CreateProject-description">数以百万计的优秀威客准备好助您完成令人惊奇的事情。</p>
											</a>
										</td>
									</tr> -->
									<tr>
										<td>
											<a href="">订单名称</a>
										</td>
										<td><a href="">Charles C.</a></td>
										<td></td>
										<td></td>
										<td>Order Drafting</td>
										<td>
											<a href="" class='action'>Edit</a>
											<a href="" class='action'>Cancel</a>
										</td>
									</tr>
									<tr>
										<td>
											<a href="">订单名称</a>
										</td>
										<td><a href="">Charles C.</a></td>
										<td></td>
										<td></td>
										<td>Waiting for confirmation</td>
										<td>
											<a href="" class='action'>Revise</a>
											<a href="" class='action'>Cancel</a>
										</td>
									</tr>
									<tr>
										<td>
											<a href="">订单名称</a>
										</td>
										<td><a href="">Charles C.</a></td>
										<td></td>
										<td></td>
										<td>Order confirmed</td>
										<td>
											<a href="" class='action'>Revise</a>
											<a href="" class='action'>Pay</a>
											<a href="" class='action'>Cancel</a>
										</td>
									</tr>
									<tr>
										<td>
											<a href="">订单名称</a>
										</td>
										<td><a href="">Charles C.</a></td>
										<td></td>
										<td></td>
										<td>Waiting for cancellation</td>
										<td>
											<a href="" class='action'>Resume</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- order-placing end -->

						<!-- work in progress -->
						<div class="tab-pane" id="work-in-progress">
							<table data-toggle="table" data-sort-name="stargazers_count" data-sort-order="desc" data-search="true" data-show-refresh="true" data-pagination="true">
								<thead>
									<tr class='active'>
										<th width="37%" data-sortable="true">Name</th>
										<th width="12%" data-sortable="true">Provider</th>
										<th width="12%" data-sortable="true">Price</th>
										<th width="12%" data-sortable="true">Time Remaining</th>
										<th width="12%" data-sortable="true">Status</th>
										<th width="12%">Action</th>
									</tr>
								</thead>
								<tbody>
									<!-- <tr>
										<td class="CreateProject-container text-center" colspan="5">
											<a href="publish-quick.html" class="CreateProject">
											<h4 class="CreateProject-heading">创建一个新的项目</h4>
											<p class="CreateProject-description">数以百万计的优秀威客准备好助您完成令人惊奇的事情。</p>
											</a>
										</td>
									</tr> -->
									<tr>
										<td>
											<a href="">工作项目</a>
										</td>
										<td>
											<a href="">Charles C.</a>
										</td>
										<td>
											10 USD
										</td>
										<td>
											6Days7h59m59s
										</td>
										<td>
											Waiting for Deliverables
										</td>
										<td>
											<a href="" class='action'>Extend</a>
											<a href="" class='action'>Cancel</a>
										</td>
									</tr>
									<tr>
										<td>
											<a href="">工作项目</a>
										</td>
										<td>
											<a href="">Charles C.</a>
										</td>
										<td>
											10 USD
										</td>
										<td>
											0
										</td>
										<td>
											Time out
										</td>
										<td>
											<a href="" class='action'>Extend</a>
											<a href="" class='action'>Cancel</a>
										</td>
									</tr>
									<tr>
										<td>
											<a href="">工作项目</a>
										</td>
										<td>
											<a href="">Charles C.</a>
										</td>
										<td>
											10 USD
										</td>
										<td>
											6Days7h59m59s
										</td>
										<td>
											Job done
										</td>
										<td>
											<a href="" class='action'>Receipt confirm</a>
											<!-- <a href="" class='action'>Release money</a>
											<a href="" class='action'>Comment</a> -->
										</td>
									</tr>
									<tr>
										<td>
											<a href="">工作项目</a>
										</td>
										<td>
											<a href="">Charles C.</a>
										</td>
										<td>
											10 USD
										</td>
										<td>
											6Days7h59m59s
										</td>
										<td>
											Receipt confirmed
										</td>
										<td>
											<a href="" class='action'>Release money</a>
										</td>
									</tr>
									<tr>
										<td>
											<a href="">工作项目</a>
										</td>
										<td>
											<a href="">Charles C.</a>
										</td>
										<td>
											10 USD
										</td>
										<td>
											6Days7h59m59s
										</td>
										<td>
											Payed
										</td>
										<td>
											<a href="" class='action'>Write reviews</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- work in progress end -->

						<!-- past-project -->
						<div class="tab-pane" id="past-project">
							<table  data-toggle="table" data-sort-name="stargazers_count" data-sort-order="desc" data-search="true" data-show-refresh="true" data-pagination="true">
								<thead>
									<tr class='active'>
										<th width="37%" data-sortable="true">Name</th>
										<th width="12%" data-sortable="true">Provider</th>
										<th width="12%" data-sortable="true">Price</th>
										<th width="12%" data-sortable="true">Time Remaining</th>
										<th width="12%" data-sortable="true">Status</th>
										<th width="12%">Action</th>
									</tr>
								</thead>
								<tbody>
									<!-- <tr>
										<td class="CreateProject-container text-center" colspan="7">
										<a href="publish-quick.html" class="CreateProject">
											<h4 class="CreateProject-heading">创建一个新的项目</h4>
											<p class="CreateProject-description">数以百万计的优秀威客准备好助您完成令人惊奇的事情。</p>
										</a>
										</td>
									</tr> -->
									<tr>
										<td>
											<a href="">项目名称</a>
										</td>
										<td>
											<a href="">Charles C.</a>
										</td>
										<td>
											10 USD
										</td>
										<td></td>
										<td>
											Success
										</td>
										<td>
											<a href="" class="action">Add comment</a>
											<a href="" class="action">Dispute</a>
										</td>
									</tr>
									<tr>
										<td>
											<a href="">项目名称</a>
										</td>
										<td>
											<a href="">Charles C.</a>
										</td>
										<td>
											10 USD
										</td>
										<td></td>
										<td>
											Failed
										</td>
										<td>
											<a href="" class="action">Reason</a>
											<a href="" class="action">Dispute</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>

					</div>
				</div>
			</section>

			<section class='proList-section section--provider-view'>
				<!-- 威客身份 -->
				<div class="provider-view">
					  <!-- Nav tabs -->
					  <ul class="nav nav-tabs nav-tabs-custom-blue">
						    <li role="presentation" class="active">
						    	<a href="#active-bids" data-toggle="tab">Active Bids</a>
		                	</li>
		                	 <li role="presentation">
						    	<a href="#order-placing-provider" data-toggle="tab">Order Placing</a>
		                	</li>
						    <li role="presentation">
						   	 	<a href="#current-work" data-toggle="tab">Current Work</a>
						    </li>
						    <li role="presentation">
					   		 	<a href="#past-work" data-toggle="tab">Past Work</a>
		                    </li>
					  </ul>
					  
					  <div class="tab-content">
						    <div role="tabpanel" class="tab-pane active" id="active-bids">
						    	<table data-toggle="table" data-sort-name="stargazers_count" data-sort-order="desc" data-search="true" data-show-refresh="true" data-pagination="true">
						    		<thead>
						    			<tr class='active'>
						    				<th width="37%" data-sortable="true">Name</th>
						    				<th width="12%" data-sortable="true">Bids</th>
						    				<th width="12%" data-sortable="true">Average price</th>
						    				<th width="12%" data-sortable="true">Time remaining</th>
						    				<th width="12%" data-sortable="true">Status</th>
						    				<th width="12%">Action</th>
						    			</tr>
						    		</thead>
						    		<tbody>
						    			<tr>
						    				<td>
						    					<a href="">项目名称</a>
						    				</td>
						    				<td>21</td>
						    				<td>128 USD</td>
						    				<td>6Days7h59m59s</td>
						    				<td>Opening for bids</td>
						    				<td>
						    					<a href="" class="action">Edit</a>
						    					<a href="" class="action">Append</a>
						    					<a href="" class="action">Quit</a>
						    				</td>
						    			</tr>
						    			<tr>
						    				<td>
						    					<a href="">项目名称</a>
						    				</td>
						    				<td>21</td>
						    				<td>128 USD</td>
						    				<td>0</td>
						    				<td>Waiting for Result</td>
						    				<td>
						    					<a href="" class="action">Quit</a>
						    				</td>
						    			</tr>
						    		</tbody>
						    	</table>
						    </div>

						    <div role="tabpanel" class="tab-pane" id="order-placing-provider">
						    	<table data-toggle="table" data-sort-name="stargazers_count" data-sort-order="desc" data-search="true" data-show-refresh="true" data-pagination="true">
						    		<thead>
						    			<tr class='active'>
						    				<th width="37%" data-sortable="true">Name</th>
						    				<th width="12%" data-sortable="true">Employer</th>
						    				<th width="12%" data-sortable="true">Price</th>
						    				<th width="12%" data-sortable="true">Time remaining</th>
						    				<th width="12%" data-sortable="true">Status</th>
						    				<th width="12%">Action</th>
						    			</tr>
						    		</thead>
						    		<tbody>
						    			<tr>
						    				<td>
						    					<a href="">项目名称</a>
						    				</td>
						    				<td>
						    					<a href="">Aaron Su.</a>
						    				</td>
						    				<td></td>
						    				<td></td>
						    				<td>
						    					Waiting for the order
						    				</td>
						    				<td>
						    					<a href="" class="action">Quit</a>
						    				</td>
						    			</tr>
						    			<tr>
						    				<td>
						    					<a href="">项目名称</a>
						    				</td>
						    				<td>
						    					<a href="">Aaron Su.</a>
						    				</td>
						    				<td></td>
						    				<td></td>
						    				<td>
						    					Order received
						    				</td>
						    				<td>
						    					<a href="" class="action">Order Confirm</a>
						    					<a href="" class="action">Quit</a>
						    				</td>
						    			</tr>
						    			<tr>
						    				<td>
						    					<a href="">项目名称</a>
						    				</td>
						    				<td>
						    					<a href="">Aaron Su.</a>
						    				</td>
						    				<td></td>
						    				<td></td>
						    				<td>
						    					Waiting for payment
						    				</td>
						    				<td>
						    					<a href="" class="action">Quit</a>
						    				</td>
						    			</tr>
						    			<tr>
						    				<td>
						    					<a href="">项目名称</a>
						    				</td>
						    				<td>
						    					<a href="">Aaron Su.</a>
						    				</td>
						    				<td></td>
						    				<td></td>
						    				<td>
						    					Waiting for quit
						    				</td>
						    				<td>
						    					<a href="" class="action">Resume</a>
						    				</td>
						    			</tr>
						    			
						    		</tbody>
						    	</table>
						    </div>

						    <div role="tabpanel" class="tab-pane" id="current-work">
						    	<table data-toggle="table" data-sort-name="stargazers_count" data-sort-order="desc" data-search="true" data-show-refresh="true" data-pagination="true">
						    		<thead>
						    			<tr class='active'>
						    				<th width="37%" data-sortable="true">Name</th>
						    				<th width="12%" data-sortable="true">Employer</th>
						    				<th width="12%" data-sortable="true">Price</th>
						    				<th width="12%" data-sortable="true">Time remaining</th>
						    				<th width="12%" data-sortable="true">Status</th>
						    				<th width="12%">Action</th>
						    			</tr>
						    		</thead>
						    		<tbody>
						    			<tr>
						    				<td>
						    					<a href="">项目名称</a>
						    				</td>
						    				<td>
						    					<a href="">Aaron Su.</a>
						    				</td>
						    				<td>
						    					100 USD
						    				</td>
						    				<td>
						    					6Days7h59m59s
						    				</td>
						    				<td>
						    					Working
						    				</td>
						    				<td>
						    					<a href="" class="action">Extend</a>
						    					<a href="" class="action">Job Done</a>
						    					<a href="" class="action">Quit</a>
						    				</td>
						    			</tr>
						    			<tr>
						    				<td>
						    					<a href="">项目名称</a>
						    				</td>
						    				<td>
						    					<a href="">Aaron Su.</a>
						    				</td>
						    				<td>
						    					100 USD
						    				</td>
						    				<td>
						    					0
						    				</td>
						    				<td>
						    					Time out
						    				</td>
						    				<td>
						    					<a href="" class="action">Extend</a>
						    				</td>
						    			</tr>
						    			<tr>
						    				<td>
						    					<a href="">项目名称</a>
						    				</td>
						    				<td>
						    					<a href="">Aaron Su.</a>
						    				</td>
						    				<td>
						    					100 USD
						    				</td>
						    				<td>
						    					
						    				</td>
						    				<td>
						    					Waiting for Receipt confirm
						    				</td>
						    				<td>
						    				</td>
						    			</tr>
						    			<tr>
						    				<td>
						    					<a href="">项目名称</a>
						    				</td>
						    				<td>
						    					<a href="">Aaron Su.</a>
						    				</td>
						    				<td>
						    					100 USD
						    				</td>
						    				<td>
						    					
						    				</td>
						    				<td>
						    					Waiting for Payment
						    				</td>
						    				<td>
						    				</td>
						    			</tr>
						    			<tr>
						    				<td>
						    					<a href="">项目名称</a>
						    				</td>
						    				<td>
						    					<a href="">Aaron Su.</a>
						    				</td>
						    				<td>
						    					100 USD
						    				</td>
						    				<td>
						    					
						    				</td>
						    				<td>
						    					Waiting for Comments
						    				</td>
						    				<td>
						    				</td>
						    			</tr>
						    		</tbody>
						    	</table>
						    </div>

						    <div role="tabpanel" class="tab-pane" id="past-work">
						    	<table data-toggle="table" data-sort-name="stargazers_count" data-sort-order="desc" data-search="true" data-show-refresh="true" data-pagination="true">
						    		<thead>
						    			<tr class='active'>
						    				<th width="37%" data-sortable="true">Name</th>
						    				<th width="12%" data-sortable="true">Employer</th>
						    				<th width="12%" data-sortable="true">Price</th>
						    				<th width="12%" data-sortable="true">Time remaining</th>
						    				<th width="12%" data-sortable="true">Status</th>
						    				<th width="12%">Action</th>
						    			</tr>
						    		</thead>
						    		<tbody>
						    			<tr>
						    				<td>
						    					<a href="">项目名称</a>
						    				</td>
						    				<td>
						    					<a href="">Aaron Su.</a>
						    				</td>
						    				<td>
						    					100 USD
						    				</td>
						    				<td></td>
						    				<td>
						    					Success
						    				</td>
						    				<td>
						    				</td>
						    			</tr>
						    			<tr>
						    				<td>
						    					<a href="">项目名称</a>
						    				</td>
						    				<td>
						    					<a href="">Aaron Su.</a>
						    				</td>
						    				<td>
						    					100 USD
						    				</td>
						    				<td></td>
						    				<td>
						    					Failed
						    				</td>
						    				<td>
						    					<a href="" class="action">Reason</a>
						    				</td>
						    			</tr>
						    		</tbody>
						    	</table>
						    </div>
					  </div>
				</div>				
			</section>
		</div>
	</div>
	
</section>

<!-- footer.html -->
<% include ./publicTpl/footer.html %>
<!-- footer.html end-->
</body>
</html>