<!-- head.html -->
<% include ../publicTpl/head.html %>
<!-- head.html end-->

<body>
<!-- header.html -->
<% include ../publicTpl/header.html %>
<!-- header.html end-->

<!-- /header -->
<section class='com-main'>
<div class="container">
	<h1 class='proposal-title'>Submit a Proposal</h1>		
	 <form class="form-horizontal section" style='max-width: 800px'>
		<!-- 任务基本信息 -->
		<!-- Estimated Deliverables -->
		<div class="form-group">
			<label for="estimated" class='col-md-3'>Estimated Deliverables</label>
			<div class="col-md-9">
				<table class='table--proposal'>
					<tbody>
						<tr>
							<td width="80%" class='text-left'>
								<input type="text" class='form-control'>
							</td>
							<td width="20%" class='text-right'>
								<button class='btn btn-primary btn-sm'><i class="fa fa-plus"></i></button>
								<button class='btn btn-danger btn-sm'><i class="fa fa-trash"></i></button>
							</td>
						</tr>
						<tr>
							<td class='text-left'>
								<input type="text" class='form-control' >
							</td>
							<td class='text-right'>
								<button class='btn btn-primary btn-sm'><i class="fa fa-plus"></i></button>
								<button class='btn btn-danger btn-sm'><i class="fa fa-trash"></i></button>
							</td>
						</tr>
					</tbody>
					
				</table>
			</div>
		</div>
		
		<!-- Estimated Duration -->
		<div class="form-group">
			<label for="estimated" class='col-md-3'>Estimated Duration</label>
			<div class="col-md-9">	
					<input type="text" class='form-control' style='display: inline-block;width:auto'>
					<select class='form-control' style='display: inline-block;width:auto'>
						<option value="">workdays</option>
						<option value="">weeks</option>
						<option value="">months</option>
					</select>
			</div>
		</div>
		
		<!-- 报价 -->
		<div class="form-group">
			<label for="pub-budget-txt" class='col-md-3'>Quotation</label>
  			<div class="col-md-4">
  				<div class="input-group">
  					 <span class="input-group-addon">$</span>
  					<input type="number" class='form-control' value='10'>
  					<span class="input-group-addon">USD</span>
  				</div>
  			</div>
		</div>
		
		<!-- Cover Letter -->
		<div class="form-group">
			<label for="cover-letter" class='col-md-3'>Cover Letter</label>
			<div class="col-md-9">
				<textarea name="" class='form-control js-dropdown-toggle' id='cover-letter' rows='5'></textarea>
				<div class="m-oFormHelp js-dropdown-menu">
				<div class="dropdown-body">
				  	<p class='m-oFormHelp-bref'>Introduce yourself, highlight your skills and experience, and tell the client exactly why they should hire you.</p>
				  	<p class='m-oFormHelp-bref'>This is your big chance to show that you've read the job description, understand the project, and are qualified for the job.</p>
				</div>
			</div>
			</div>
			
		</div>	
		
		<!-- 附件 -->
		<div class='form-group'>
			<label for="document" class='col-md-3'>Attach a document</label>
			<div class="col-md-9">
				<input type="file" id='document'>
			</div>
		</div>

		<!--  -->
		<div class='col-md-offset-3'>
			<button type="button" class="btn btn-primary">Submit</button>
				<button type="button" class="btn btn-secondary">Save</button>
		</div>	
		
	</form>

	
</div>
</section>

<!-- 页脚部分 -->
<!-- footer.html -->
<% include ../publicTpl/footer.html %>
<!-- footer.html end-->
</body>
</html>