<!-- head.html -->
<% include ./publicTpl/head.html %>
<!-- head.html end-->
<body>
<!-- header.html -->
<% include ./publicTpl/header.html %>
<!-- header.html end-->

	<section class='com-main'>
		<div class="container">	
			<!-- 面包屑 -->
			<!-- <ol class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li class="active">Post a Project</li>
			</ol> -->
			<ul class="steps">
				<li class='step-item active'>
					<a href="" title="" class='step-1'>Describe your need</a>
				</li>
				<li class='step-item'>
					<a href="" title="" class='step-2'>Choose provider</a>
				</li>
				<li class='step-item'>
					<a href="" title="" class='step-3'>Place order</a>
				</li>
				<li class='step-item'>
					<a href="" title="" class='step-4'>Pay to Regbuzz</a>
				</li>
			</ul>
			<div class="row">
				<div class="col-md-9">
					<section class="pub-main">					
						<div class='pub-content'>
							<form class="form-horizontal" id='vue-pubController'>

								<!-- 任务基本信息 -->
								<div class="row pub-item pub-item-base">
									<h3 class='pub-item-title col-md-12'>Project Basic Information (required*)</h3>
									<div class="form-group">
										<label for="select-category" class='col-md-3'>Choose a category</label>
										<div class="col-md-9">

											<!-- 加载二级联动，此组件来自于 components/Linkage.vue -->
											<linkage v-bind:linkage-data='selectedData'></linkage>

										</div>							
									</div>
									<div class="form-group">
										<label for="job-name" class='col-md-3'>Give your job a name</label>
										<div class="col-md-9 dropdown">
											<input type="text" name="" value="" placeholder="" class='form-control dropdown-toggle' id='job-name' data-toggle="dropdown" />
											
											<!-- prompt -->
											<div class="m-oFormHelp dropdown-menu">
												<div class="dropdown-body">
													<h4 class='m-oFormHelp-title'>What's in a name?</h4>
													<p class='m-oFormHelp-bref'>A lot, actually. A concise, yet specific job name will help attract qualified applicants. For instance:</p>
													<ul class="m-oFormHelp-list">
													    <li>Author wanted for EU SDS</li>
													</ul>
												</div>
											</div>
											<!-- prompt end -->

										</div>						
									</div>	

									<!-- 暂时取消 -->
									<!-- <div class="form-group">
										<label for="" class='col-md-3'>Job Owner</label>
										<div class="col-md-9 clearfix radiobox-list">
											 <label class="c-input c-radio">
											  <input id="radio1" name="radio" type="radio" checked>
											  <span class="c-indicator"></span>
											  Post the job for meself!
											</label>
											<label class="c-input c-radio">
											  <input id="radio2" name="radio" type="radio">
											  <span class="c-indicator"></span>
											   Post the job for my company!
											</label>
										</div>
									</div>		 -->		
									
									<!-- Job Description -->
									<div class="form-group">
										<label for="pub-profile-txt" class='col-md-3'>Job Description</label>
										<div class="col-md-9">
											<div data-toggle='dropdown'>

												<!-- 加载数字计数组件，此组件来自于 components/WordCount.vue -->
												<wordcount :total-count = 1000></wordcount>
											</div>
											
											<!-- prompt -->
											<div class="m-oFormHelp dropdown-menu">
												<div class="dropdown-body">
													<h4 class='m-oFormHelp-title'>What's in a Job Description?</h4>
													<p class='m-oFormHelp-bref'>添加提示信息</p>
												</div>
											</div>
											<!-- prompt end -->
											
											
										</div>
									</div>		
									
									<!-- 预算 -->
									<div class="form-group">
										<label for="pub-budget-txt" class='col-md-3'>Budget</label>
										<div class="col-md-9">
								      		<select id="project-budget" name="budget" class='form-control' v-model='selectedBudget'>
								      			<option value="192">微项目 ($80-240 USD)</option>
								      			<option value="25">简单的项目 ($240-2000 USD)</option>
								      			<option value="26">非常小的项目 ($2000-6000 USD)</option>
								      			<option value="27">小项目 ($6000-12000 USD)</option>
								      			<option value="28" selected="selected">中等项目 ($12000-24000 USD)</option>
								      			<option value="29">大项目 ($24000-40000 USD)</option><option value="30">较大项目 ($40000-80000 USD)</option>
								      			<option value="233">非常大的项目 ($80000-160000 USD)</option>
								      			<option value="252">大项目 ($160000-400000 USD)</option>
								      			<option value="271">主要的项目 ($ &gt;400000 USD)</option>
								      			<option value="custom">自定义预算</option>
								      		</select>
								      		
								      		<!-- 自定义预算 -->
								      		<div class="pub-budget-custom" v-show='customBudget' transition="pub-expand">
								      			<div class='budget-min'>
								      				<label for="">最低收费</label>
													<div class="input-group">
														<div class="input-group-addon">$</div>
														<input type="number" class='form-control' value='1'>
														<div class="input-group-addon">USD</div>
													</div>
								      			</div>
								      			<div class='budget-max'>
								      				<label for="">最高收费</label>
								      				<div class="input-group">
														<div class="input-group-addon">$</div>
														<input type="number" class='form-control' value='1'>
														<div class="input-group-addon">USD</div>
													</div>
								      			</div>
								      		</div>

										</div>
									</div>

									<!-- Estimated Duration -->
									<div class="form-group">
										<label for="estimated" class='col-md-3'>Estimated Duration</label>
										<div class="col-md-9">
											<select class="form-control form-control-all" id='estimated'>
											    <option value="" label="Please select...">Please select...</option>
											    <option value="1" label="More than 6 months">More than 6 months</option>
											    <option value="2" label="3 to 6 months">3 to 6 months</option>
											    <option value="3" label="1 to 3 months">1 to 3 months</option>
											    <option value="4" label="Less than 1 month">Less than 1 month</option>
											    <option value="5" label="Less than 1 week">Less than 1 week</option>
											    <option value="4" label="I don't know yet">I'm not sure</option>
											</select>
										</div>
									</div>	
								</div>	
								

								<!-- 附件 -->
								<div class="row pub-item">
									<h3 class='pub-item-title col-md-12'>Attachment</h3>
									<div class='form-group'>
										<label for="document" class='col-md-3'>Attach a document</label>
										<div class="col-md-9">
											<input type="file" id='document'>
										</div>
									</div>
								</div>
								

								<!-- 候选人资质 -->
								<div class="row pub-item">
									<h3 class='pub-item-title col-md-12'>Qualifications</h3>

									<!-- Marketplace Visibility -->
									<div class="form-group">
										<label for="marketplace" class='col-md-3'>Marketplace Visibility</label>
										<div class="col-md-9">
											<select class='form-control form-control-all' id='marketplace'>
										    <option value="public" label="All consultants can find this job">All consultants can find this job</option>
										    <option value="private" label="Only people I have invited can find this job">Only people I have invited can find this job</option>
										</select>
										</div>
									</div>

									<!-- language -->
									<div class="form-group">
										<label class='col-md-3'>Special Language Requirement</label>
										<div class="col-md-9">
											
											<!-- 加载jellybean组件，此组件来自于 components/Jellybean.vue -->
											<jellybean :jellybean-data='languageData' :placeholder='placeholder' :jellybean-max=3 :msg-custom='msgCustom'></jellybean>
										</div>
									</div>
									
									<!-- skill -->
									<!-- <div class="form-group">
										<label for="skills" class='col-md-3'>What skills are needed?</label>
										<div class="col-md-9">
											<div id="jellybean">
												<ul class='jellybean-container clearfix'>
													<li class="jellybean-container-item">
														<span class="jellybean-suggest-input">
															<input type="text" value="" class="jellybean-input" placeholder="输入地区">
															<ul class='jellybean-result'></ul>
														</span>
													</li>
												</ul>
											</div>
										</div>
									</div> -->

									<!-- Location -->
									<div class="form-group">
										<label for="location" class='col-md-3'>Candidates Location</label>
										<div class="col-md-9">
											<div class="row row--no-padding">
												<div class="col-md-6">
													<select class='form-control form-control-all' id='location'>
													    <option value="" label="Any location">Any location</option>
													    <option value="3" label="East Asia">East Asia</option>
													    <option value="1" label="Eastern Europe">Eastern Europe</option>
													    <option value="2" label="Latin America">Latin America</option>
													    <option value="5" label="North America">North America</option>
													    <option value="6" label="South Asia">South Asia</option>
													    <option value="7" label="Western Europe">Western Europe</option>
													</select>
												</div>
												<div class="col-md-6">
													<select class='form-control'>
														<option value="">Any location</option>
													</select>
												</div>
											</div>
											
										</div>
									</div>	


									<!-- Verification -->
									<div class="form-group">
										<label for="" class='col-md-3'>Candidates Verification</label>
										<div class="col-md-9 clearfix radiobox-list">
											  <label class="c-input c-checkbox">
											  <input id="radio1" name="checkbox" type="checkbox" checked>
											  <span class="c-indicator"></span>
											  ID vified
											</label>
											<label class="c-input c-checkbox">
											  <input id="radio2" name="checkbox" type="checkbox" checked>
											  <span class="c-indicator"></span>
											    Email vified
											</label>
											<label class="c-input c-checkbox">
											  <input id="radio2" name="checkbox" type="checkbox" checked>
											  <span class="c-indicator"></span>
											    Phone vified
											</label>
										</div>
									</div>	

									<!-- feedback -->
								<!-- 	<div class='form-group'>
										<label for="feedback-score" class='col-md-3'>Feedback Score</label>
										<div class="col-md-9">
											<select class='form-control form-control-all' id='feedback-score'>
										    <option value="0" label="Any score" selected="selected">Any score</option>
										    <option value="3" label="At least 3">At least 3</option>
										    <option value="3.5" label="At least 3.5">At least 3.5</option>
										    <option value="4" label="At least 4">At least 4</option>
										    <option value="4.5" label="At least 4.5">At least 4.5</option>
										</select>
										</div>
									</div> -->
								</div>
								
								<!-- 自定义问题 -->
								<!-- <div class="row pub-item pub-customize">
									<h3 class='pub-item-title col-md-12'>Customize Requirements</h3>	
									<div class='form-group'>
										<label for="" class='col-md-3' style='padding-top: 0'>Screening Questions</label>
										<div class="col-md-9">
											<span>Add a few questions you'd like your candidates to answer when applying to your job</span>
											<a href="javascript:;" title="" class='add-questions'>+ add questions</a>
										</div>
									</div>						
									<div class='form-group'>
										<label for="" class='col-md-3' style='padding-top: 0'>Cover Letter</label>
										<div class="col-md-9">
											<span>Ask applicants to write a cover letter introducing themselves.</span>
											<div class="checkbox-list">
												 <label class="c-input c-checkbox"  for="cover-letter">
												  <input type="checkbox" id="cover-letter" checked>
												  <span class="c-indicator"></span>
												  Yes, require a cover letter
												</label>
											</div>
											
										</div>

									</div>
									
								</div> -->

								<!-- 不公开问题 Private Job-->
								<!-- <div class="row pub-item">
									<h3 class='pub-item-title col-md-12'>Private Informations <sub>not public*</sub></h3>	
									<div class='form-group'>
										<label for="" class='col-md-3'>Desciption of Services</label>
										<div class="col-md-9">
											<textarea name="" class='form-control'></textarea>
										</div>
									</div>						
									<div class='form-group'>
										<label for="" class='col-md-3'>Deliverables</label>
										<div class="col-md-9">
											<textarea name="" class='form-control'></textarea>
										</div>
									</div>
									<div class='form-group'>
										<label for="" class='col-md-3'>Acceptance Criteria</label>
										<div class="col-md-9">
											<textarea name="" class='form-control'></textarea>
										</div>
									</div>
									<div class='form-group'>
										<label for="" class='col-md-3'>Document upload</label>
										<div class="col-md-9">
											<input type="file" name="" value="" placeholder="">
										</div>
									</div>
								</div> -->

								<div class='form-group mt-20'>
									<div class='col-sm-offset-3 col-md-9'>
										<input type="submit" name="" value="Post Project Now" class='btn btn-primary' style='margin-right:10px'>
										<label class="c-input c-checkbox" >
										  <input id="radio2" name="checkbox" type="checkbox" checked='true'>
										  <span class="c-indicator"></span>
										    分享该任务给好友
										</label>
									</div>
								</div>
							</form>
						</div>
					</section>				
				</div>
				<div class="col-md-3">
					<aside class='pub-aside'>
						<section class='pub-aside-item pub-aside-item-contact'>
							<h3 class='pub-aside-item-title'>Contact</h3>
							<ul class='contact-list'>
								<li>
									<span class='contact-title'>HotLine</span>
									<span class='contact-des'>400-0303-200</span>
								</li>
								<li>
									<span class='contact-title'>Email</span>
									<span class='contact-des'><a href="mailto:cxd@cirscn.com">cxd@cirscn.com</a></span>
								</li>
								<li>
									<span class='contact-title'>Skype</span>
									<span class='contact-des'>1234567</span>
								</li>
							</ul>
						</section>
						<!-- <section class='pub-aside-item pub-aside-item-process'>
							<h3 class='pub-aside-item-title'>Publish Process</h3>
							<div class='process-list gradient-box'>
								
								<dl class='gradient-level gradient-level-1'>
									<dt>Step 1</dt>
									<dd>Fill in the content of the project</dd>
								</dl>
								<dl class='gradient-level gradient-level-2'>
									<dt>Step 2</dt>
									<dd>Hosting the bounty</dd>
								</dl>
								<dl class='gradient-level gradient-level-3'>
									<dt>Step 3</dt>
									<dd>Choose the candidates</dd>
								</dl>
								<dl class='gradient-level gradient-level-4'>
									<dt>Step 4</dt>
									<dd>Exchanges and cooperation</dd>
								</dl>
								<dl class='gradient-level gradient-level-5'>
									<dt>Step 5</dt>
									<dd>Satisfaction and payment</dd>
								</dl>
								
								
							</div>
						</section> -->
						<section class='pub-aside-item pub-aside-item-help'>
							<h3 class='pub-aside-item-title'>FAQs</h3>
							<ul class='help-list'>
								<li>
									<a href="" title="">What can I get done on Regbuzz?</a>
								</li>
								<li>
									<a href="" title="">How do I know I'm protected?</a>
								</li>
								<li>
									<a href="" title="">How do I pay?</a>
								</li>
								<li>
									<a href="" title="">How do I get started?</a>
								</li>
							</ul>
						</section>
						
					</aside>					
				</div>
			</div>
		</div>
	</section>

<!-- footer.html -->
<% include ./publicTpl/footer.html %>
<!-- footer.html end-->
</body>
</html>