<!-- head.html -->
<% include ./publicTpl/head.html %>
<!-- head.html end-->

<body>
<!-- header.html -->
<% include ./publicTpl/header.html %>
<!-- header.html end-->

<!-- /header -->
<section class='com-main'>
	<div class="container container--order" id='vue-order-controller'>
		<ul class="steps">
			<li class='step-item active'>
				<a href="" title="" class='step-1'>Describe your need</a>
			</li>
			<li class='step-item active'>
				<a href="" title="" class='step-2'>Choose provider</a>
			</li>
			<li class='step-item active'>
				<a href="" title="" class='step-3'>Place order</a>
			</li>
			<li class='step-item'>
				<a href="" title="" class='step-4'>Pay to Regbuzz</a>
			</li>
		</ul>
		<header class='order-header section'>
			<h1>Order Confirmation</h1>
			<div class="row">
				<div class="col-md-7">
					<dl>
						<dt><span class="order-title-prefix">Project Title</span></dt>
						<dd>
							<h2 class="order-title"><a href="" title="">Need a logo about Children Association</a></h2>
						</dd>
					</dl>
                    <!-- <div class='cooperators'>
                    	<dt><span class="order-title-prefix">合作双方</span></dt>
						<dd>
							<span class='dd-fixed-width'>雇主：</span><a href="" title="">Aaron Su</a>
						</dd>
						<dd>
							<span class='dd-fixed-width'>咨询师：</span><a href="" title="">Tom Jack</a>
						</dd>
                    </div> -->
				</div>
				<div class="col-md-5">
					<div class="order-info-id"><span>Project ID：</span> 9299728</div>
                    <div class="order-info-date"><span>Project Date：</span> 22 March 2016</div>
                   <!--  <div class='due-warp'>
                    	<span class="t-due">TOTAL DUE</span>
                    	<h2 class="due-amount">$ 3120.00</h2>
                    </div> -->
                    
				</div>
			</div>
		</header>
		<div class='panel panel-default'>
			<div class="panel-heading">
				Project Deliverables
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label for="estimated" class='col-md-2'>Estimated Deliverables</label>
					<div class="col-md-9">
						<div classs='estimated-content'>
							<div class="alert alert-estimated fade in clearfix">
								<button type="button" class="closeOut btn btn-danger-outline btn-sm" data-dismiss="alert"><span aria-hidden="true">×</span></button>
								<p class='estimated-text'>
									<input type="text" value='完成十个中文的SDS报告'>
								</p>	
							</div>
							<div class="alert alert-estimated fade in clearfix">
								<button type="button" class="closeOut btn btn-danger-outline btn-sm" data-dismiss="alert"><span aria-hidden="true">×</span></button>
								<p class='estimated-text'>
									<input type="text" value='完成十个中文的SDS报告'>
								</p>	
							</div>
						</div>
						<a href="javascript:;" title="" id='add-deliverables'>+Add Deliverables</a>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				Deadline
			</div>
			<div class="panel-body">
			  	<div class="form-horizontal">
			  		<div class="form-group">
			  			<label for="" class='col-sm-2 control-label'>开始时间: </label>
			  			<div class="col-sm-10">
			  				<p class="form-control-static">
			  					<time datetime="2011-01-12">January 12th, 2011</time>
			  				</p>
			  			</div>
			  		</div>
			  		<div class="form-group">
			  			<label for="" class='col-sm-2 control-label'>Deadline: </label>
			  			<div class="col-sm-3">
				  			<div class="input-group">
				  				<input type="date" name="" value="" placeholder="" class='form-control'>
				  				<div class="input-group-addon"><i class="fa fa-calendar"></i></div>
				  				
				  			</div>
			  				
			  			</div>
			  		</div>
			  	</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				Price
			</div>
			<div class="panel-body">
			   <table class="table table-bordered table--order">
		           
		            <tbody>
			          <tr>
			          	<td width="50%">
			          		Sub Total
			          	</td>
			          	<td width="50%">
			          		<div class="input-group" style="max-width: 200px;">
			          			<span class="input-group-addon">$</span>
			          			<input type="number" v-model='offer' class='form-control' number>
			          		</div>
		          			
			          	</td>
			          </tr>
			          <tr>
			          	<td>
			          		保证金
			          	</td>
			          	<td>
			          		{{margin | currency}}
			          	</td>
			          </tr>
			          <tr>
			          	<td>
			          		<strong class='t-due'>GRAND TOTAL</strong>
			          	</td>
			          	<td>
			          		<h2 class='due-amount'>{{finalOffer | currency}}</h2>
			          	</td>
			          </tr>
			            
		            </tbody>
	        </table>
			</div>
		</div>
		<div class='panel panel-default'>
			<div class="panel-heading">
				Responsibilities
			</div>
			<div class="panel-body">
				<ol class='responsibilities-list'>
					<li>工作开始前，甲、乙双方应确认交付物、价格、工期计划，无异议后乙方开始工作。</li>
					<li>乙方（服务商）完成工作后，甲方（雇主）应在3个工作日内予以验收和确认，验收合格后支付费用。</li>
					<li>甲方（雇主）如需增加功能需求，应与乙方（服务商）进行协商，甲方（雇主）补足差额后，双方签署的补充订单生效。</li>
					<li>如甲方（雇主）原因变更需求内容，双方意见未达成一致，可向Regbuzz发起争议或维权。Regbuzz以双方签署的订单作为调节判定的依据。</li>
					<li>无需求变更要求时，乙方（服务商）未按项目时间表完成工作，甲方（雇主）有权要求退回款项。</li>
					<li>甲方（雇主）提出的可能导致工期延后的修改意见，双方应及时签订补充合同并签字确认</li>
					<li>在约定维护期间，乙方（服务商）未兑现售后维护承诺，Regbuzz有权根据网站规则进行处罚。</li>
				</ol>
			</div>
		</div>
		<div class="section">
			<div class="row">
				<div class="col-md-6">
					<dl class="dl-horizontal">
						<dt>甲方（雇主）：</dt>
						<dd>Aaron Su</dd>
					</dl>
					<dl class="dl-horizontal">
						<dt>确认时间：</dt>
						<dd>2016年1月21日</dd>
					</dl>
				</div>
				<div class="col-md-6">
					<dl class="dl-horizontal">
						<dt>乙方（服务商）：</dt>
						<dd>富士康</dd>
					</dl>
					<dl class="dl-horizontal">
						<dt>确认时间：</dt>
						<dd>2016年1月21日</dd>
					</dl>
				</div>
			</div>
		</div>
	    <div class="text-center ">
	        <a class="btn btn-success"><i class="fa fa-check"></i> Submit</a>
	        <a class="btn btn-primary" target="_blank" href="invoice_print.html"><i class="fa fa-print"></i> Print </a>
	    </div>
	</div>
</section>

<!-- 页脚部分 -->
<!-- footer.html -->
<% include ./publicTpl/footer.html %>
<!-- footer.html end-->
</body>
</html>