<!-- head.html -->
<% include ./publicTpl/head-register.html %>
<!-- head.html end-->
<body>
<div class="com-stick-root">
	<div class="com-stick-content">
		<!-- /header -->
		<header class="header reg-header">
			<div class="header-top container clearfix">
				<h1 class='logo-container logo-container--reg pull-left'>
					<a href='#' class="brand-logo">
						<img src="./Public/img/logo.png" width="150" alt="">
					</a>
				</h1>
				<nav class="navbar pull-right">
					<div class='navbar-text text-right'>
						<p>Already have a Regbuzz account? &nbsp;<a href="" title="" class='btn btn-primary btn-sm'>Log In</a></p>
						
					</div>
				</nav>
			</div>
		</header>
		<!-- /header -->

		<!-- 注册主体 -->
		<section class='reg-main-header text-left'>
			<div class="container" >
				<h2 class='text-center'>Join Regbuzz , Hire The Top Consultants For Your Product Compliance</h2>
				<!-- <p>The Best way you realize the value of your career</p> -->
			</div>
		</section>
		<section class="container">
			<div class="reg-warp">
				<ol class="m-steps">
					<li class="current">
						<span class="m-steps-icon fa fa-user-plus"></span>
						<strong class="step">Step 1:</strong>
						Set up Your Base Account
					</li>
					<li>
						<span class="m-steps-icon fa fa-heartbeat"></span>
						<strong class="step">Step 2:</strong>
						Choose Your Interests 
					</li>
					<li>
						<span class="m-steps-icon fa fa-envelope-o"></span>
						<strong class="step">Step 3:</strong>
						Mail Authentication
					</li>
				</ol> 
				
				<!-- step1 -->
				<div class="row reg-main reg-main-1" style='display: block'>
					<div class="col-md-8">
						<div class='reg-content'>
					<!-- 社交登录 -->
							<div class='reg-social'>
								<p class='reg-title text-left'>Register quickly and easily with an existing online profile.</p>
								<div class='reg-social-link'>
									<a href="" title="" class='reg-social-link-linkedin'> <i class='fa fa-linkedin'></i> Linkedin </a>
									<a href="" title="" class='reg-social-link-facebook'> <i class='fa fa-facebook'></i> Facebook </a>
									<a href="" title="" class='reg-social-link-google'> <i class="fa fa-google-plus"></i> google+ </a>
								</div>
							</div>
					<!-- or -->							
							<div class="divider divider-horizontal">or</div>
							<div id="app">
								<validator name='validator1'>
									<form action="" class='reg-form' novalidate>
										<p class='reg-title'>Create your base account</p>
										<div class="form-group has-feedback" :class="{'has-error':firstNameShow && $validator1.firstname.invalid}">
											<label for='firstname' class='control-label'> First Name </label>
											<input type="text" name="firstname" id='firstname' placeholder="First Name" class='form-control form-control--register' v-validate:firstname="['required']" v-on:keyup='showError("firstName")'>
											<span class="fa fa-times form-control-feedback"></span>
											<div class="errors" v-show='firstNameShow'>
												<p v-if="$validator1.firstname.required">Required your first name.</p>
											</div>
										</div>
										<div class="form-group has-feedback" :class="{'has-error':lastNameShow && $validator1.lastname.invalid}">
											<label for='lastname' class='control-label'> Last Name </label>
											<input type="text" name="lastname" id='lastname' placeholder="Last Name" class='form-control form-control--register' v-validate:lastname="['required']" v-on:keyup='showError("lastName")'>
											<span class="fa fa-times form-control-feedback"></span>
											<div class="errors" v-show='lastNameShow'>
												<p v-if="$validator1.lastname.required">Required your last name.</p>
											</div>
										</div>
										<div class="form-group has-feedback" :class="{'has-error':emailShow && $validator1.email.invalid}">
										<label for='email' class='control-label'> Email </label>
											<input type="email" name="email" id='email' placeholder="Your@email.com" class='form-control form-control--register' v-validate:email="{required:true,email:true}" v-on:keyup='showError("email")'>
											<span class="fa fa-times form-control-feedback"></span>
											<div class="errors" v-show='emailShow'>
												<p v-if="$validator1.email.required">Required your email.</p>
												<p v-if="$validator1.email.email">Invalid your mail address format.</p>
											</div>
										</div>
										<div class="form-group has-feedback" :class="{'has-error':passwordShow && $validator1.password.invalid}">
										<label for='password' class='control-label'> Password </label>
											<input type="password" name="password" id='password' placeholder="********" class='form-control form-control--register' v-validate:password="{required:true,passwordFormat:true}" v-on:keyup='showError("password")'>
											<span class="fa fa-times form-control-feedback"></span>
											<div class="errors" v-show='passwordShow'>
												<p v-if="$validator1.password.required">Required your password.</p>
												<p v-if="$validator1.password.passwordFormat">at least one lowercase letter, one numeral</p>
											</div>
										</div>
										<p class='privacy'>By creating an account, you agree to our <a href="" title="">Terms & Conditions</a></p>
										<input type="submit" name="" value="Proceed" class="btn btn-block btn-primary btn--register" :disabled="!$validator1.valid">
									</form>
								</validator>
							</div>
						</div>
					</div>
					<div class="col-md-4" style='padding-bottom:60px'>
						<div class="reg-aside">
							<div class="panel panel-default">
								<div class='panel-heading'>What is a base accunt?</div>
								<div class="panel-body">
									<p>
									 -----------------预留框，用于输入相关内容-------------------------
									</p>
								</div>
							</div>
							<div class="panel  panel-default">
								<div class='panel-heading'>How to become a consultant?</div>
								<div class="panel-body">
									<p>
									 -----------------预留框，用于输入相关内容-------------------------
									</p>
								</div>
							</div>
						</div>
						
					</div>
				</div>
				<!-- step1 end -->
				
				<!-- step2 -->
				<div class="row reg-main reg-main-2"  style='display: none'>
					<div class="col-md-12">
					<div class="divider divider-horizontal divider--larger-padding">or</div>
						<p class='text-center'>
							<a href="" title="" class='skip-it'>skip it now <i class="fa fa-angle-right"></i></a>
						</p>
						<div class='reg-notice'>
							<p >
								1. 即使在此步骤没有添加支付帐号信息，您也可以在主面板非常方便的添加。但我们强烈建议您尽早绑定支付帐号，以免项目过程中因为支付原因而导致无可预计的问题。	
							</p>
							<p>
								2. regbuzz.com竭尽全力为所有用户保证支付帐号的信息安全，并承诺不会擅自使用、出售用户的账户信息。
							</p>
						</div>	
					</div>
				</div>
				<!-- step2 end -->
				<div class="reg-main reg-main-3" style='display: none'>
					<section class='reg-main-3-warp'>
							<div class="text-center">
			                    <div class="verify-sucess">
			                        <i class="fa fa-check-circle"></i>
			                        <span>验证邮件已发送</span>
			                    </div>
			                    <div class="verify-mail-des">
			                        <p>验证邮件已发送至您的邮箱<a href="javascript:void(0);">402****@qq.com</a>，点击邮件中的链接完成操作。</p>
			                        <p>验证邮件24小时内有效，请尽快验证！</p>
			                    </div>
			                    <div class="verify-mail-send">
			                        <a class="btn btn-success">立即进入邮箱</a>
			                        <!-- <a class="reSent fs12" href="#" type="3" id="J_email-resendSubmit">重新发送</a> -->
			                        <a href="javascript:void(0)" class="verify-mail-handle">已发送 <span>59</span>秒后重新发送</a>
			                    </div>
			                </div>
					</section>
				</div>
			</div>
				
			
		</section>
		<!-- 注册主体 end-->

	</div>
</div>


<footer class='com-stick-footer reg-footer'>
	<div class="text-center">
		<p class='reg-copyright'>© Copyright 2015 - 2016<a href="" title=""> Regbuzz.com</a></p>
		<p class='com-policy'>
			<a href="" title="">Cookie Policy</a>
			<a href="" title="">Terms & Conditions</a>
		</p>
	</div>
</footer>
</body>
</html>