<!-- head.html -->
<% include ./publicTpl/head.html %>
<!-- head.html end-->
<body>
<!-- header.html -->
<% include ./publicTpl/header.html %>
<!-- header.html end-->
<div class='breadcrumb-beauty-warp'>
	<div class="container">
		<ul class='breadcrumb-beauty'>
            <li>
              <a href=""><i class="fa fa-home fa-lg"></i> Dashboard</a>
            </li>
            <li>
              <a href="#"> Setting</a>
            </li>
      	</ul>
	</div>
</div>
<section class='com-main'>
<div class="container setting-container">
<div class="row">
	<div class="col-md-3 com-aside">
		<div class="list-group setting-menu">
			<a href="javascript:;" title="My Info" class='active list-group-item'>
				<i class="fa fa-user fa-fw fa-lg"></i>&nbsp; 
				Verification
			</a>
			<a href="javascript:;" title="Preference" class='list-group-item'>
				<i class="fa fa-heartbeat fa-fw fa-lg"></i>&nbsp;
				Preferences
			</a>
			<a href="javascript:;" title="Billing Methods"  class="list-group-item">
				<i class="fa fa-credit-card fa-fw fa-lg"></i>&nbsp; 
				Billing Methods
			</a>
			<a href="javascript:;" title="Password &amp; Security"  class="list-group-item">
				<i class="fa fa-lock fa-fw fa-lg"></i>&nbsp; 
				Password &amp; Security
			</a>
			<a href="javascript:;" title="Notification"  class="list-group-item">
				<!-- <i class="fa fa-check-square-o fa-fw"></i>&nbsp; 
				Trust &amp; Verification -->

				<i class="fa fa-bell fa-fw fa-lg"></i>&nbsp; 
				Notification
			</a>
			<a href="javascript:;" title="Linked Accounts" class="list-group-item">
				<i class="fa fa-link fa-fw fa-lg"></i>&nbsp; 
				Linked Accounts
			</a>
		</div>
		
	</div>
	<div class="col-md-9  com-content">
		<div class="setting-content">
			<section class="setting-section setting-section--Info active">
				<div class="panel panel-default">
					<div class="panel-heading">Verification</div>
					<div class="panel-body">
	
						<header class="basic-header clearfix">
							<div class="img pull-left">
								<img src="./img/index/servers/13.jpg" height="80" width="80" alt="">
							</div>
							<div class="user-info pull-left">
								<h2 class='user-name'>
									<a href="" title="">Aaron Su</a>
								</h2>
								<p class='position'>
									会员状态 ：<span class='ustatus'>普通会员</span> <a href="membership.html" title="" class='btn btn-success-outline btn-sm'>Upgrade Now</a>
								</p>
							</div>
						</header>
						<section class="basic-verify">
							<div class="row">
								<div class="col-md-4">
									<div class="icon active-icon">
										<i class="fa fa-envelope-o fa-4x"></i>
									</div>	
									<div class="content">
										<p class='content-title'>邮箱已验证</p>
										<p class='content-important'>szh@cirs-group.com</p>
										<a href="" title="">修改邮箱</a>
									</div>
								</div>
								<div class="col-md-4">
									<div class="icon active-icon">
										<i class="fa fa-mobile fa-4x"></i>
									</div>	
									<div class="content">
										<p>手机已验证</p>
										<p class='content-important'>+86 137****8273 </p>
										<a href="" title="">修改手机号</a>
									</div>
								</div>
								<div class="col-md-4">
									<div class="icon">
										<i class="fa fa-user fa-4x"></i>
									</div>	
									<div class="content">
										<p>身份未验证</p>
										<p><a href="" title="">立即绑定</a></p>
									</div>
								</div>
							</div>
						</section>
						<!-- <section class="basic-info-section">
							<form>
								<div class='basic-location'>
									<h2>地址</h2>
									<div class="row row--no-padding">
										<div class="col-md-6">
											<div class="form-group">
												<label for="">
													国家
												</label>
												<input type="text" class='form-control'>	
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<label for="">
													城市
												</label>
												<input type="text" class='form-control'>	
											</div>
										</div>
									</div>
								</div>
								<div class="basic-company">
									<h2>公司</h2>
									<div class="form-group">
										<label for="">
											公司
										</label>
										<input type="text" class='form-control'>	
									</div>
									<div class="form-group">
										<label for="">
											公司主页
										</label>
										<input type="text" class='form-control' placeholder='http://'>	
									</div>
								</div>
							
							
							</form>
							<button class='btn btn-primary'>保存设置</button>
						</section> -->
					</div>
				</div>
			</section>
			<section class="setting-section setting-section--preference">
				<div class="panel panel-default">
					<div class="panel-heading">Preference Setting</div>
					<div class="panel-body">
						
					</div>
				</div>
			</section>
			<section class="setting-section setting-section--bills">
				<div class="panel panel-default">
					<div class="panel-heading">Billing Methods</div>
					<div class="panel-body">
											<div class="">
						<h2 class='text-center'>ADD A BILLING METHOD</h2>
					</div>
					<div class='col-md-4'>
						<section class='pay-method pay-method--paypal'>
							<i class="pay-method-img"></i>
							<a href="" title="" class='btn btn-primary btn-small'><i class="fa fa-plus"></i> Paypal</a>
						</section>
					</div>
					<div class='col-md-4'>
						<section class='pay-method pay-method--stripe'>
							<i class="pay-method-img"></i>
							<a href="" title="" class='btn btn-primary  btn-small'><i class="fa fa-plus"></i> Stripe</a>
						</section>
						
					</div>
					<div class='col-md-4'>
						<section class='pay-method pay-method--alipay'>
							<i class="pay-method-img"></i>
							<a href="" title="" class='btn btn-primary  btn-small'><i class="fa fa-plus"></i> alipay</a>
						</section>	
					</div>
					</div>
				</div>
			</section>
			<section class="setting-section setting-section--Password">
				<div class="panel panel-default">
					<div class="panel-heading">Password & Security</div>
					<div class="panel-body">
						<div class='setting-section-item'>
							<div class="form-horizontal">
								<div class="setting-edit setting-edit-name">
									<!-- <h3 class='setting-edit-title'><i class="fa fa-lock"></i><span>Change password</span></h3> -->
									<div class='form-group'>
										<label for="user_profile_name" class='col-sm-3 control-label'>Old password：</label>
										<input id="user_profile_name" class='form-control col-sm-9' size="30" type="text"  value=''></div>
									<div class='form-group'>
										<label for="user_profile_name" class='col-sm-3 control-label'>New password：</label>
										<input id="user_profile_name" class='form-control col-sm-9' size="30" type="text"  value=''></div>
									<div class='form-group'>
										<label for="user_profile_name" class='col-sm-3 control-label'>Confirm new password：</label>
										<input id="user_profile_name" class='form-control col-sm-9' size="30" type="text"  value=''></div>
								</div>
								<p>
									<button type="submit" class="btn btn-primary">Update password</button>
								</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="setting-section setting-section--verification">
				<div class="panel panel-default">
					<div class="panel-heading">Notification</div>
					<div class="panel-body">
						
					</div>
				</div>
			</section>
			<section class="setting-section setting-section--Linked">
				<div class="panel panel-default">
					<div class="panel-heading">Linked Accounts</div>
					<div class="panel-body">
						<div class='setting-section-item'>
							<div class="setting-edit setting-edit-name">
								<!-- <h3 class='setting-edit-title'><i class="fa fa-link"></i><span>Linked Accounts</span></h3> -->
								<p class='pb-10'>Manage your linked social accounts on Regbuzz.</p>
								<div class="reg-social-link reg-social-link--setting text-center" >
									<a href="" title="" class='reg-social-link-linkedin'>
										<i class='fa fa-linkedin'></i>
										Linkedin
									</a>

									<a href="" title="" class='reg-social-link-facebook'>
										<i class='fa fa-facebook'></i>
										Facebook
									</a>

									<a href="" title="" class='reg-social-link-google'>
										<i class="fa fa-google-plus"></i>
										google+
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
</div>
</section>

<!-- footer.html -->
<% include ./publicTpl/footer.html %>
<!-- footer.html end-->
</body>
</html>