<!-- head.html -->
<% include ./publicTpl/head.html %>
<!-- head.html end-->

<body>
<!-- header.html -->
<% include ./publicTpl/header.html %>
<!-- header.html end-->

<!-- /header -->
<section class='com-main'>
	<div class="container">
		<ol class="breadcrumb">
			<li>
				<a href="#">Help Center</a>
			</li>
			<li class="active">How it works</li>
		</ol>
		<div class="help-main">
				<div class="help-content section">
				<div class='help-title'>
					<h1 class='help-title-primary'>
						How it works
					</h1>
				</div>
				<div>
					<div class='works-content'>
					    <!-- <ul class="nav nav-tabs">
					        <li role="presentation" class="active">
					            <a href="#home" data-toggle="tab">User</a>
					        </li>
					        <li role="presentation">
					            <a href="#tab" data-toggle="tab">Provider</a>
					        </li>
					    </ul> -->
					
					    <!-- Tab panes -->
					    <!-- <div class='tab-content'>
					        <div role="tabpanel" class="tab-pane fade in active" id="home">
								<ul class='works-tab-content works-tab-content--user'>
									<li>
										<h4>Post a job</h4>
										<p>Describe your need in brief,  we will connect you to professionals around the world, and start to receive applications within minutes.</p>
									</li>
									<li>
										<h4>Choose the winner</h4>
										<p>Compare Provider’s portfolios,  proposal and price to pick up a perfect match.</p>
									</li>
									<li>
										<h4>Place order</h4>
										<p>Place the order means you are willing to hire the winner, and agree with his/her proposal and price . Remember to set up the deadline and Acceptance Criteria.</p>
									</li>
									<li>
										<h4>Pay to Regbuzz</h4>
										<p>Pay the project fee to Regbuzz and start the job formally. </p>
									</li>
									<li>
										<h4>Communication and work</h4>
										<p>Communication and Work with your business partner.</p>
									</li>
									<li>
										<h4>Receipt confirm </h4>
										<p>Confirm receipt and release the money to your provider</p>
									</li>
									<li>
										<h4>Service evaluation</h4>
										<p>Make feedbacks to the service you have experienced,  it is very important for other Users in our community.</p>
									</li>
								</ul>
					        </div>
					        <div role="tabpanel" class="tab-pane fade in " id="tab">
								<ul class='works-tab-content'>
									<li>
										<h4>Apply a job</h4>
										<p> Prepare your proposal including a price,  we will connect you to clients around the world, and start your global business right away.</p>	
									</li>
									<li>
										<h4>Confirm the order</h4>
										<p>Confirm the order means you are ready to start the job, and agree with client’s offer, deadline and acceptance criteria.</p>
									</li>
									<li>
										<h4>Start working</h4>
										<p>Once Client complete the payment, Provider should start working immediately.</p>
									</li>
									<li>
										<h4>Communication and work</h4>
										<p>Communication and Work with your business partner.</p>
									</li>
									<li>
										<h4>Submit deliverables</h4>
										<p>Submit the acceptable deliverables before deadline. </p>
									</li>
								</ul>
					        </div>
					    </div> -->

					    <table class='table table-bordered'>
					    	<thead>
					    		<tr>
					    			<th class="info text-center">User</th>
					    			<th class="warning text-center">Provider</th>
					    		</tr>
					    	</thead>
					    	<tbody>
					    		<tr>
					    			<td class="info">
					    				<strong>1. Post a job</strong>
					    				<p>Describe your need in brief,  we will connect you to professionals around the world, and start to receive applications within minutes.</p>
					    			</td>
                                    <td class="warning">
                                    	<strong>1. Apply a job</strong>
                                    	<p> Prepare your proposal including a price,  we will connect you to clients around the world, and start your global business right away.</p>
                                    </td>
					    		</tr>
					    		<tr>
					    			<td class="info">
					    				<strong>2. Choose the winner</strong>
					    				<p>Compare Provider’s portfolios,  proposal and price to pick up a perfect match.</p>
					    			</td>
					    			<td class="warning">
					    				<strong></strong>
					    				<p></p>
					    			</td>
					    		</tr>
					    		<tr>
					    			<td class="info">
					    				<strong>3. Place order</strong>
					    				<p>Place the order means you are willing to hire the winner, and agree with his/her proposal and price . Remember to set up the deadline and Acceptance Criteria.</p>
					    			</td>
					    			<td class="warning">
					    				<strong>2. Confirm the order</strong>
					    				<p>Confirm the order means you are ready to start the job, and agree with client’s offer, deadline and acceptance criteria.</p>
					    			</td>
					    		</tr>
					    		<tr>
					    			<td class="info">
					    				<strong>4. Pay to Regbuzz</strong>
					    				<p>Pay the project fee to Regbuzz and start the job formally. </p>
					    			</td>
					    			<td class="warning">
					    				<strong>3. Start working</strong>
										<p>Once Client complete the payment, Provider should start working immediately.</p>
					    			</td>
					    		</tr>
					    		<tr>
					    			<td colspan="2">	
					    				<p class='text-center'>Communication and Work with your business partner.</p>
					    			</td>
					    		</tr>
					    		<tr>
					    			<td class="info">
					    				<strong>5. Receipt confirm </strong>
					    				<p>Confirm receipt and release the money to your provider</p>
					    			</td>
					    			<td class="warning">
					    				<strong>4. Submit deliverables</strong>
					    				<p>Submit the acceptable deliverables before deadline. </p>
					    			</td>
					    		</tr>
					    		<tr>
					    			<td class="info">
					    				<strong>6. Service evaluation</strong>
										<p>Make feedbacks to the service you have experienced,  it is very important for other Users in our community. </p>
					    			</td>
					    			<td class="warning"></td>
					    		</tr>
					    	</tbody>
					    </table>
					</div>
				</div>
		</div>
		</div>
	</div>
</section>

<!-- 页脚部分 -->
<!-- footer.html -->
<% include ./publicTpl/footer.html %>
<!-- footer.html end-->
</body>
</html>