// 防止加载出现原始值
[v-cloak] { display: none }

// transition 过渡
/* 必需 */

// fadeIn
@keyframes fadeIn {
  0% {
    @include opacity(0);
  }
  
  100% {
    @include opacity(1);
  }
}
.fadeIn-transition {
  animation: fadeIn .3s;
}
.fadeIn-enter, .fadeIn-leave {
	@include opacity(0);
}


// staggered
.staggered-transition {
    transition: all .5s ease;
    overflow: hidden;
    height: 300px;
}
.staggered-enter, .staggered-leave {
    opacity: 0;
    height: 0;
}

// 页面专用 
/**************************************************************************************


//publish页面
//-------------------------------------------------------------------------------------

/**
 * pub-expand 效果
 */
.pub-expand-transition {
  transition: all .3s ease;
  height: 190px;
}
.pub-expand-enter, .pub-expand-leave {
  height:0;
  @include opacity(0);
}

// end -------------------------------------------------------------------------------------
