// 防止加载出现原始值
[v-cloak] { display: none }

// transition 过渡
/* 必需 */

// fadeIn
@keyframes fadeIn {
  0% {
    @include opacity(0);
  }
  
  100% {
    @include opacity(1);
  }
}

// fadeOut
@keyframes fadeOut {
  0% {
    @include opacity(1);
  }
  
  100% {
    @include opacity(0);
  }
}

.fadeIn-transition {
  animation: fadeIn .3s;
}
.fadeIn-enter, .fadeIn-leave {
	animation: fadeOut .3s;
}



// staggered
.staggered-transition {
    transition: all .5s ease;
    overflow: hidden;
    height: 300px;
}
.staggered-enter, .staggered-leave {
    opacity: 0;
    height: 0;
}

// 页面专用 
/**************************************************************************************

//dashboard页面
//-------------------------------------------------------------------------------------
/**
 * fadeIn 效果
//  */
@keyframes slideUp {
  0% {
    // transform : translate3d(0,0,0);
    opacity: 0;
  }
  100% {
    // transform : translate3d(0,-100px,0);
    opacity: 1;
  }
}
@keyframes slideDown {
  0% {
    transform : translate3d(0,100px,0);
    opacity: 0;
  }
  100% {
    transform : translate3d(0,0,0);
    opacity: 1;
  }
}
.pushskip-transition{
   animation: slideDown .65s ease-out;
}
.pushskip-enter{
  // animation: slideUp .5s linear;
}
.pushskip-leave{
  animation:fadeOut .1s;
  display: none;
}
// end -------------------------------------------------------------------------------------

//publish页面
//-------------------------------------------------------------------------------------

/**
 * pub-expand 效果
 */
.pub-expand-transition {
  transition: all .3s ease;
  height: 190px;
}
.pub-expand-enter, .pub-expand-leave {
  height:0;
  @include opacity(0);
}

// end -------------------------------------------------------------------------------------
