.modal{
	position: absolute;
	z-index: 9999;
	border-radius: 4px;
	width: 290px;
	background: white;
	color:#666;
	border: 1px solid #CCC;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
	.modal-header{
		position: relative;
		min-height: 70px;
		padding: 10px 10px 0 70px;
		.img{
			position: absolute;
			top:10px;
			left: 10px;
			
			img{
				border-radius: 4px;
			}
		}
		.title{
			a{
				color:#666;
				font-size: 16px;
				font-size: 1.6rem;
			}
		}
		p{
			margin-bottom: 0;
		}
	}
	.modal-body{
		padding: 0 10px;
		z-index: 30;
		position: relative;
		p{
			color:#666;
		}
	}
	.modal-footer{
		padding: 10px;
		background-color: #FAFAFA;
		border-top: 1px solid #E6E6E6;
		border-radius: 0 0 4px 4px;
		line-height: 34px;

	}


}