.score{
	margin-bottom: 10px;
}
.score-title
{
	font-weight: 300;
}
.score-detail{
	background-color: #fa8911;
	display: inline-block;
	width: 30px;
	height: 24px;
	text-align: center;
	line-height: 24px;
	color:#fff;
	border-radius: 2px;
}
.score-stars{
	color:#fa8911;
}