ul{
	padding: 0;
	margin: 0;
	li{
		list-style: none;
	}
}
.onStyled{
  padding-left: 40px;
  display: block;
  margin: 1em 0;
  li{
      list-style: disc;
  }
}
// Highlighting
// -------------------------

::-webkit-selection {
  background-color: $palette-teal;
  color: $state-selection-text;
}

::-moz-selection {
  background-color: $palette-teal;
  color: $state-selection-text;
}

::selection {
  background-color:$palette-teal;
  color: $state-selection-text;
}