.account-aside,.account-content{
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
}

// account-aside
.account-aside{	
	margin-bottom: 20px;
	.account-aside-section{
		// min-height:150px;
		border-right: 1px solid #ddd;
		&:last-child{border-right: 0}
	}
	.account-name{
		padding: 10px;
	}
	.account-img{
		position: relative;
		img{
			-webkit-transition: box-shadow 0.45s;
			-o-transition: box-shadow 0.45s;
			transition: box-shadow 0.45s;
			&:hover{
				box-shadow: 0 2px 10px rgba(0,0,0,.35);
			}
		}
		.score{
			position: absolute;
			right: 10px;
			bottom:20px;
			background-color: #00b0f0;
		}
	}
	.account-call{
		padding-left: 20px;
	}
	.account-call-name,.account-call-viewpro{
		display: block;
	}
	.account-call-name{
		color:#444;
		padding-top: 5px;
		@include font-size(1.8);
		font-weight: 600;
	}
	.account-call-des{
		color:#999;
	}
	.account-call-grade{
		color:#ffc600;
	}
	.account-call-viewpro{
		margin-top:10px;
	}
	.account-ibox{
		padding: 10px;
		.header{
			position: relative;
			margin-bottom: 10px;
			padding-bottom: 10px;
			padding-top: 10px;
			
		}	
		.account-ibox-title{
			margin: 0;
			@include font-size(1.6);
			font-weight: 600;
		}
		.account-ibox-more{
			position: absolute;
			right: 10px;
			top:10px;
		}
		.content{
			position: relative;
			.row{
				width: 100%;
				margin: 0;
			}
			.col-md-6{
				padding-left: 2px;
				padding-right: 2px;
			}
		}
		// item
		.item{
			border-radius: 4px;
		}
		.panel{
			margin-bottom: 0;
		}
		.p-states h4 {
			// color: #535351;
			font-size: 14px;
			font-weight: bold;
			text-transform: uppercase;
			margin: 0;
		}
		.p-states h3 {
			// color: #2a323f;
			font-size: 25px;
			margin: 10px 0 0 0;
		}
		.chart-bar{
			margin-top: 10px;
		}
		.green-box{
			background-color: #6bc5a4;
			color:#fff;
			box-shadow: 0 5px 0 #5bb996;
			h4,h3{
				color: #fff;
			}
		}
		.blue-box{
			background-color:$palette-blue;
			color:#fff;
			box-shadow: 0 5px 0 darken($palette-blue,10%);
			h4,h3{
				color: #fff;
			}
		}
		
		.dl-horizontal--balance{
			margin-bottom:5px;
			dt,dd{
				display: inline-block;
			}
			dt{
				width: 100px;
				text-align: right;
			}
			dd{
				padding-left: 20px;
			}
		}
		.balance-value {
			color: $palette-red;
			font-size: 24px;
			font-weight: bold;
		}
		.frozen-value{
			color:$palette-red;
		}
		.account-money{
			position: absolute;
			right: 0;
			bottom:0;
		}
	}
	.account-ibox--account{
		border-bottom: 1px solid #ddd;
	}

}

// account-content
.account-content{
	padding: 20px;
	.panel{
		border: 0;
	}
}
.account-section{
	padding-top: 30px;
}

.table--account{
	th{
		background-color: #FBFBFB;
	}
	td{
		font-size: 12px;
	}
}
.account-content-footer{
	.cost-statistics{
		margin: 20px 0;
		padding-top: 8px;
	}
	.num{
		color:$palette-red;
	}
}
.account-faqs{
	h3{
		@include font-size(1.6);
		font-weight: 600;
		border-bottom: 1px dotted #ddd;
		padding-bottom: 10px;
	}
}