// account-content
.account-content{
	.panel{
		border: 0;
	}
}
.account-section{
	padding-top: 30px;
}

.table--account{
	th{
		background-color: #FBFBFB;
	}
	td{
		font-size: 12px;
	}
}
.account-content-footer{
	.cost-statistics{
		margin: 20px 0;
		padding-top: 8px;
	}
	.num{
		color:$palette-red;
	}
}
.account-faqs{
	h3{
		@include font-size(1.6);
		font-weight: 600;
		border-bottom: 1px dotted #ddd;
		padding-bottom: 10px;
	}
}