// home-heading
.home-heading{	
	min-height: 136px;
	.home-heading-section{
		border-right: 1px solid #ddd;
		&:last-child{
			border-right: 0
		}
	}
	
	.home-img{
		position: relative;
		margin-right: 20px;
		img{
			-webkit-transition: box-shadow 0.45s;
			-o-transition: box-shadow 0.45s;
			transition: box-shadow 0.45s;
			&:hover{
				box-shadow: 0 2px 10px rgba(0,0,0,.35);
			}
		}	
	}

	.home-call-name{
		color:#49586e;
		padding-top: 5px;
		display: block;
		@include font-size(1.8);
		font-weight: 600;
		margin: 0;
	}
	.home-call-position{
		color:#666;
		margin-bottom: 5px;
	}
	.home-call-account{
		margin-bottom: 10px;
	}
	.home-call-des{
		padding-top: 6px;
		padding-bottom: 6px;
		line-height: 1.43;
		margin-right: 20px;
	}	
	.home-call-profile{
		.progress{
			margin-bottom: 0;
		}
		.progress-info{
			color:lighten(#337ab7,50%);
			&:hover{
				text-decoration: underline;
			}
		}
	}
	
	// history
	.home-history{
		padding-left: 10px;
		padding-right: 10px;
	}
	.history-content{
    .view{
      display: none;
    }
    .active{
      display: block;
    }
	}
	
	.history-content-item{
		border-top: 1px solid #eee;
		margin-top: 5px;

		&>li{
			@extend %clearfix;
			padding-top: 5px;
			padding-bottom: 5px;
			border-bottom: 1px solid #eee;
			color:#66696a;	
			span{
				&.right{
					display: inline-block;
					color:#878cc9;
				@include font-size(1.7);
				}
				
			}
			&:last-child{
				border-bottom: 0;
			}
		}
	}



	// score
	.home-score{
		// padding-left:10px;
	}
	.home-score-item{
		.left,.right{
			display: inline-block;
			font-size: 14px;
		}
		.left{
			width: 40px;
		}
		.score-stars{
			@include font-size(2);
		}

	}
	.home-score-price{
		font-size: 16px;
		sup{
			font-size: 55%;
			vertical-align: bottom;
		}
	}


}

// 公共
.home-section-title{
	margin-bottom: 20px;
	@include font-size(2.0);
}


// home-post
.home-post{
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #fff;
	margin-bottom: 20px;
	&>*{
		padding-left: 0;
		padding-right: 0;
	}
	.post{
		.fa{
			color:$palette-blue;
		}
	}
}
.home-post-item{
	color:#66696a;

	font-size: 14px;
	display: block;
	padding: 8px;
	text-align: center;
	.fa{
		font-size: 22px;
		width: 40px;
		vertical-align: middle;
	}
	&:hover{
		background-color: #f1f3f5;
	}
	span{
		display: inline-block;
		vertical-align: middle;
	}
}

// 公共
.dashboard-article{
	margin-top: 20px;
	.nav{
		margin-bottom: 20px;
	}
}
.home-dynamic,.home-new{
	.col-md-1{
		padding-left: 0;
	}
	.col-md-11{
		padding-right: 0;
		padding-left: 0;
	}
}

.dashboard-content{
	margin-bottom: 20px;
}

// home-push

.home-push{
	&>.col-md-12,.col-md-6{
		padding-left: 2px;
		padding-right: 2px;
	}
	.panel-title{
		@include font-size(1.6);
	}
	.panel-body{
		padding: 20px;
	}
	.category{
		color:#ea755c;
		font-size: 12px;
	}
}
.home-push-list{
	margin-bottom: 10px;
}
.home-push-item{
	background-color : #fff;
	border-radius: 2px;
	border: 1px solid #ddd;
}
.home-push-item-header,.home-push-item-content{
	padding-left: 20px;
	padding-right: 20px;
}
.home-push-item-header {
	padding-top: 20px;
}
.home-push-title{
	a{
		color:#666;
		font-weight: 600;
		margin-bottom: 0;
		font-size: 16px;
		&:hover{
			color:$palette-blue;
			text-decoration: underline;
		}
	}
}
.home-push-state{
	color:#b6bcbc;
	padding-bottom: 10px;
	display: table;
	width: 100%;
	span{
		display: table-cell;
		text-align: left;

	}
}
.home-push-states{
	border-top: 1px solid #ddd;
	li{
		&>a{
			display: block;
			font-size: 14px;
	    	color: #555;
			border-bottom: 5px solid #ddd;
			padding: 10px 0;
			&:active{
				border-bottom-width: 2px;
				padding-top:13px;
			}
		}
	    width: 50%;
		text-align: center;
	    float: left;
	    &:first-child{
	    	border-right: 1px solid #ddd;
	    }
	}
}

// 消息
.user-new-content{
	border: 1px solid #ddd;
	background-color: #fff;
	padding: 10px;
	border-radius: 4px;
	position: relative;
	&:before{
		content: '';
		z-index: 2;
		left:-19px;
		top:5px;
		@include arrow(right,10px,#fff);
	}
	&:after{
		content: '';
		left:-20px;
		top:5px;
		@include arrow(right,10px,#ccc);
	}

	.header{
		padding: 12px 0;
		margin-bottom: 11px;
		min-height: 17px;
		border-bottom: 1px solid #EEE;
		.headline{
			margin: 0;
		}
	}
	.author{
		margin-bottom: 10px;
	}
	.author-name{
		display: inline-block;
		margin-left: 10px;
	}
	.side-article{
		position: relative;
		height: 100px;
		border: 1px solid rgba(0, 0, 0, 0.1);
	}
	.side-content-image{
		position: absolute;
		left: 0;
		top:0;
		overflow: hidden;
		border-right: 1px solid rgba(0, 0, 0, .1);
		.image-container{
			width: 165px;
			height: 98px;
			overflow: hidden;
		}
	}
	.side-content-description{
		margin-left: 180px;
		.content{
			padding-top: 10px;
			padding-bottom: 10px;
			padding-right: 10px;
			overflow: hidden;

		}
		.snippet-link{
			&:hover{
				text-decoration: underline;
			}
		}
		h4{
			font-size: 16px;
			line-height: 20px;
			color: #333;
			font-weight: normal;
			max-height: 40px;
			text-overflow: ellipsis;
			overflow: hidden;
			margin: 0;
		}
		.snippet-container{
			color:#999;
			margin-bottom: 0;
		}
	}
	.detail-footer{
		margin-top: 10px;
		a{
			&.likes{
				color:#777;
			}
		}
	}
	
}

// dashboard-dynamic
.dashboard-dynamic{

}


// aside
.home-aside-title{
	border-bottom: 1px solid #ddd;
	@include font-size(1.6);
	font-weight: 600;
	padding-top:0;
	padding-bottom: 10px;
	margin-top: 0;
	margin-bottom: 10px;
}
.home-aside-account{
	.balance-value {
		color: $palette-red;
		font-size: 24px;
		font-weight: bold;
		vertical-align: middle;
	}
	.balance-history{
		display: inline-block;
		padding-top: 6px;
		vertical-align: top;
		&:hover{
			text-decoration: underline;
		}
	}
	
}
.home-aside-test{
	.test-item{
		margin: 10px 0;
	}
}

	


