.help-header{
	padding-top: 30px;
	padding-bottom: 70px;
	background: url(https://cdn5.f-cdn.com/build/css/images/howitworks/howitworks-hero-bg.jpg?v=95073763e0ff82c98f0d547e41f59981&amp;m=6) no-repeat 50%;
	text-align: center;
	color:#fff;
	h1{
		font-size: 4rem;
	}
}
.help-panel{
	padding: 20px;
}
.help-panel-card{
	display: block;
	border-radius: 4px;
	text-align: center;
	padding: 20px;
	margin: 20px;
	color:#fff;
	cursor: pointer;
	h3{
		font-size: 1.6rem;
		margin-top: 10px;
	}
	&:hover{
		color:#fff;
	}
}

@keyframes help-card-scale {
	0% {
		transform:scale(1)
	}
	50%{
		transform:scale(1.2)
	}
	100% {
		transform:scale(1)
	}
}
.help-panel-card{
	&:hover{
		i{
			animation: help-card-scale 0.75s;
		}
	}
}
.help-panel-card-faqs{
	background-color: #1bbc9d;
	&:hover{
		background-color:darken(#1bbc9d,10%);
	}
}
.help-panel-card-guidance{
	background-color: #e84c3d;
	&:hover{
		background-color:darken(#e84c3d,10%);
	}	
}
.help-panel-card-fees{
	background-color: #96a6a6;
	&:hover{
		background-color:darken(#96a6a6,10%);
	}	
}
.help-panel-card-works{
	background-color: #3598dc;
	&:hover{
		background-color:darken(#3598dc,10%);
	}	
}
.help-panel-card-feedback{
	background-color: #9c59b8;
	&:hover{
		background-color:darken(#9c59b8,10%);
	}	
}
.help-panel-card-agreement{
	background-color: #34495d;
	&:hover{
		background-color:darken(#34495d,10%);
	}	
}


.help-main{

// guidance
	.guidance-content{
		h3{
			font-size: 14px;
			font-size: 1.4rem;
			font-weight: 600;
			margin-top: 30px;
		}
		.page{
			padding:30px 0;
		}
		.islisted{
			padding-left: 40px;
			li{
				list-style: disc;
				margin-bottom: 10px;
			}
		}
	}
	
// fee
	.fees-section{
		margin-bottom: 20px;
	}
	.help-fees-title{
		margin-top: 0;
		line-height: 27px;
		margin-bottom: 10px;
		font-size: 16px;
		font-weight: 700;
	}
	.fees-table{
		text-align: center;
		th{
			text-align: center;
		}
		.fa-times{
			color:#ccc;
		}
	}
	.fees-table-title{
		font-weight: 300;
		.fees-number{
			display: block;
			font-size: 2.6rem;
			margin: 10px 0;
			sub{
				font-size: 1.2rem;
			}
		}
		.fees-time{
			color:#767676;
		}
		.fees-level{
			font-weight: 300;
			font-size: 1.6rem;
		}
	}
	.fees-advice{
		cursor: pointer;
		border-bottom:1px dotted #ccc;
	}

	// works
	.works-tab-content{
		h4{
			font-size: 16px;
			font-size: 1.6rem;
			font-weight: 600;
		}
		li{
			padding: 20px;
			color:#fff;
		}
	}

	// faqs
	.faqs-content{
		.panel-heading--faqs{
			font-weight: 600;
		}
		.form-control--search-faqs{
			width: 200px;
			-webkit-transition:width 0.25s linear;
			-o-transition:width 0.25s linear;
			transition:width 0.25s linear;
			&:focus{
				width: 250px;
			}
		}
		.panel-body-list{
			li{
				&>a{
					display: block;
					padding: 5px;
					-webkit-transition: 0.5s;
					-o-transition: 0.5s;
					transition: 0.5s;
					border-left:4px solid transparent;
					&:hover{
						color:#444;
						border-left:4px solid $palette-red;
					}
				}
			}
			.alert{
				display: none
			}
		}	
		.faqs-result-header{
			font-size: 14px;
			font-size: 1.4rem;
			font-weight: 300;
			padding-bottom: 10px;
			border-bottom: 1px solid #f2f2f2;
		}
		.faqs-result-item{
			border-bottom: 1px solid #f1f1f1;
				&>a{
					margin-top:5px;
					margin-bottom: 5px;
				}
			.faqs-result-category{
				display: inline-block;
				color:#ccc;
				font-size: 12px;
				i{
					display: inline-block;
					margin-right: 10px;
				}
			}
			.faqs-result-title{
				margin-top: 10px;
				display: block;
			}
		}
		.faqs-result-aside-dl{
			dt,dd{
				margin-bottom: 10px;
			}
			dt{
				padding-left: 10px;
			}
			dd{
				padding-left: 20px;
			}
		}
	}

	//agreement-content
	.agreement-content{
		h3{
			font-size: 16px;
			font-size: 1.6rem;
			margin-top: 20px;
		}
	}

	// feedback
	.help-feedback-form{
		.errors{
			color: $brand-danger;			
		}
		.form-control-feedback{
			display: none;
		}
		.has-error label {
          & ~ .form-control-feedback {
            display: block;
          }
        }
	}
}

.help-title{
	margin-bottom: 30px;
	
	.help-title-primary{
		@include font-size(2.8);
		font-weight: 600;
		padding-bottom: 10px;
		margin-top: 10px;
		margin-bottom: 20px;
		border-bottom: 1px solid #ddd;
	}

}
.help-content{
	padding: 20px;
}
