.idverify-section{
	margin-bottom: 50px;
}
.idverify-img-des{
    margin-bottom: 10px;
    font-size: 12px;
    color: #787878;
}
.idverify-img-warp{
	margin-right: 100px;
}
.idverify-img{
	margin-bottom: 10px;
}
