

// list

.proList-header{
    position: relative;
    .regbuzzToggle{
        position: absolute;
        right: 0;
        top: -8px;
        display: inline-block;
        margin: 10px 0 0;
        border: 1px solid #BEC0C2;
        border-radius: 30px;
        input[type=radio]{
            visibility: hidden;
            position: absolute;
            padding: 0;
            vertical-align: bottom;
            margin: 2px;
            top: 30px;
            &:checked+label{
                color: #F7F7F7;
                background-color: #2b3340;
                border-radius: 40px;
                margin: 2px;
            }
        }
        label{
            display: inline-block;
            border: none;
            padding: 6px 26px;
            background: 0 0;
            cursor: pointer;
            margin-bottom: 0;
        }
        // input[type=radio]:checked+label
    }
}

// detail
.project-detail-title
{
    font-size: 20px;
    font-size: 2rem;
    font-weight: 600;
    margin: 0 0 30px 0;

    color: #676a6c;
    .project-detail-title-detail{
        font-size:14px;
        font-style: 1.4rem;
        text-align: right;
        display: inline-block;
        margin-left: 30px;

    }
}
.project-detail-candidates{
    .candidates{
        margin-right: 4px;
        img{
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }
    }
}
.project-detail-bids
{
    padding-top: 24px;
}


.project-detail-aside
{
    padding-top: 20px;
    padding-bottom: 20px;
}
.project-detail-aside-item
{
    margin-bottom: 30px;
}
.project-detail-aside-item-title
{
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 600;

    margin: 20px 0 10px 0;

    color: #676a6c;
}
.project-detail-aside-documents
{
    li
    {
        margin-bottom: 5px;
        i,
        a
        {
            color: #676a6c;
        }
    }
}
.project-detail-aside-documents
{
    ul
    {
        padding-left:0px;
    }
    .documents-name{
        display: inline-block;
        padding-left: 10px;
    }
}
