// project-list

.proList-header{
    position: relative;
    margin-bottom: 30px;
    .regbuzzToggle{
        // position: absolute;
        // right: 0;
        // top: -8px;
        display: inline-block;
        background-color: #fff;
        border: 1px solid #ccc;
        // border: 1px solid $palette-blue;
        border-radius: 30px;
        input[type=radio]{
            visibility: hidden;
            position: absolute;
            padding: 0;
            vertical-align: bottom;
            margin: 2px;
            top: 30px;

            &:checked+label{
                color: #F7F7F7;
                background-color: $palette-blue;
                border-radius: 40px;
                margin: 2px;
            }
        }
        label{
                        color: $palette-blue;
            display: inline-block;
            border: none;
            padding: 6px 26px;
            background: 0 0;
            cursor: pointer;
            margin-bottom: 0;
        }

    }
}
.proList-content{
    .section--employer-view,.section--provider-view{
        display: none;
        &.active{
            display: block;
        }
    }
}


// detail
.project-detail-title
{
    font-size: 20px;
    font-size: 2rem;
    font-weight: 600;
    margin: 0 0 30px 0;

    color: #676a6c;
    .project-detail-title-detail{
        font-size:14px;
        font-style: 1.4rem;
        text-align: right;
        display: inline-block;
        margin-left: 30px;

    }
}
.project-detail-candidates{
    .candidates{
        margin-right: 4px;
        img{
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }
    }
}
.project-detail-bids
{
    padding-top: 24px;
}


.project-detail-aside
{
    padding-top: 20px;
    padding-bottom: 20px;
}
.project-detail-aside-item
{
    margin-bottom: 30px;
}
.project-detail-aside-item-title
{
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 600;

    margin: 20px 0 10px 0;

    color: #676a6c;
}
.project-detail-aside-documents
{
    li
    {
        margin-bottom: 5px;
        i,
        a
        {
            color: #676a6c;
        }
    }
}
.project-detail-aside-documents
{
    ul
    {
        padding-left:0px;
    }
    .documents-name{
        display: inline-block;
        padding-left: 10px;
    }
}

.container--proList{
    .table{
        // width: auto;
        
        .btn{
            border: 0;
            display: block;
            margin: 0 auto;
            padding-top: 0;
            text-transform: capitalize;
        }
        .action{
            display: block;
            margin-bottom: 5px;
            text-transform: capitalize;
            color:#444;
            &:hover{
                color:$palette-red;
            }
        }
        th{
            text-align: center;
        }
        td{
            vertical-align: top;
            padding: 2px 10px;
            text-align: center;
            font-size: 12px;
        }
        .no-content{
            height: 100px;
            vertical-align: middle;
        }
    }



    // open-for-bidding
    .participate-img{
        text-align: left;
        img{
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border: 1px solid #ccc;
            vertical-align: top;
        }
        .more{
            vertical-align: middle;
        }
    }
}