// 公共
.container-profile
{
    height: 100%;
    margin-top: 20px;
}

.profile-info
{
    padding-top: 10px;
}
.profile-info-heading{
    position: relative;

    padding: 20px;
    padding-left: 10px;
    border-bottom: 1px solid #e3e5e8;
}
.profile-info-title
{   
    margin: 0;
    font-size: 20px;
    font-size: 2rem;
    font-weight: 600;
    color: #7f7f7f;

}
.profile-info-add
{
    position: absolute;
    top:15px;
    right: 0;
}
.profile-info-aside-title
{
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 600;

    position: relative;

    margin-top: 0;
    margin-bottom: 20px;
}


.profile-info--server
{
    padding-bottom: 30px;
}

.profile-info-item
{
    position: relative;

    padding: 20px;
}
.profile-info-item-position
{
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 600;

    padding-bottom: 5px;
}
.profile-info-item-company
{
    display: inline-block;

    padding-bottom: 5px;

    color: #66696a;
}

.profile-info-item-time
{
    padding-bottom: 10px;
    time
    {
        color: #66696a;
    }
}
.profile-info-item-mask
{
    position: absolute;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    border-radius: 2px;

    @include bgcolor-alpha(rgba(242,242,242,.5));
    a
    {
        font-size: 30px;
        font-size: 3rem;
        line-height: 60px;

        position: absolute;
        top: 50%;
        left: 50%;

        display: inline-block;

        width: 60px;
        height: 60px;
        margin-top: -30px;

        text-align: center;

        color: #9b9a9a;
        &:hover
        {
            text-decoration: none;

            color: #2185d0;
        }
    }
    .edit
    {
        margin-left: -60px;
    }
    .delete
    {
        margin-left: 0;
    }
}

// 个人档案
.profile-info--person
{
    padding-bottom: 0;
}
.profile-info--person-img
{
    position: relative;
    top: -40px;

    width: 35%;
    margin-top: 10px;
    padding: 10px;

    border: 1px solid #e3e5e8;
    border-radius: 2px;
    background-color: #fff;
}
.profile-info--person-register
{
    padding-top: 10px;
}
.profile-info--person-brief
{
    width: 65%;
    margin-top: 20px;
    padding-left: 40px;
    li
    {
        margin-bottom: 16px;
    }
    .name
    {
        font-size: 26px;
        font-size: 2.6rem;

        margin: 0;
        padding-bottom: 10px;

        border-bottom: 1px dotted #d7d7d7;
    }
    .major
    {
        font-size: 18px;
        font-size: 1.8rem;
    }
    .summary
    {
        width: 90%;
    }
    .edit
    {
        i
        {
            font-size: 20px;
            font-size: 2rem;

            color: $palette-blue;
        }
    }
}

// 服务
.profile-info--server-condition
{
    i
    {
        font-size: 16px;
        font-size: 1.6rem;

        color: #7f7f7f;
    }
}

// 技能
.profile-info--skills
{
    .skills
    {
        padding: 20px;
    }
    .skills-item
    {
        line-height: 30px;

        display: inline-block;

        height: 30px;
        margin-right: 10px;

        color: #333;
        border-radius: 4px;
        background-color: #f1f1f1;
        box-shadow: 1px 1px 1px #aaa;
        &:hover
        {
            background-color: darken(#f1f1f1,10%);
        }
        .skills-title
        {
            display: inline-block;

            padding-right: 10px;
            padding-left: 10px;
        }
        .remove
        {
            display: inline-block;

            padding-right: 10px;
            padding-left: 10px;

            color: #999;
            border-left: 1px solid #ccc;
            &:hover
            {
                color: darken(#999,5%);
            }
        }
        &:hover
        {
            text-decoration: none;
        }
    }
}

// 教育


// 右侧
.profile-info-aside
{
    // 雇佣我 
    .hire
    {
        text-align: center;
        .membership-plans-price{
            @include font-size(2.6);
            display: inline-block;
            padding-bottom: 20px;
        }
        .price-unit{
            font-size: 14px;
            display: inline-block;
            margin-left: 10px;
        }
    }
    // 认证情况
    .authentication
    {
        .icon
        {
            line-height: 30px;

            display: inline-block;

            width: 30px;
            height: 30px;
            margin-right: 14px;

            text-align: center;

            border: 1px solid #e4e6e9;
            border-radius: 50%;
            i
            {
                color: #e4e6e9;
            }
            &:last-child
            {
                margin-right: 0;
            }
            &.is-verified
            {
                border-color: $palette-blue;
                i
                {
                    color: $palette-blue;
                }
            }
        }
    }
    // 评价
    .evaluate
    {   
        .totalScore-warp{
            margin: 20px 0;
            padding-bottom: 20px;
            border-bottom: 1px solid #ddd;
        }
        .evaluate-stars
        {   
            font-size: 12px;
            li
            {
                padding: 5px 0;
            }
        }
        .item-stats
        {
            font-weight: 600;
            line-height: 26px;

            width: 35px;
            height: 26px;
            margin-right: 26px;
        }
        .item-stats-name
        {
            line-height: 26px;

            display: inline-block;

            width: 30px;
            height: 26px;
            margin-right: 10px;

            text-align: center;

            color: #fff;
            border-radius: 2px;
            background-color: #fb8a12;
        }
    }
    // 工作记录
    .history
    {
        li
        {
            padding: 10px 0;
            @extend %clearfix;
        }
        span,
        a
        {
            @include font-size(1.4);

            display: inline-block;
        }
        .item-stats-name
        {

        }
        .item-stats-value
        {
            // padding-left: 20px;

            color: $palette-blue;
        }
        
    }
    // 所属关联
    .associated
    {
        .associated-img
        {
            width: 40%;
            padding: 10px;
        }
        .associated-brief
        {
            width: 60%;
            padding: 10px;
        }
    }
    .blogs
    {
        .blogs-list
        {
            li
            {
                padding: 5px 0;
            }
            a
            {
                color: #555;
            }
        }
    }
}
