

// pub-main
.pub-main
{
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    .radiobox-list{
        .radiobox{
            margin-right: 20px;
        }
    }
}
.pub-content .row{
    margin-left: 0;
    margin-right: 0;
}
.pub-item{

    border: 1px solid #f1f1f1;
    margin-bottom: 30px;
    border-radius: 4px;
    position: relative;
    padding: 20px;
    padding-top: 80px;
    label{
        color:#999;
        font-weight: 300;
    }

}
.pub-item-title
{   
    position: absolute;
    top:10px;
    left: -10px;
    height: 40px;
    margin: 0;
    padding: 10px;
    font-size:16px;
    font-size:1.6rem;
    color:#fff;
    background-color: lighten($palette-blue,15%);

    &:before{
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border-style:solid;
        border-width: 5px;
        border-color:  darken($palette-blue,20%) darken($palette-blue,20%) transparent transparent;
        left: 0;
        top:100%;
    }
}

.pub-language-list{

    background-color: #fff;

    @include clearfix;
    li{
        float: left;
        padding:5px 10px;
       width: 100px;

    }
}

// customize
.pub-customize
{
    .add-questions
    {
        display: block;

        padding-top: 10px;
    }
}
.pub-budget-custom{
    display: none;
    width: 60%;
    padding-top: 20px;
    .budget-min,.budget-max{
        margin-bottom: 20px;
    }
}


// 侧边栏
.pub-aside
{
    // padding-left: 20px;
    padding-top: 0;

    @media screen and (max-width: 768px)
    {
        padding-left: 20px;
    }
    
    .contact-list{
        padding-left: 10px;
        &>li{
            margin-bottom: 10px;
        }
    }
    .contact-title{
        display: inline-block;
        width: 80px;
        font-weight: 600;
    }
    .contact-des{
        display: inline-block;

    }
}
.pub-aside-item
{
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;

}
.pub-aside-item-title
{
    font-size: 16px;
    font-size: 1.6rem;
    border-bottom: 1px solid #F2F2F5;
    margin-top: 0;
    font-weight: 600;
    margin-bottom: 15px;
    padding-bottom: 10px;
}
.pub-aside-item-help
{
    .help-list
    {
        line-height: 30px;
        a
        {
            color: #555;
        }

    }
}
.pub-aside-item-process{
    .process-list{
      color: #555;
    }

}



// pubResault
.pubResault-header{
    padding-top: 20px;
    padding-bottom: 20px;
    .category{
        margin-bottom: 10px;
    }
}
.pubResault-title{
    margin-top: 0;
    margin-bottom: 10px;
    @include font-size(2.4);
    font-weight: 600;
}
.table--pubResault{
    width: 100%;

    th,td{
        padding: 5px;
        vertical-align: middle;
        text-align: left;
    }
    margin-bottom: 0;
    
}
.table--center{
    th,td{
        text-align: center;
        border-right:1px solid #eee;
        &:last-child{
            border-right:0;
        }
    }
}
.pubResault-amount{
    @include font-size(2.2);
    color:$palette-orange;
}


// detail
.detail-section{
    margin-bottom: 10px;
    padding: 10px;
    .dl-horizontal>dt{
        text-align: left;
    }
    .radiobox-list{
        label{
            font-weight: 300;
        }
    }
    .documents-name{
        color:#666;
        font-size: 12px;
        &:hover{
            text-decoration: underline;
        }
    }
}
.detail-section-title{
    margin-top: 0;
    @include font-size(1.8);
    font-weight: 600;
}
.pubResault-body{
    position: relative;
    .ProjectReport{
        position: absolute;
        bottom: 15px;
        right: 15px;
        font-size: 12px;
        text-align: right;
        .ProjectReport-link{
            display: block;
            color:$palette-red;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}


// list
.pubResault-list{
    margin-top: 40px;
    // .row{
    //     margin-left: 0;
    //     margin-right: 0;
    // }
    // .header{
    //     background-color: #4D525B;
    //     padding: 5px 0;
    //     color:#fff;
    //     border-radius: 4px 4px 0 0;
    // }
    // .content{
    //     background-color: #fff;
    //     border:1px solid #ccc;
    //     border-radius:0 0 4px 4px;
    //     border-top: 0;
    // }
}
.table--list-pubResault{
    width: 100%;
    th,td{
        padding: 10px;
    }

    thead{
        background-color: #4D525B;
        padding: 5px 0;
        color:#fff;
        border-radius: 4px 4px 0 0; 
    }
    tbody{
        background-color: #fff;
        tr{
            border: 1px solid #ccc;
        }
    }

}
.pubResault-list-item{

    position: relative;
    border-bottom: 1px solid #ddd;
    .img{
        img{
            padding: 2px;
            border: 1px solid #ccc;
        }
    }
    .user-badges{
    }
    .additional-information{
        display: inline-block;
        padding-left: 20px;
    }
    .user-des{
        display: inline-block;
        margin-top: 10px;
        font-weight: 600;
        i{
            font-style: normal;color:#666;
            display: inline-block;
            margin-right: 5px;
        }
    }
    .amount{

    }
    .amount-num{
        @include font-size(2.2);
        font-weight: 600;
        display: block;
    }
    .amount-date{

    }
}


// popver
    .authentication--provider
    {   
        margin-top: 8px;
        .icon
        {
            line-height: 20px;

            display: inline-block;

            width: 20px;
            height: 20px;
            margin-right: 5px;

            text-align: center;

            border: 1px solid #e4e6e9;
            border-radius: 50%;
            i
            {
                color: #e4e6e9;
            }
            &:last-child
            {
                margin-right: 0;
            }
            &.is-verified
            {
                border-color: $palette-blue;
                i
                {
                    color: $palette-blue;
                }
            }
        }
    }