.m-oFormHelp{
	display: none;
	position:absolute;
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #59a9e5;
	min-width: 280px;
	top:-40px;
	left: 102%;
	padding: 10px 30px;
	&:before,&:after{
		content: '';
		position: absolute;
		top:40px;
	}
	&:before{
		left:-30px;
		@include arrow(right,15px,#59a9e5);
	}
	&:after{
		left:-29px;
		@include arrow(right,15px,#fff);
	}
	
	.m-oFormHelp-title{
		@include font-size(1.7);
		font-weight: 600;
		margin: 10px 0;
	}
	.m-oFormHelp-bref{
		margin: 0 0 1em;
	}
	.m-oFormHelp-list{
		padding-left:20px;
		li{
			list-style: circle;
			margin-bottom: 5px;
			font-size: 12px;
		}
	}
	
}