.m-oFormHelp{

	background-color: #fff;
	min-width: 280px;
	top:-10px;
	left: 100%;
	padding:10px 20px;
	z-index: 100;
	&:before,&:after{
		content: '';
		position: absolute;
		top:10px;
	}
	&:before{
		left:-20px;
		@include arrow(right,10px,#ccc);
	}
	&:after{
		left:-19px;
		@include arrow(right,10px,#fff);
	}
	
	.m-oFormHelp-title{
		@include font-size(1.6);
		font-weight: 600;
		margin: 10px 0;
	}
	.m-oFormHelp-bref{
		margin: 0 0 1em;
	}
	.m-oFormHelp-list{
		padding-left:20px;
		li{
			list-style: circle;
			margin-bottom: 5px;
			font-size: 12px;
		}
	}
	
}