.tags{
	position: absolute;
	left: 0;
	top: 0;
	width:50px;
	height: 26px;
	color:#fff;
	line-height: 26px;
	text-align: center;
}
.tags--hot{
	background-color: #ff9227;
}
.tags--new{
	background-color: #f94e62;
}